[2020-08-18 21:50] jbphet commented on #166
We reviewed the latest (see above) in the 8/18/2020 sound design meeting, and there was a definite collective preference for the fm-v2 and fm-v3 sounds.  For next week, we'd like to eliminate the other sound options for this and try one additional variant: fm-v3 raised either a 5th or an octave, whichever sounds better to @Ashton-Morris when he creates them (or if it's hard to decide, we could add

[2020-08-18 21:58] jbphet commented on #163
We listened to the integrated max voltage clicks in context during the 8.18.2020 sound design meeting and decided to try a version that is one octave lower for next week.  At that point, we think we can choose between them.  @Ashton-Morris will provide a revised sound and @jbphet will integrate.

[2020-08-18 22:09] jbphet commented on #163
@jessegreenberg said:

On what browser (and version of it) did you notice this?

[2020-08-18 22:18] Matthew-Moore240 commented on #163
_Do you think that the sound used to convey the voltage is reasonably effective and pleasing? If you think something else might work better, please describe it._

**I really like the voltage sound quite a bit. It for sure invokes the sound I would expect for it.**

_The sounds used to indicate the voltage level change somewhat when the voltmeter is and isn't present. Are the differences between th

[2020-08-18 22:28] jbphet commented on #163
@zepumph said:

This is a question that is very important to our thinking on this, and on sound design for PhET sims in general.  In this case, we plan to make a determination about whether the voltage sound should always be the same or vary based on whether the voltmeter is enabled will be decided based on feedback and interviews.

For next week, I'll add an option to the Sound Options Dialog tha

[2020-08-19 00:10] emily-phet commented on #163
@zepumph
Your question made me think about some of what we're learning we can do with sound and sonification.

- We can add sound effects, so physical objects "sound physical"
- We can convey the underlying model through auditory means (straight up, traditional sonification)
- We can also provide different auditory "views" so-to-speak, in the same way we provide (in some sims) different visual vie

[2020-08-19 01:53] jessegreenberg commented on #163
I used Windows 10 Chrome Version 84.0.4147.125 (Official Build) (64-bit)

[2020-08-21 01:18] jessegreenberg commented on #169
Discussed in a recent check-in meeting. We are actually not going to be finishing description work in this sim. But we are going to proceed with publishing with alternative input. So review should make sure that description code is in a good spot to remain dormant for publication for a while, and support alternative input.

[2020-08-21 01:24] jessegreenberg opened #173 "Enable magnification in this sim"
As part of the next publication of this sim, we would like to include magnification. This issue is to enable it in this sim and make sure all is working well with the feature. Assigning to myself to set the `supportsZoom` flag in package.json, and some review.

Also assigning to @jbphet so he is aware since he is doing work in this repo related to sound and will likely see through publication of t

[2020-08-21 01:27] jessegreenberg opened #174 "Add alternative input to this sim"
As part of the next publication of this sim, we would like to include alternative input. This does not support screen reader description. A lot of work has gone in to alternative input and description in this sim so there is likely very little to do.  See #169 for a review of the existing work related to this.

Also assigning to @jbphet so that he is aware that this is going to be done since he is

[2020-08-21 01:37] jessegreenberg commented on #173
Magnification is now enabled in faradays-law by default.

[2020-08-21 01:41] jessegreenberg commented on #173
Everything seems to be working well except the Checkboxes. It looks like listeners on them aren't interrupted if a panning operation  happens on them. Pressing down on a checkbox and then dragging will eventually click the checkbox when the pointer is released. I will look into that.

[2020-08-21 01:57] jessegreenberg commented on #174
Sim is running well with alternative input and running without error with `?fuzzBoard`. Keyboard navigation order looks reasonable. In addition to code review, the other work required here will be to
 - Replace code related to keyboard dragging with scenery-phet's GrabDragInteraction
 - Design and add a "Keyboard Shortcuts" dialog.

[2020-08-21 01:59] jessegreenberg commented on #173
Another issue I see is that the freely movable magnet does not pan the view when it leaves the zoomed in window. This sort of panning does happen with mouse dragging so it should happen with keyboard dragging as well.

[2020-08-24 16:20] jbphet commented on #174
@jessegreenberg says that the Friction sim probably has the best example from which to draw for the keyboard-based interaction with the magnet.

[2020-08-24 19:23] Ashton-Morris commented on #166
[I did a fifth and an octave just to me safe
](https://drive.google.com/drive/folders/1WHcnidTFlNuX8SmS6jtOl_8_2acf3yfR?usp=sharing)
- pick-up-magnet-fm-v3-fifth.wav
- put-down-magnet-fm-v3-octave.mp3
- put-down-magnet-fm-v3-octave.wav
- pick-up-magnet-fm-v3-octave.mp3
- pick-up-magnet-fm-v3-octave.wav
- put-down-magnet-fm-v3-fifth.mp3
- put-down-magnet-fm-v3-fifth.wav
- pick-up-magnet-fm-v3-fifth

[2020-08-24 20:34] jbphet opened #175 "How should the magnet be picked up when using the keyboard?"
In some of our published simulations, such as [balloons-and-static-electricity](https://phet.colorado.edu/sims/html/balloons-and-static-electricity/latest/balloons-and-static-electricity_en.html) and [friction](https://phet.colorado.edu/sims/html/friction/latest/friction_en.html), when the user needs to pick something up via keyboard navigation, they do so by tabbing to the desired object and then

[2020-08-24 20:36] jbphet commented on #175
PS: This is a child issue of #174.

[2020-08-24 20:43] jbphet opened #176 "Add keyboard help dialog"
In #174 we are adding alternative input to this sim, which will include keyboard navigation.  As part of this effort we will need to add a "Keyboard Help" dialog too.  Generally these dialogs include sim-specific language, so we will need a design for this sim that we can work from for the implementation.

Assigning to @terracoda, since that's who @jessegreenberg said it should go to.  She can rea

[2020-08-24 20:50] Ashton-Morris commented on #166
Also it was mentioned to have the voltage max sound once octave higher. I added those files as well.

- voltage-max-octave-higher.mp3
- voltage-max-octave-higher.wav

[2020-08-24 21:23] emily-phet commented on #175
@jbphet

For Faraday's Law, we'll want the to two-step interaction for selecting and then moving the magnet.

Other could give a more technical response, but I think this captures the basic idea. As part of support for non-visual access, the magnet is implemented as a custom object. Custom objects are by definition not part of the standard set of interactions, and thus must come with additional in

[2020-08-24 22:48] jbphet commented on #163
@Ashton-Morris has created new max voltage sounds but noted the information about them in a different ticket, see https://github.com/phetsims/faradays-law/issues/166#issuecomment-679359200.

[2020-08-25 17:13] jbphet commented on #175
I'll start with what was used for BASE and we can go from there.

[2020-08-25 19:03] jessegreenberg commented on #173
This should be done in the above commit. After https://github.com/phetsims/scenery/issues/1072 is addressed this will be ready for review.

[2020-08-25 20:52] jbphet commented on #166
These sounds are integrated on master along with options for selecting them.  We can review in today's sound design meeting (8/25/2020).

[2020-08-25 20:55] jbphet commented on #163
The new max voltage click sounds are now integrated into the sim on master along with options for choosing between those and the previous version (or disabling them altogether).  I've also added options for selecting between some different behaviors for the highest note in the chord that is used to portray the voltage level.  We can review in today's sound design meeting (8/25/2020).

[2020-08-25 21:35] jbphet commented on #166
We reviewed these sounds in the 8.25.2020 sound design meeting and settled on the fm-v3-fifth sounds.  @jbphet will remove the other sounds and the dialog options and finalize the code for this.

[2020-08-25 21:53] jbphet commented on #163
We reviewed the sounds used for the max positive and max negative voltages (i.e. when the voltmeter "pegs") in the 8.25.2020 sound design meeting and decided to go with the lower click sound with two full musical steps between them (e.g. from Bb to D).  @jbphet will finalize this and remove the options associated with these sounds.

[2020-08-25 22:04] jbphet commented on #163
We reviewed the behavior of the chord that is played to indicate voltage level (a.k.a. light bulb brightness) in the 8.25.2020 sound design meeting and decided to make it possible via a query parameter to set two of the possible modes so that we can interview on them and see how users respond.  The two modes are:
1. high note corresponds to voltmeter visibility
2. high note always on
The default s

[2020-08-25 22:26] jbphet commented on #161
In the 8.25.2020 sound design meeting we discussed whether to try to come up with non-default sounds for the radio buttons that select between the 1- or 2-coil configurations, as was done in the prototype.  We decided to stick with the default sounds, at least for now.

[2020-08-25 22:41] jbphet commented on #161
We've reached the stage in this process where we're finalizing some of the sounds, and I thought it would be good to have a link to a version where many of the options that we had considered were still available via the "Options..." dialog.  To that end, I've published a dev version that includes options for the magnet pick-up and release sounds, the max voltage click sounds, and the voltage indic

[2020-09-01 17:49] jbphet commented on #166
@Ashton-Morris - I've integrated what we've decided upon for the magnet grab and release sounds.  I've renamed them as follows so that you can keep track of the original source files if desired:

`pick-up-magnet-fm-v3-fifth` -> `grab-magnet`
`put-down-magnet-fm-v3-fifth` -> `release-magnet`

[2020-09-01 22:24] jessegreenberg commented on #173
https://github.com/phetsims/scenery/issues/1072 has been resolved. Zoom feature appears to be working as I would expect for everything now. @emily-phet reassigning to you to review (or assign someone else to), as I recall that was done in ratio-and-proportion.

[2020-09-02 13:20] emily-phet commented on #173
@jbphet Can you take a look at this?

[2020-09-02 14:46] KatieWoe opened #177 "CT required tandems must be supplied"
[code]

[2020-09-02 17:58] jbphet commented on #177
This was due to a checkbox that was added for prototyping sounds.  I believe I've fixed it and will watch CT to make sure.

[2020-09-02 18:08] jbphet commented on #166
@Ashton-Morris - assigning this to you to make sure that you see the information about the file renames (see the comment above).  You can close once you're aware of the changes.

[2020-09-02 18:17] jbphet opened #178 "Conduct interviews to get input on voltage sound behavior"
In #163 we have been working to add a sound generator to represent the amount of voltage that is being produced by moving the magnet near and through the coils.  We've been trying out two options, one in which the visibility of the voltmeter affects the sound that is being produced and one where the sounds are the same regardless of the voltmeter's visibility.  We'd like to get some outside input,

[2020-09-02 19:33] jbphet commented on #177
CT is now passing, closing.

[2020-09-02 19:33] #177 closed

[2020-09-02 22:26] Ashton-Morris commented on #166
Got it

[2020-09-02 22:26] #166 closed

[2020-09-04 17:23] emily-phet commented on #178
@BLFiedler - putting this on your radar for discussion next week. We have some specific questions re the sound, and will need some interviews to get those answered.

[2020-09-09 19:57] jbphet commented on #175
Since we have a clear answer to this question, I'm going to close it and implement the changes under #174.

[2020-09-09 19:57] #175 closed

[2020-09-10 13:06] terracoda commented on #176
@jbphet, I copied a design doc template into the appropriate FL folder. I will get to this as soon as I can.
I am assuming you will need special instructions for picking up (grabbing) and moving the magnet - possibly similar to Friction and BASE. And possibly some special modes for different moving at different speeds (prototyped originally with John Hung from IDRC).

I'll play with the sim and mo

[2020-09-10 13:07] terracoda commented on #176
If there are custom commands for speeds, we'll need more instructions. If not, it should be pretty straightforward.

[2020-09-10 13:25] terracoda commented on #176
@jbphet, I posted the content for a basic dialog in the design doc.
I'll need to know more about any special speeds to do anything else.

Do you have enough tot go on? I only used "bar magnet" in the initial Grab & Release instruction sand reduced to "magnet" in the Move instructions. You can use "bar magnet in all places" if it is important for the sim.

[2020-09-10 13:31] terracoda commented on #176
OOPs, I just did the basics. Let me know about deadlines if you need more.

[2020-09-10 22:41] jbphet commented on #109
@emily-phet, @jessegreenberg and @terracoda - I came across this issue when working on the keyboard a11y feature.  The last comment on it was two years ago (to the day, which is kinda weird).  It wasn't assigned to anyone, and I'm not sure whether it should be closed or whether we should continue the description work here, so I thought I'd assign it to y'all to sort it out.

[2020-09-10 22:53] jbphet commented on #103
The a11y efforts for this sim stalled out for a while, and were recently revived (see https://github.com/phetsims/faradays-law/issues/174).  The sim currently has some custom drag handling capabilities where the user can use the 1, 2, and 3 keys to move the magnet horizontally at three different speeds across the screen.  I'm in the midst of adding the space-bar-to-pick-up functionality, and my pl

[2020-09-11 00:11] emily-phet commented on #109
Thanks @jbphet
Let's leave it this open, there are some useful links here for when we focus on description next time 'round. I'm assigning to myself only.

[2020-09-12 03:12] emily-phet commented on #103
Yes, let's keep this. @jbphet please check in with @terracoda re keyboard shortcut dialog if this wasn't included already.

[2020-09-12 10:34] terracoda commented on #103
Yes, I will need to add special instructions to the Keyboard Shortcuts dialog. I do not recall exactly from memory how it works, but I am sure I can figure it out by reviewing this issue. Keeping myself assigned.

[2020-09-16 16:39] KatieWoe opened #179 "CT required tandems must be supplied"
[code]

[2020-09-16 17:10] BLFiedler commented on #178
Have at least two interviews lined up for the remainder of this week. Let me know if any other relevant details have developed outside this issue and I'll otherwise proceed with the versions above and some details Emily and I chatted out.

[2020-09-16 17:39] jbphet commented on #179
I keep forgetting the phet-io is turned on for this sim.  I've added a tandem for the newly added grab-drag interaction instance.  I'll check CT and make sure it's fixed.

[2020-09-16 18:59] jbphet commented on #179
CT has been clear for the last two cycles, so it appears that the fix has worked.  Closing.

[2020-09-16 18:59] #179 closed

[2020-09-21 21:29] jbphet commented on #176
@terracoda - I've published a dev version that includes what I believe is the desired keyboard navigation.  I've also added the hints that go with it.  There are custom keys for moving the magnet across the screen.  The "1" key moves it slowly, "2" medium, and "3" is fast.  Please play around with this and update the keyboard help dialog based on this.

dev link: https://phet-dev.colorado.edu/html

[2020-09-21 21:32] jbphet commented on #174
I've added keyboard nav, including space bar pickup up, and the hints to support it.  There were custom key behaviors already implemented for the keys '1', '2', and '3'.  @emily-phet - please review the behavior in the dev version linked below and let me know if you think changes are needed.  We can also review in the sound design meeting tomorrow (9/22/2020).

dev link: https://phet-dev.colorado.

[2020-09-22 21:22] BLFiedler commented on #178
- **Interview 1:** Sound varies version. Clicks off the voltmeter during exploration, does not notice the sound change. Identifies a "a halo noise" whenever the lightbulb starts to turn on that gets louder as voltage increases/light bulb brighter. Does not identify the pitch change, until I ask her to directly compare the sound with the voltmeter on and off several times and to listen. "One noise

[2020-09-22 22:16] jbphet opened #180 "Voltmeter should be off by default"
During today's sound design meeting it was revealed that a decision had been made a while back to have the voltmeter off by default.

[2020-09-23 15:48] terracoda commented on #176
Ok, I went deep. I have notes in the design document starting here:
https://docs.google.com/document/d/1rkjdVe7-FJh17oBIFzWv16RZG9invMrirHdh5vJWafU/edit#heading=h.i9spfv8ylvtp

I compared the visual cues with Friction which I think is most relevant. I think for that sim we decided to NOT visually cue the WASD keys because the Arrow keys work just fine when a screen reader is not enabled. The WASD

[2020-09-23 15:58] terracoda commented on #176
@jbphet, I didn't mock up the after grab state as it is a bit more complicated. It would be nice to bring a visual designer in on that conversation.

But you could try starting with something like this:
![fl-grabbed-magnet](https://user-images.githubusercontent.com/1902116/94038094-a1d66b00-fda0-11ea-92b8-47a3a075c8cd.jpg)

[2020-09-23 16:00] terracoda commented on #176
I just added above to design doc :-)

[2020-09-24 16:59] #178 closed

[2020-09-24 17:01] emily-phet commented on #161
@jbphet and @Ashton-Morris - not sure if this is the best place to put this...but based on last Tuesday's discussion, it seems like we're locked-in on what sounds to include and ready to move on to the mixing/mastering stage.

Let me know if you have a different impression.

@jbphet and @Ashton-Morris - could you work together (not sure what's involved) to do a first round of sound balancing? Mayb

[2020-09-24 17:18] Ashton-Morris commented on #161
Sure Emily. @jbphet Let me know if there are things you want to do before I take a look at the levels.

[2020-09-25 11:29] terracoda commented on #176
Sorry, @jbphet, I forgot to re-assign to you.

[2020-09-25 11:30] terracoda commented on #176
@jbphet, @emily-phet, let me know what you think this approach which seems similar to the way we handled Friction will work.

[2020-09-25 11:40] terracoda commented on #176
The drafted content for the [Keyboard Shortcuts dialog from the Design Doc](https://docs.google.com/document/d/1rkjdVe7-FJh17oBIFzWv16RZG9invMrirHdh5vJWafU/edit#heading=h.i9spfv8ylvtp) is copied here for convenience:

_**Visual Keyboard Shortcuts Dialog (visual shorthand [[means key icon]])**_
# Keyboard Shortcuts
[[Tab]] to get started.

## Grab or Release Bar Magnet
Grab or release bar magnet

[2020-09-25 16:31] jbphet commented on #161
@Ashton-Morris - I think we're ready for mixing.  Please create a separate GitHub issue for that, and then we can reference that issue for any changes that are made.

[2020-09-25 18:43] jbphet commented on #180
For reference, the issue under which the ability to hide the voltmeter was originally added was https://github.com/phetsims/faradays-law/issues/106.

[2020-09-25 18:46] jbphet commented on #180
Implemented.

@ariel-phet - I just thought I'd have you take a look at it, or assign another designer to do so, with this change in place.  It looks okay upon startup with this change in place, but a little "off balance" to me, and I was thinking that perhaps we should move the light bulb up a bit to create more of an initial symmetry.  We'd leave the voltmeter where it is and just shorten the wir

[2020-09-28 13:27] emily-phet commented on #174
@jbphet We reviewed in sound design meeting last week, and I believe thought all was well. @terracoda had some changes re magnet pickup arrows, and keyboard help menu content, which I believe is in another issue.

[2020-09-28 18:33] ariel-phet commented on #180
@jbphet yes, I think that is a good idea, to move the bulb up and shorten the voltmeter wires. I would do something like the following (also moving the bottom coil up a bit and such, it looks quite close to the scene selection buttons)

![Capture](https://user-images.githubusercontent.com/4051174/94471704-d4a8a680-0186-11eb-91d4-5a2d813c18e7.PNG)

[2020-09-28 20:05] terracoda commented on #174
Yep, I put my work in #176

[2020-10-02 18:57] jbphet commented on #176
I've created the first cut of this keyboard dialog, and there are a couple of issues that I could use help with:

@jessegreenberg - @terracoda has designed something for which there doesn't seem to be a precedent or support in the code, which is a line that exists by itself in a row without any icons.  I've left it out of the initial implementation, and am wondering what you would suggest.  Should

[2020-10-05 23:14] jbphet commented on #180
I've adjusted the layout based on the recommendation above.  I didn't go quite as high with the light bulb as is shown because I felt like it crowded the voltmeter when it was on.  @ariel-phet - please review the version on master and let me know if you think further revisions are required.  If so, let's set up a "pixel polishing" design meeting where we can tweak it in real time, since that seems

[2020-10-06 02:24] ariel-phet commented on #180
All looks good to me @jbphet

[2020-10-06 16:42] jbphet commented on #180
Cool, thanks for checking it out.  Closing.

[2020-10-06 16:42] #180 closed

[2020-10-06 18:22] jbphet opened #181 "Finalize the sound implementation"
In #161 we started working on implementing the sound design. The sounds have been selected, so it is now time to finalize the implementation. The main activities for this will be to remove the code that supports different option selections and to set the desired volume levels for all sounds.

[2020-10-06 18:23] jbphet opened #182 "Finalize the sound implementation"
In #161 we started working on implementing the sound design. The sounds have been selected, so it is now time to finalize the implementation. The main activities for this will be to remove the code that supports different option selections and to set the desired volume levels for all sounds.

[2020-10-06 18:33] jbphet commented on #182
@Ashton-Morris - I've added markers to the code for the places you need to check out, the look like this:

[code]

You can use https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.62/phet/faradays-law_en_phet.html as a dev version with the sounds set as currently shown in the code.

In my opinion, the voltage sound is quite loud at this point, which was done intentionally so that we could rea

[2020-10-07 15:18] terracoda commented on #176
@jbphet thanks for laying this out!

We may need to put the Auto-Slide directions on the top of the right-hand column to make things less cramped.

But here are some edits for the second round that might help create more space & consistency:
- [ ] add "Grabbed" to the Move and Auto-Slide headings
- [ ] remove "bar" from the small content and just use "magnet" in the small content
- [ ] make sure t

[2020-10-07 15:21] terracoda commented on #176
@jbphet, the A11y content for the dialog is also updated in the design document.

[2020-10-07 17:37] jessegreenberg commented on #176
True, there currently isn't support for this. We could add support for this in KeyboardHelpSection.js.

Is this specific to Faraday's Law or does it need to be added to BASE/friction/coulombs-law/others? I am wondering if this should be in a reusable help section for draggable things like we have for sliders and the general content.

[2020-10-07 17:44] terracoda commented on #176
Good catch @jessegreenberg, I updated the design doc, and decided to remove that line. It wasn't actually implemented, so I didn't mention it directly in the updates.

I removed it because it is quite intuitive, so learners just might do it on their own.
I originally put it in because continuous movement is important for this sim.

By "reusable help section" do you mean Basic Actions or something

[2020-10-07 17:58] jessegreenberg commented on #176
OK, sounds good. By reusable, I mean a component in common code that makes it easy to create sections like the "Move Bar Magnet" section. If all sims with a draggable component required that line, I would have recommended creating something like that. But since the line has been removed I don't think it is as important. I reviewed the existing "Move {{object}}" sections and they all have (intentio

[2020-10-08 12:45] terracoda commented on #176
Thanks @jessegreenberg, I get it.
I think removing the line is best. We haven't needed it before now, and we usually want to keep the KB Shortcuts content as brief as possible.

Also, for FL, we have the special 123 keys as an alternative which is indeed explained in detail.

[2020-10-08 12:46] terracoda commented on #176
Unassigning myslef, over to you @jbphet.

[2020-10-09 16:58] terracoda commented on #174
@jbphet, apologies for putting my screen shots in the wrong issue. Copying my comments over:

Ok, I went deep. I have notes in the design document starting here:
https://docs.google.com/document/d/1rkjdVe7-FJh17oBIFzWv16RZG9invMrirHdh5vJWafU/edit#heading=h.i9spfv8ylvtp

I compared the visual cues with Friction which I think is most relevant. I think for that sim (Friction) we decided to NOT visual

[2020-10-09 17:10] terracoda commented on #174
@jbphet, I'll add, the green arrows should disappear upon keyboard focus, so the through sequence with keyboard would go like this:
**Sim Loads with visual cue for mouse/touch:**
![Screen Shot 2020-10-09 at 2 32 02 PM](https://user-images.githubusercontent.com/1902116/95611312-3ba64500-0a3c-11eb-8c86-3d7a6c971868.png)

**Upon focus, green arrows disappear, and hint to grab and release appears:**
!

[2020-10-09 17:10] emily-phet commented on #174
Hey @terracoda can you be more specific about what is more complicated re the "after grab state"? Did you mean it's more complicated to mockup, or that there is something complicating about the design you would like?

If it needs to look exactly like Friction, perhaps @jbphet does not need a mockup. If it needs to look different, please ask @arouinfar if she can mock something up, with some input

[2020-10-09 17:19] terracoda commented on #174
Great question, when I first looked at this, I was thinking, once grabbed we would need new arrows and possibly 123,  but the I just tried it with the green arrows, and it looks ok to me.

We could change them to pink arrows once grabbed. We did that in Friction.

And I don't know if you want to cue the 123 at all on initial grab, or just leave that to the Keyboard Shortcuts dialog.

[2020-10-09 20:04] arouinfar commented on #174
It sounds like you might not need additional mockups, but if that changes, I'd be happy to mock something up @terracoda.

[2020-10-10 03:30] emily-phet commented on #174
@terracoda
Let's just indicate the 123 in the shortcuts dialog, not in the pickup/drag cue.

[2020-10-10 16:13] Ashton-Morris commented on #182
[code]

[2020-10-12 17:59] zepumph commented on #176
I made some changes to this sim's help dialog as part of https://github.com/phetsims/scenery-phet/issues/630. Most notably, I added checkbox content, as I noticed the inconsistency there. I also removed the usage of `labelMaxWidth` being passed to the general help section. This is because it was too short to prevent the scaling down of some of the newly longer texts in the general help section. I

[2020-10-12 20:40] jbphet commented on #181
Somehow two of these "Finalize the sound implementation" got created at the same time.  I'm closing this one as a duplicate since the other one (#182) has had some responses.

[2020-10-12 20:40] #181 closed

[2020-10-12 21:27] jbphet commented on #182
The patch for adjust the sound levels has been applied and committed, and we can review with the team at the next meeting and produced a dev version if needed.

[2020-10-12 22:20] jbphet commented on #173
The behavior seems good (I just tested it on master using my Dell XPS Windows device that has a touchscreen), and I looked through the commits, and I don't see anything obviously amiss.  I don't know enough about how this feature works to give the commits a very informed review though.  @jessegreenberg - is that enough to call this good, or should someone else look at it.

[2020-10-13 22:57] jbphet commented on #182
@emily-phet, @Ashton-Morris, and I listened to and reviewed the mix in today's sound design meeting, and decided that it sounded good.  No need for further changes on this at this point.

[2020-10-13 23:25] jbphet commented on #163
In today's sound design meeting @Ashton-Morris, @emily-phet, and I decide to go with the top note playing all the time regardless of whether the voltmeter is visible.  This way it is consistent, and may create a question in the mind of the users (why is the sound different sometimes?) which they may then figure out once they make the voltmeter visible.

[2020-10-14 17:28] jbphet commented on #163
The sounds are in place and have been internally reviewed quite a bit at this point.  I'm going to unassign the issue, but leave it open to make sure that we check these over at least one final time before publication.

[2020-10-14 18:06] zepumph opened #183 "Visual cue arrows "flickering" bug"
Discovered while working on visibleProperty stuff over in https://github.com/phetsims/scenery/issues/1046.

The magnet arrows go away correctly but are shown again on the next press, only to be hidden when dragged.

Steps to reproduce:
1. Faradays law sim open
2. click and drag and let go of the magnets, now no more arrows are visible.
3. click and don't move the mouse at all, arrows toggle visibl

[2020-10-14 19:09] jbphet commented on #183
This behavior is in active development at the moment, see https://github.com/phetsims/faradays-law/issues/174, and the problem described will be fixed as part of that effort, so there is no need for a separate issue.  Closing.

[2020-10-14 19:09] #183 closed

[2020-10-19 22:37] jbphet commented on #176
@terracoda - I've implemented it as currently specified and published a dev version (link below), please review and let me know what you would like for the next steps.  Overall, it looks pretty good to me, but I had to put additional line breaks in a couple of the phrases to make them fit without getting their fonts reduced, and we might want to consider making these shorter.

Please assign back t

[2020-10-19 22:45] jbphet commented on #174
@terracoda and @emily-phet - I've implemented the interaction between keyboard nav and visual hints as described above and folded in what we've discussed in meetings.  This is published it in a dev version (see link below).  Please review and let me know if you think further revisions are needed.

One specific question: In the version linked below, if the user first moves the magnet with the mouse

[2020-10-19 22:48] jbphet commented on #182
@Ashton-Morris and @emily-phet - below is a link to a dev version with the most recent revisions to the sound design.  I took the liberty of turning down the voltmeter click a little bit since our last meeting, as I found it a little loud when working with the sim to make other mods (mostly keyboard navigation).  The only other revision that I'd suggest is to also turn down the "boundary bump" sou

[2020-10-19 22:50] emily-phet commented on #174
@terracoda and/or @jessegreenberg should confirm, but I believe every time the user first moves the magnet (between reset all presses) with the the keyboard, they should get the grab hint.

[2020-10-20 19:35] jbphet opened #184 "Convert to ES6"
We're experimenting with converting sims to ES6 using a new script, see https://github.com/phetsims/tasks/issues/1050.  Since I was working in this sim on a11y, and it's a fairly small sim, I thought this would be a good one to do.

[2020-10-20 20:09] terracoda commented on #174
@jbphet that's a great question. I'll check other sims. I think (but need to confirm) that the we need to use successful  keyboard interaction as the flag clearer because keyboard use has special instructions.

I'll take for a run and get back to you in the morning.

[2020-10-20 21:21] jbphet commented on #182
@Ashton-Morris, @emily-phet and I discussed the edge bonk sounds at today's sound design meeting and compared them to GFL, and decided to leave them at the current levels.

[2020-10-20 21:26] jbphet commented on #174
The sound design team just looked at Friction, and in that case the hint is shown the first time the book receives focus via keyboard nav regardless of whether it had been moved via mouse or touch, so I'll change the magnet to match that behavior.

[2020-10-20 21:31] jbphet commented on #163
In today's sound design meeting we discussed whether we should consider panning the max voltage clicks left and right, and decided it's not worth the time and effort.

[2020-10-20 23:38] jbphet commented on #184
Conversion complete.  I tested manually and with fuzz testing, and all appeared well.  I'll keep an eye on CT, but will go ahead and close this.

[2020-10-20 23:38] #184 closed

[2020-10-21 14:08] terracoda commented on #174
@jbphet, we have some discrepancy between the published versions and non-published version of Friction and Balloons and Static Electricity where the interaction is essential to the sim.

In the published versions of F and BASE, one has to make a successful movement with the the keyboard before the visual grab hint goes away.

However, on master for F and BASE any successful movement will make the

[2020-10-21 14:11] emily-phet commented on #174
@terracoda Agreed - I think the grab hint should only be hid after successful interaction with keyboard appears. @jbphet had planned to do this based on our meeting yesterday, so no change of plans there.

Regarding how to make this consistent across sims, I think that's a question for @jessegreenberg.

[2020-10-21 14:17] terracoda commented on #174
I think it is ok to have a built-in option, but I can't think of a reason right now why we would want to hide the hint prematurely before successful keyboard use.

Maybe in GFL, since moving the ruler is completely optional, it's okay, but still there is no harm in being consistent there as well.

[2020-10-21 14:18] terracoda commented on #174
It's possible, when working on the accessible mobile grab and drag we adjusted the situation unintentionally?

[2020-10-21 14:20] terracoda commented on #174
@jbphet, I missed your https://github.com/phetsims/faradays-law/issues/174#issuecomment-713149602
Yes, follow Friction's published pattern.

[2020-10-21 16:51] jbphet commented on #103
The "jump behavior" code has been revived and is working reasonably well, and the behavior is now described in the Keyboard Help dialog.  I think I'll close this issue, and any other work on this feature and the help documentation that supports it will be done under #174 and #176.

[2020-10-21 16:51] #103 closed

[2020-10-22 15:30] terracoda commented on #176
@jbphet, the visuals are looking really nice in the above Dev Link.

There are a couple of string issues in the accessible content:
1. The heading: "Auto-Slide Grabbed Bar Magnet." has a period at the end of it. Remove the period
2.  The description for the auto-sliding needs to be updated:
    - From: Automatically slide the magnet from one slide to the other using the 1, 2, or 3 keys.
    - To:

[2020-10-26 18:50] jessegreenberg commented on #174
https://github.com/phetsims/scenery-phet/issues/636 is ready for review and I believe addresses this. I tested it in faradays-law and believe that it is working as requested now. @jbphet can you please confirm?

[2020-10-26 20:52] jbphet commented on #174
Yep, it's working great.  Thanks @jessegreenberg!

[2020-10-27 18:02] jbphet commented on #176
@terracoda - the latest updates are now available in https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.64/phet/faradays-law_en_phet.html.  Please review and assign back to me with any comments.

[2020-10-27 18:03] jbphet commented on #174
@terracoda and @emily-phet - I think the behavior now matches what was described above.  Can you please review and then assign this back to me?

[2020-10-27 22:09] emily-phet opened #185 "Check checklists for any remaining work needed prior to publication"
This sim is nearing dev testing stage, and will potentially be pretty quickly into RC testing.

This sim will be published with **sound/sonification**, **alternative input (keyboard)**, and **pan/zoom** features.

@jbphet has been working through the general sound design checklist. I was wondering if there are other checklists to take a quick look at, and make sure there's nothing we're missing. I

[2020-10-27 22:10] emily-phet commented on #82
Issue resolved in #176

[2020-10-27 22:10] #82 closed

[2020-10-27 22:13] emily-phet commented on #89
Behavior of magnet control with keyboard designed, discussed, and implemented through other issues.

[2020-10-27 22:13] #89 closed

[2020-10-27 22:14] emily-phet commented on #99
It was decided to maintain switch style currently - may revisit when full description design is revisited.

[2020-10-27 22:14] #99 closed

[2020-10-27 22:15] emily-phet commented on #122
Description design was paused, and will be revisited holistically at a later date. When that's done, we'll pull all issues related to past description efforts, and review.

[2020-10-27 22:15] #122 closed

[2020-10-27 22:16] emily-phet commented on #125
This sim's description will be re-designed at a future date. When that's done, we'll review all past issues related to description.

[2020-10-27 22:16] #125 closed

[2020-10-27 22:17] emily-phet commented on #130
This sim's description will be re-designed at a future date. When that's done, we'll review all past issues related to description.

[2020-10-27 22:17] #130 closed

[2020-10-27 22:20] emily-phet commented on #163
The sim is at the state for a final, final sound review. Any issues that come out of that, we'll create a new issue for.

[2020-10-27 22:20] #163 closed

[2020-10-27 22:21] emily-phet commented on #173
I'll check that QA has a good list of things to review for pan/zoom behavior. I think that will be sufficient.

[2020-10-27 22:21] #173 closed

[2020-10-27 22:26] emily-phet commented on #174
This looks good to me!

[2020-10-27 22:28] emily-phet commented on #176
I wasn't assigned - but took a look. Looks great to me!

[2020-10-27 22:35] emily-phet opened #186 "General A11y Publication Checklist (created specifically for this sim, not a general template)"
# Other A11y ToDo's
**Maintain [Accessible Sims page](https://phet.colorado.edu/en/accessibility/prototypes)**
- [x] Use website admin page (or create issue) to add sim to to A11y Sims page once there is a working prototype.
- [x] Update link to prototype from time to time
  - [x] At Dev Testing
  - [x] At RC Testing
  - [ ] At publication (remove the prototype designation, and update info in sim

[2020-10-27 22:36] emily-phet opened #187 "Create sound features video"
@BLFiedler you can work on this as we discussed at the start of the quarter (in a batch towards the end of the quarter). Just making the issue here to keep track.

[2020-10-27 22:37] emily-phet opened #188 "Review and update teacher tips with sound info"
@BLFiedler same as the sound feature video issue...

[2020-10-27 22:39] emily-phet opened #189 "Updating sim credits"
We need to make sure:
- Taliesin
- Jesse
- Ashton
- Mike Winters
- Emily
- John Blanco
- Jon Hung (re magnet alternative input design)
- Michael Barlow

are included, anyone else?

[2020-10-27 22:41] emily-phet opened #190 "Updating interview list"
@BLFiedler
can you reach out to Taliesin about how she does this?

[2020-10-27 22:42] emily-phet commented on #185
Closing this issue - replacing with #186

[2020-10-27 22:42] #185 closed

[2020-10-27 22:43] emily-phet opened #191 "Screenshots need to be updated with upcoming publication"
Visual design has changed - voltmeter has checkbox. Screenshots need to be updated.

Not sure who does this... @KatieWoe is this something QA can do?

[2020-10-27 22:46] KatieWoe commented on #191
Yes, we can. Let me know what version you want me to take the screenshots with.

[2020-10-27 23:05] arouinfar commented on #188
We'll also need to update the screenshots in the teacher tips because there are several visual changes. I'd be happy to take care of that when the time comes, so let me know if you need to coordinate on anything @BLFiedler.

[2020-10-27 23:18] jbphet commented on #191
@KatieWoe - You can use https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.64/phet/faradays-law_en_phet.html, which was created today (10/27/2020) and we don't expect to modify the visual design any more than we already have.

[2020-10-27 23:28] jbphet commented on #159
It is now an enum.  The work was done for other portions of the project, but see `OrientationEnum.js` and look at the history for details if needed.  Closing.

[2020-10-27 23:28] #159 closed

[2020-10-27 23:29] jbphet commented on #156
I think @zepumph may have forgotten to assign this issue, so I'm assigning to @jessegreenberg based on the previous comment.

[2020-10-27 23:31] jbphet commented on #155
This doesn't look like it was ever assigned to anyone, and this sim is about to be re-released, so I think a call should be made on whether we want to make in updates to the field lines.  Assigning to @ariel-phet for consideration.

[2020-10-27 23:34] jbphet commented on #152
@arouinfar and @ariel-phet - This discussion appears to have died out.  We are planning a re-release of this simulation soon, if you'd like to get this in we should decide and finalize the design very soon.

[2020-10-27 23:35] jbphet commented on #155
Adding @arouinfar as and assignee, since she too has been involved in the design.

[2020-10-27 23:42] jbphet commented on #117
@zepumph - I'm going through issues in this repo in preparation for a re-release, and as far as I can `DragListener` is being used and the behavior looks fine.  I'm not sure why all assignees were removed.  Can you take a look and either close or describe what else needs to be addressed?

[2020-10-27 23:49] jbphet commented on #104
I'm going through the issues in this repo in preparation for an upcoming publication with a11y features.  When I look at the branch described by this issue, the summary says "This branch is 494 commits behind master" and doesn't say anything about having any commits that are ahead of master.  Also, the keyboard jump behavior - or at least some form of it - is currently operational on master.  Base

[2020-10-27 23:51] jbphet commented on #104
Here's a screenshot of a portion of the branches page:

![image](https://user-images.githubusercontent.com/3082831/97374074-10658780-187d-11eb-9372-dcccbc179184.png)

[2020-10-27 23:52] jbphet commented on #104
Branch deleted, closing.

[2020-10-27 23:53] jbphet commented on #63
Sonification is being implemented "officially" now, see https://github.com/phetsims/faradays-law/issues/161.  This branch can be deleted.

[2020-10-27 23:53] jbphet commented on #63
Branch deleted, closing.

[2020-10-27 23:53] #63 closed

[2020-10-28 01:12] ariel-phet commented on #155
@jbphet - the teacher does bring up some valid points. I think I have never paid much attention since I think the field lines were drawn to match the flash sim of MD.

However, considering we pride ourselves on fairly accurate physics, the user suggestion should be addressed in my opinion. I think something closer to the image shown below would be good, withe the following points:

1. evenly space

[2020-10-28 01:14] ariel-phet commented on #155
Marking high priority since I would naively think this should be a fairly easy fix, although it may take some time to get looking nice, it more seems tweaky than fundamentally difficult (please correct me if that is wrong).

[2020-10-28 12:46] terracoda commented on #190
There should be a spreadsheet in each sim folder.
If not one has to be created.
I usually copy one from another sim folder.

[2020-10-28 12:55] terracoda commented on #190
@BLFiedler, I copied a blank spreadsheet from GFL over to FL.
It is in the root of the Multi-modal Features folder.

[2020-10-28 12:59] terracoda commented on #190
@BLFiedler, in addition to filling out the interview spreadsheet for the protocol on the research drive, you would put the minimal information in the the spreadsheet in the sim folder, ensuring you note under what protocol the interview was done.

The idea is that there is one place that records all the interviews done for a sim.

[2020-10-28 13:00] terracoda commented on #190
You can see the spreadsheet doe GFLB as an example. That sim has many interviews listed from diverse protocols.

[2020-10-28 13:04] terracoda commented on #189
We need to add Caren Watkins to the list.

[2020-10-28 13:05] terracoda commented on #189
Jon Hung and Caren Watkins both worked on the first draft of interactive description for this sim, so I would want to include them both as collaborators from the IDRC.

[2020-10-28 13:17] terracoda commented on #189
The way we did this in John Travoltage was in addition to the Team list we added another list called "Collaborators" and the collaborators and their institution were added on the sim credits page, like this:

- Collaborators: Jonathan Hung, Caren Watkins (Inclusive Design Research Centre)

I suggest we do it the same way for Faraday's Law. While Jonathan Hung's alternative input design for the mag

[2020-10-28 13:38] terracoda commented on #174
The alternative input cues look good to me as well.

[2020-10-28 13:40] terracoda commented on #174
I'll go ahead and close. @jbphet, please re-open if I have closed this issue prematurely.

[2020-10-28 13:55] terracoda commented on #176
@jbphet, the content is good in both the visual dialog and the pdom dialog.

I do see that the size of the auto-slide text is still a little smaller than the rest of the text. That might be intentional given the space limitations. If it not possible (i.e., no time left) to make the entire dialog a little taller to accommodate making the auto-slide text the same size as the rest, that's ok.

We hav

[2020-10-28 14:08] terracoda commented on #189
![Screen Shot 2020-10-28 at 11 30 44 AM](https://user-images.githubusercontent.com/1902116/97446165-0b521800-1911-11eb-932f-a0959839cde4.png)

@jbphet, I see you got everyone there already except Caren Watkins.

Just add Caren, and change Emily's name to Emily B. Moore and I think we have the Team and collaborators complete.
 The QA may have additions afterward testing.

[2020-10-28 14:26] terracoda commented on #109
@emily-phet, all the interactive description that has been implemented thus far is currently accessible using a screen reader.

Will this content go public automatically with publication? If so, I think we should quickly discuss pros and cons. If it is not going public en mass as-is, than there is no need to discuss at this time.

Items that are currently problematic and that might be trivial to a

[2020-10-28 14:30] terracoda commented on #174
After closing, I noticed this comment https://github.com/phetsims/faradays-law/issues/109#issuecomment-413231548 which included this image from Jon Hung's documentation.

Just adding it here for reference in case we choose to make future updates.

![Screen Shot 2020-10-28 at 11 57 46 AM](https://user-images.githubusercontent.com/1902116/97449774-fbd4ce00-1914-11eb-83d4-4020e18aa321.png)

[2020-10-28 14:48] emily-phet commented on #109
@jbphet

We discussed this question regarding whether or not description would be accessible in the published sim, and if there was an easy way to stop that from happening, a few weeks ago.

I can't recall what we concluded...I suspect @jbphet might not have had a full answer on this and was perhaps going to discuss with @jessegreenberg.

From prior discussions re Ratio and Proportion, I believe i

[2020-10-28 15:55] jbphet commented on #174
Re-opening, since I want it around for QA to make updates if they need to.  We will close it when the sim has been deployed with this feature.

[2020-10-28 15:56] jessegreenberg commented on #109
Since both alternative input and description (interactive descriptions) are implemented with the PDOM we currently don't have a way to publish one without the other. When this came up before we decided that it was OK to publish sims with full alternative input and incomplete description. Either way it will not be accessible to a screen reader user, and we didn't see the benefit of developing a way

[2020-10-28 16:03] jessegreenberg commented on #189
I did very little work in this sim other than general support, I am going to remove my name from credits. Otherwise list seems good to me!

[2020-10-28 16:14] jessegreenberg commented on #169
There is no plan to work on description for this sim any time soon, removing assignment.

[2020-10-28 16:16] terracoda commented on #186
Just a note that FL has bee added to the prototype list of sim through the web admin. I am not sure exactly when that will go live, but at least it is added. I used latest available dev version for the link. this can be updated as we progress through QA.

[2020-10-28 17:14] arouinfar commented on #155
I agree with @ariel-phet. I think we should try redrawing the magnetic field lines to look more accurate.

[2020-10-28 18:22] jbphet commented on #189
I added Caren Watkins.  @terracoda told me that she too works for the IDRC, and it was a little verbose to have "Jonathan Hung (Interactive Design Research Center), Caren Watkins (Interactive Design Research Center)", so I removed the "(Interactive Design Research Center)" part and just listed the two names.  Is that cool?  Alternatively, we could say "Jonathan Hung & Caren Watkins (Interactive De

[2020-10-28 18:40] jbphet commented on #182
@Ashton-Morris and @emily-phet - I've solved the "initial blip on magnet move" problem that I mentioned in yesterday's sound design meeting, and then published a dev version shortly after that.  This version has what I believe is the full sound design implementation.  Each of us should take one last listen and decide if we're good with it.  Please check yourself off the list once you've reviewed i

[2020-10-28 19:24] KatieWoe commented on #191
Some screenshots were hard to reproduce, so I made some options (for screenshot-alt1). I also made a screenshot-alt2 to showcase turning off the voltmeter. @arouinfar, @ariel-phet, or @emily-phet please approve these and let me know which alt1 you prefer.

[2020-10-28 19:24] KatieWoe commented on #191
Main screenshot.
![faradays-law-screenshot](https://user-images.githubusercontent.com/41024075/97486317-e5347400-1920-11eb-8d90-a3e75c01046b.png)

[2020-10-28 19:25] KatieWoe commented on #191
My suggestion for alt1.
![faradays-law-screenshot-alt1](https://user-images.githubusercontent.com/41024075/97486358-f3829000-1920-11eb-9efb-e0709bbc2fb1.png)
Other possibility for alt1.
![Screenshot Capture - 2020-10-28 - 12-35-33](https://user-images.githubusercontent.com/41024075/97486395-fd0bf800-1920-11eb-819d-d271166f52be.png)

[2020-10-28 19:25] KatieWoe commented on #191
Proposed alt2.
![faradays-law-screenshot-alt2](https://user-images.githubusercontent.com/41024075/97486429-0ac17d80-1921-11eb-9814-f599092e1beb.png)

[2020-10-28 19:42] terracoda commented on #189
Yes that's great, but the institution is the "Inclusive Design Research Centre" and in Canada we spell it, "Centre" with the e and the r reversed, so that is not a typo.

[2020-10-28 19:51] arouinfar commented on #191
Thanks @KatieWoe! I like the first option for alt1 and your proposed alt2.

You might want to wait on committing them until #155 is resolved, however.

[2020-10-28 20:03] KatieWoe commented on #191
Ok. Let me know when.

[2020-10-28 21:14] arouinfar commented on #152
We'll be discussing this in design meeting tomorrow, but I've mocked up a few variations on curvy arrows. Here's an example:

![image](https://user-images.githubusercontent.com/8419308/97497299-eae58600-192f-11eb-92c0-9e363e9670a8.png)

[2020-10-28 21:19] jbphet commented on #189
Which option did you thing was great?

[2020-10-28 22:34] KatieWoe opened #192 "Sound crackles when unmuted"
**Test device**
MacBook Air
**Operating System**
10.15.7
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/568.
If sound is being produced while the sim is muted, and is then unmuted, there is a crackle that plays for a second or so.
**Steps to reproduce**
1. Use `?speed=.1` to draw out the length of the sound and make this easier to reproduce
2. Move the magnet

[2020-10-28 23:29] ariel-phet commented on #155
We will not plan to do this work for the current release (but potentially hand to another developer after the upcoming new version is out the door). We will briefly discuss at design meeting.

[2020-10-28 23:43] ariel-phet commented on #152
Would be good to get KP's input here at design meeting - I could see an argument for NOT including the current direction and it being something the student needs to figure out (via the right hand rule or such).

Even if we do decide to pursue this enhancement, it will not be worked on for the upcoming release and would require some work on alternative input/sound for the feature.

[2020-10-29 05:56] arouinfar commented on #191
@KatieWoe we decided not to include #155 in the upcoming release, so I think you can take care of the screenshots anytime.

[2020-10-29 14:58] samreid commented on #109
Can the deferred label be removed?

[2020-10-29 15:07] terracoda commented on #109
It would be supper nice to have an option to remove aria-live from a sim in a case like this, where all of the State Descriptions are essentially useful and correct. It's just the context responses which present a serious issue.

If we cannot easily turn off aria-live regions, another option is keep this sim as both a published sim and a prototype sim on the Accessible Sims page. The prototype ver

[2020-10-29 18:16] DevonQui opened #193 "Performance issues on Mac for Safari when moving the magnet"
**Test device**
MacBook Pro

**Operating System**
Catalina 10.15.1

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/QA/issues/568
When moving the magnet, the movement is very choppy and only uni-directional. This is in contrast to running this simulation in Chrome where the movement is very smooth and diagonal movement is allowed by combining the arrow keys. Com

[2020-10-29 18:28] DevonQui commented on #193
The performance on all other aspects of the simulation are fine, it just seems to be affecting the movement of the magnet.

[2020-10-29 20:48] brooklynlash opened #194 "Pixels are choppy and intersect when magnet is on top"
Test device
Lenovo ThinkPad

Operating System
Windows 10

Browser
Chrome

Problem description
Pixels look a bit choppy when moving a magnet on top of the coil
Also occurs in published.

Visuals
![magnet](https://user-images.githubusercontent.com/72031637/97630888-cd7aef80-19f5-11eb-969c-86eeeaa31d95.PNG)
![magnet2](https://user-images.githubusercontent.com/72031637/97630899-d075e000-19f5-11eb-8565

[2020-10-29 20:53] brooklynlash opened #195 "Magnet can go through coils when dragged quickly"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Firefox, Chrome

**Problem description**
This is for https://github.com/phetsims/QA/issues/568
With field lines on, quickly dragging the magnet back and forth can cause it to go through the coil.
Also occurs in published.

**Steps to reproduce**
1. Turn on field lines
2. Drag the magnet up and down with the cursor near t

[2020-10-29 20:54] brooklynlash commented on #194
This is for https://github.com/phetsims/QA/issues/568

[2020-10-29 21:51] jbphet commented on #155
I believe that the code changes could be confined to the `MagnetFieldLines` class, and would either involve changing the positions of the ellipses or using elliptical arcs instead.  We will also probably need to add a line that goes through the center.

We discussed this in a design meeting on 10/29/2020, and @arouinfar is going to do a mockup that will specify how we want it to look, since there

[2020-10-29 23:05] KatieWoe commented on #191
Screenshots in the above commit.

[2020-10-30 12:14] terracoda commented on #192
Just adding that I notice a lot of crackling on iPhone 7 iOS 13.7

[2020-10-30 15:15] brooklynlash commented on #192
Sound crackles on Windows 10 Firefox even without slowing down the sound

[2020-10-30 15:39] brooklynlash commented on #195
I have noticed that it is easier to replicate using field lines and both coils but you can also replicate with a single coil or without field lines, it just occurs less frequently.

[2020-10-30 16:46] KatieWoe opened #196 "1, 2, and 3 buttons don't change magnet direction if magnet caught on object"
**Test device**
MacBook Air
**Operating System**
MacOS 10.15.7
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/568
Fairly minor issue. The keyboard nav dialog describes the 1, 2, and 3 buttons as having the ability to "toggle slide direction." If you press the same button while the magnet is in motion, or when it is on one side of the screen, the magnet switche

[2020-10-30 16:49] KatieWoe commented on #195
I think this is in published. so marking as deferred. @brooklynlash if it isn't in published, let me know.

[2020-10-30 16:49] KatieWoe commented on #194
I think this is in published. so marking as deferred. @brooklynlash if it isn't in published, let me know.

[2020-10-30 19:35] KatieWoe opened #197 "Dragging magnet to pan around while zoomed in causes jittery movement"
**Test device**
iPad 6th Gen
**Operating System**
iPadOS 14.1
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/568. Fairly minor. Feel free to close if not an issue. Mostly seen on iPad/touch screen, but reproduced a bit on laptop.
When the sim is zoomed in, you can drag the magnet to the edge of the screen to pan around. As you do, the magnet jitters around qui

[2020-10-30 21:23] KatieWoe commented on #161
Sound design seems to work well in dev.65

[2020-10-30 23:04] KatieWoe commented on #195
Further note: I've been seeing this more while I test Lovelace (slower Chromebook) then when I was testing on iPad or on my Mac. So performance may play a part, or make it easier to reproduce.

[2020-10-30 23:20] KatieWoe commented on #196
Further bug that is much odder and may need it's own issue (let me know if you want one @jbphet)
If you do this catching behavior on the top loop, the "ghost" magnet appears on the other side of the screen it is trying to get to. If you do it on the bottom loop then the "ghost" magnet appears caught on that loop.
![wherestheghost](https://user-images.githubusercontent.com/41024075/97764355-efe33a8

[2020-10-30 23:49] emily-phet commented on #191
@KatieWoe Sorry for not reaching out to you yesterday. I saw @arouinfar responding, and she's actually the best person to respond about these screenshots. Whatever she preferred is good to me.

Closing this issue now.

[2020-10-30 23:49] #191 closed

[2020-11-01 15:02] terracoda commented on #109
Yes, at the very least we should add an accessible name to the Bar Magnet interaction.

@jessegreenberg, do have an idea what it would take to create an option to “turn off” aria-live without breaking anything else in the PDOM?

[2020-11-02 16:17] brooklynlash commented on #196
![faradaykeyboard2](https://user-images.githubusercontent.com/72031637/97891527-1d0a3580-1cec-11eb-8e7a-f9b89b2216c3.gif)
Another small issue, don't know if this will be resolved with fixing the other problems or is related to being caught on the objects. While holding the 1,2,3 buttons and moving the magnet around a second ghost magnet pops up when moving vertically

[2020-11-02 16:28] brooklynlash opened #198 "Zoom feature does not follow magnet while using keyboard navigation"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Chrome

**Problem description**
This is for https://github.com/phetsims/QA/issues/568
While you're zoomed in and using the keyboard navigation feature, if you move around the magnet out of frame, it does not follow the magnet.

**Visuals**
![faradayzoom](https://user-images.githubusercontent.com/72031637/97892752-a706ce0

[2020-11-02 16:29] brooklynlash commented on #198
Under more investigation, it follows the magnet sometimes, and other times it just moves out of frame and is not followed

[2020-11-02 17:14] jessegreenberg commented on #109
Discussed with @emily-phet and @terracoda on 11/2/20 -

We can add a way to disable alerts, which could be done with a query parameter and with a package.json entry, but we decided to keep the current categorization with enabling all screen reader features with the single `supportsInteractiveDescriptions`. Instead, we are going to comment out existing code that uses utterance-queue in the sim to p

[2020-11-02 17:24] KatieWoe commented on #198
I've been doing some experimentation too. It seems like if the magnet is going faster than the panning screen (which seems to occur more when moving vertically) and the magnet gets off screen, the screen stops trying to follow it. If the magnet moves back on screen, the screen starts following it again. If you move the magnet slow enough that it stays on screen the whole time it seems to keep pann

[2020-11-02 17:36] KatieWoe commented on #198
Replicated in Firefox and Safari. I noticed while testing in Safari that when zoomed in enough it was actually fairly easy to get this to occur with horizontal movement as well. I also wanted to add on to what @brooklynlash mentioned with the 1, 2, and 3 buttons. It is not that this movement is too fast to follow, it doesn't even seem to try to follow the magnet at all in that case.

[2020-11-02 18:58] zepumph commented on #117
As far as I can tell, this is ready for closing. I read through this issue, and compared the implementation in the above commits to master. If there are any bugs that seem related to dragging, please create a new issue.

[2020-11-02 18:58] #117 closed

[2020-11-02 20:06] BLFiedler commented on #190
updated w/ three interviews done so far

[2020-11-02 20:06] #190 closed

[2020-11-02 20:13] BLFiedler commented on #187
Script in progress link:

https://docs.google.com/document/d/1XYNpCEW0Pq2GQdrp6VNKaMdRK1k2ZDzr8uzdk0ceDuo/edit?usp=sharing

[2020-11-02 22:26] KatieWoe opened #199 "Command + arrow key causes buggy movement with keyboard nav."
**Test device**
MacBook Air
**Operating System**
MacOS 10.15.7
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/568. May be more general.
If you grab the magnet with keyboard nav, then press command (on Mac) + an arrow key, the magnet moves all the way to the side in that direction and continues to push that way, even if you only tapped the key. For instance, if

[2020-11-02 23:10] KatieWoe opened #200 "Magnet jumps to the side of wire coil when sim is slow"
**Test device**
MacBook Air
**Operating System**
MacOS 10.15.7
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/568. Only reproduced when `?speed=.1` which is not a normal use case (I was using it to lengthen the time the light was active for an unrelated test) and so this may not need to be addressed. But I'm making an issue in case it is indicative of a larger

[2020-11-02 23:24] jbphet commented on #176
I adjusted the positions of the line breaks to improve the situation, and I think it's about as good as it's going to get without changing the text (including adding another line break).  @terracoda - please look at it on master and let me know if we're good to go with this.

[2020-11-02 23:27] jbphet commented on #189
And that it's "Inclusive", not "Interactive".

[2020-11-02 23:28] jbphet commented on #189
Okay, I've added the IDRC part as specified.  I'm going to unassign this and leave it open, since there will almost certainly be more names to add when QA is done.

[2020-11-02 23:38] jbphet commented on #198
@jessegreenberg - this seems like it would be in your wheelhouse.

[2020-11-02 23:39] jbphet commented on #199
@jessegreenberg - I'm going to leave this one to you initially, please let me know if it is some sort of modification to the keyboard drag handler that needs to be made.

[2020-11-02 23:42] jbphet commented on #200
I don't think that this is indicative of another issue, and if it can't be reproduced at normal speed, it doesn't seem to me like it is worth much investigation time.  I'll leave it open for a while and may take a quick look before publication, but more likely will just close.

[2020-11-02 23:46] jbphet commented on #197
This seems like it may well be related to #198, so I'm assigning to @jessegreenberg to investigate.

[2020-11-03 21:59] emily-phet commented on #182
Here's what i found:

- the magnet pickup/drop sound needs to play when grabbing/releasing with keyboard

[2020-11-03 23:09] jbphet commented on #196
@emily-phet, @Ashton-Morris, and I discussed the current behavior of the 1,2,3 buttons with respect to reversing the motion of the magnet and decided that it would be better if the magnet always reversed direction when one of these keys is pressed rather than doing what it does now, which is to switch directions only once it has crossed the center line.  This should resolve the initially reported

[2020-11-03 23:16] jbphet opened #201 "Can't drag magnet with mouse immediately after grabbing or dragging with keyboard"
This behavior can be seen on the recent dev version https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.65/phet/faradays-law_en_phet.html.

If the keyboard navigation is used to move the magnet and then, while focus is still on the magnet (i.e. it is surrounded by the solid or dotted pink rectangle), the user tries to grab and drag the magnet, it doesn't work.  A sound is produced that seems

[2020-11-04 14:31] terracoda commented on #189
Apologies @jbphet, I thought everything was clear (in https://github.com/phetsims/faradays-law/issues/189#issuecomment-717926005) given in John Travoltage there was no repeat of the institution name.
- "Jonathan Hung & Caren Watkins (Inclusive Design Research Centre)"

The dialog looks good now, and you say, you'll likely need to add some QA folks.

<img width="646" alt="Screen Shot 2020-11-04 at

[2020-11-04 15:47] KatieWoe commented on #196
Should https://github.com/phetsims/faradays-law/issues/196#issuecomment-719841531 get its own issue?

[2020-11-04 18:56] jbphet commented on #196
No, at least not yet.  I am making some pretty major changes to this code, so I'll try to make sure that the inconsistency described there is fixed as well.  I came across some buggy code that I think was the root of the discrepancy and have fixed it, so I'm optimistic that it will no longer be a problem when I'm done with this issue.

[2020-11-04 21:56] jessegreenberg commented on #199
I was able to verify this behavior. When this happens, we are not receiving a key up event for the arrow key when it is released so the sim thinks it is still down. It seems that this is a general problem, see http://web.archive.org/web/20160304022453/http://bitspushedaround.com/on-a-few-things-you-may-not-know-about-the-hellish-command-key-and-javascript-events/ and http://web.archive.org/web/201

[2020-11-04 22:04] jessegreenberg commented on #199
I would recommend that we prevent keyboard movement when the command key is down to prevent allowing this from happening. Furthermore, command + arrow key is the key command to go back a page so I think that is what it should do instead.

[2020-11-04 22:19] jessegreenberg commented on #199
Fix made in the above commit, @KatieWoe can you please verify?

[2020-11-04 22:23] KatieWoe commented on #199
Looks fixed on master.

[2020-11-04 22:48] jessegreenberg commented on #199
Thanks!

[2020-11-04 22:48] #199 closed

[2020-11-04 22:56] jessegreenberg commented on #198
This was fixed in the above commit, thanks for catching this.

This is currently not something that is supported by the zoom feature, but can be added. Currently it only pans to the node if dragging keys are pressed. Seems like we need to support following a node under any circumstance.

[2020-11-04 22:59] jessegreenberg commented on #197
I think this can be improved. The panning that happens during keyboard drag is quite smooth and the panning during keyboard dragging, and trying to match more closely what is done there during mouse movement will be a first step.

[2020-11-04 23:46] jbphet commented on #196
I've made a lot of changes to this feature, which I'm referring to in the code as the "auto-slide" feature since that's what @terracoda called it in the keyboard help dialog.

@KatieWoe - Can you please test this on master and verify that the two primary problems you reported are resolved?  I'm not concerned about the issue that @brooklynlash reported in https://github.com/phetsims/faradays-law/is

[2020-11-05 18:42] KatieWoe commented on #196
Looks ok on master

[2020-11-09 21:55] jessegreenberg commented on #198
I think this is working well now, @KatieWoe would you mind checking on master?

[2020-11-09 22:12] KatieWoe commented on #198
Looks solved on master. Magnet can still move faster than panning, but panning does catch up.

[2020-11-09 23:26] jessegreenberg commented on #197
The magnet is translated with mouse/touch position, whenever they move. When we pan the screen, the entire simulation moves under the mouse. So it creates a situation where further mouse/touch movements will make the magnet jump to the pointer because the magnet has relatively moved away from the mouse - heres another capture that

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.c

[2020-11-10 00:05] jbphet commented on #169
This issue - https://github.com/phetsims/faradays-law/issues/109 - seems like the original issue in this repo for descriptions, so I thought it should be referenced here.

[2020-11-10 17:56] jbphet commented on #108
@zepumph and/or @samreid - This issue is two years old and not getting much attention, and when I came upon it, it was not assigned to anyone.  I'm cleaning up issues for this sim as we move towards publishing a version with some new a11y features.  I don't know of any effort on the near-term horizon to fully instrument this sim with phet-io, so I'm wondering - can this issue be closed or deferred

[2020-11-10 18:33] samreid commented on #108
Please defer until we return our PhET-iO focus to this sim.

[2020-11-10 22:51] jessegreenberg commented on #198
OK thanks @KatieWoe. I think this is correct. The behavior is that if the magnet is outside of the edge of the screen we will try to pan to it. The sim doesn't move unless the object approaches the edge of the screen. I think this is why it may seem slightly behind. Closing.

[2020-11-10 22:51] #198 closed

[2020-11-10 23:09] jessegreenberg commented on #197
I have been thinking about this one for a while and don't see a quick fix, this one will take some time. The problem is identified in https://github.com/phetsims/faradays-law/issues/197#issuecomment-724343268 - draggable things in PhET sims translate with mouse/touch movement. When we pan the entire simulation in this case, everything moves under the mouse, including the thing that is being dragge

[2020-11-10 23:32] terracoda commented on #176
Looks good @jbphet.

@KatieWoe, do you have a suggestions on how to make it clearer without making it longer?

Basically, this is a very custom interaction. You grab the magnet and then
- press 1 to move slowly and 1 again to toggle direction of the slide
- press 2 to move at medium speed and 2 to toggle direction
- press 3 to move fast and 3 to toggle direction

This interaction allows for experi

[2020-11-10 23:34] terracoda commented on #176
@KatieWoe, I'll rephrase my question.

Did you figure it out? If so, I think it's ok.

Please close the issue or assign back to me if you have a great idea about wording :-)

[2020-11-10 23:41] KatieWoe commented on #176
One of the things that tripped me up for awhile was when did the magnet switch directions. Everything else I figured out experimenting. Since the changes made in https://github.com/phetsims/faradays-law/issues/196, it makes more sense so I think its ok.

[2020-11-10 23:41] #176 closed

[2020-11-10 23:55] terracoda commented on #176
Gotcha @KatieWoe.
Thanks for your comment.

[2020-11-11 14:56] Ashton-Morris commented on #182
I found the same as Emily, otherwise the sound is all good.

[2020-11-11 19:08] jbphet commented on #195
This is related to an older issue that was addressed and closed a while back, but I just had to back out some of the changes for it in order to make sound and keyboard nav work correctly.  See #47.

[2020-11-11 19:16] jbphet commented on #47
The solution that @MDmitrieva implemented many years ago has served us well on this sim until now.  However, because the solution was to adjust various bounds by 1 screen coordinate in several places, this was causing issues with detecting collisions between the magnet and the restricted bounds, and we needed to correctly detect these collisions in order to produce sound.  I've backed out the boun

[2020-11-12 15:59] oliver-phet opened #202 "User suggestion: rotate magnet"
@arouinfar can you comment on this suggestion?

[2020-11-17 00:11] jbphet commented on #201
Actually, I was a bit mistaken in the original issue description above.  I said that the problem doesn't exist in the "Friction" sim, and that is true for the published version, but it's _not_ true for the version on master.  This would seem to imply that this is a general problem with the interaction between the keyboard and the mouse drag listeners.

[2020-11-17 00:40] jbphet commented on #201
Here is an animation of the sequence.  I'm using keyboard nav to grab the magnet, then I'm immediately switching to the mouse and trying to grab and move it, and it doesn't move.

![efac-sticky-2](https://user-images.githubusercontent.com/3082831/99325103-cac02d00-2832-11eb-8252-a4e24b1c8fd6.gif)

[2020-11-17 00:43] jbphet commented on #201
I did some investigation on this, and found that the `end` function in the drag listener is being called from `ParallelDOM.blur`.  See the stack trace below.  This is now out of my area of expertise, so I'm going to turn it over to @jessegreenberg to see if he can explain why this is happening now (it doesn't seem to happen in the published version of "Friction"), and if it can be prevented or rem

[2020-11-17 21:43] jbphet commented on #193
First of all, let me address the part of the problem description that says:

After a fair amount of debugging, I came across a section of code in `KeyboardDragListener` that says this:

[code]

It appears that because of https://github.com/phetsims/balloons-and-static-electricity/issues/384, we intentionally disallow two arrow keys being down at the same time, so in essence, diagonal movement of t

[2020-11-17 21:52] jbphet commented on #193
I've got a theory about the part of the problem description that says

I have a MacBook Air running OSX 10.12.6 and Safari 12.1.2.  If I move the magnet back and forth and am careful to release the previously pressed arrow key before pressing another one, I do not notice any lag in the magnet's change of direction.  However, if I do not release the previously pressed key first, I do notice such a

[2020-11-17 22:28] jbphet commented on #193
@emily-phet, @Ashton-Morris, and I discussed this in today's weekly a11y meeting for Faraday's Law, and they agree that we need to leave the workaround for VoiceOver in place and should just live with the current behavior.  Closing.

[2020-11-17 22:28] #193 closed

[2020-11-17 22:34] jbphet commented on #201
This issue was discussed at the weekly meeting for a11y and Faraday's Law, and @emily-phet mentioned that @zepumph had been looking at related issues recently.  Also, I looked at the history of the code and it looks like it's mostly been done by @zepumph.  Reassigning to him.

[2020-11-18 00:05] zepumph commented on #201
Interrupting has been occurring on blur since https://github.com/phetsims/scenery/commit/8e83433aa10da141ed2bdc00d833cbf924df761e, and I don't think that this is inherently wrong to do.

I can confirm that this issue is fixed when you comment out the interrupt line.

I was able to reproduce this problem with friction, and with GFL ruler. I was not able to reproduce this with the BASE balloon, whic

[2020-11-18 17:06] jbphet commented on #201
Thanks @zepumph.  We're hoping to move to an RC fairly soon on this one, but if you and @jessegreenberg can address this in a week, I think that will work out time wise.  I don't think I'll try the workaround you described, and will instead focus on getting all other open issues addressed.

I'll leave this open and assigned to me for follow-up.

[2020-11-22 04:18] emily-phet commented on #197
@jessegreenberg I think this is ok to leave as is for this sim.

[2020-11-24 20:55] jbphet commented on #197
Marking as deferred based on @emily-phet's comment above, but leaving open so that it can be tracked and tested on a subsequent release.

[2020-11-24 21:29] jbphet commented on #192
I am able to duplicate the crackling using Chrome and Firefox on a Macbook Air, but I'm not able to duplicate it on my Win 10 Dell XPS using Chrome, Firefox, or Edge, so this appears to be a Mac-specific problem.

At least for me, the problem is basically impossible to replicate without slowing down the sim speed(using the `speed=0.1` query parameter).

@brooklynlash said:

I'm not able to duplica

[2020-11-24 22:13] brooklynlash commented on #192
@jbphet I honestly am unsure on where I heard the crackling, and I cannot replicate it on my Window's 10 device, so it must have been a temporary speaker issue on my end. Sorry for the confusion.

[2020-12-01 00:11] jbphet opened #203 "Auto-slide doesn't stop if magnet grabbed while moving"
If the user initiates an auto-slide using keyboard navigation and then uses the mouse to grab the magnet, the animation doesn't cancel and odd behavior results.

[2020-12-01 00:26] jbphet commented on #200
@KatieWoe - I believe that this should be fixed by some work done for #195.  Please have QA test on master.

[2020-12-01 00:27] jbphet commented on #195
I did some work on dragging due to a number of problems with the behavior and implementation.  I think this should now be fixed on master.  @KatieWoe - please have QA test this on the current master version.

[2020-12-01 16:25] KatieWoe opened #204 "CT if we hit this something is wrong in the code above"
[code]

[2020-12-01 16:55] brooklynlash commented on #195
Looks good on master for Windows 10.

[2020-12-01 17:14] KatieWoe commented on #200
Looks good in master.

[2020-12-01 17:59] jbphet commented on #204
This was introduced when I removed the minimum distance to boundaries yesterday, and comes up when one of the translation values, x or y, is zero and the other isn't.  I've committed a fix.  Closing.

[2020-12-01 17:59] #204 closed

[2020-12-01 20:53] jbphet commented on #201
The work done for https://github.com/phetsims/scenery-phet/issues/643 has made it possible to pick up the magnet right away with the mouse after focusing on it via keyboard navigation, so the primary issue is fixed.  The only problem is that the drop and pick-up sounds both play in this case when grabbed with the mouse (or a touch event) after keyboard control.  From the code's point of view, this

[2020-12-01 23:11] jbphet commented on #201
@emily-phet and I discussed the issue about both the release and grab sounds playing when going from keyboard to mouse focus and we decided not to spend time on it.  It doesn't sound bad, and is quite subtle, and there are bigger fish to fry.

[2020-12-01 23:24] jbphet commented on #109
Undeferring so that the two items in https://github.com/phetsims/faradays-law/issues/109#issuecomment-717984131
 can be addressed.  This is necessary before publication of a version with keyboard nav and sound.

[2020-12-02 00:03] jbphet commented on #192
I think that this may be due to a lot of volume changes taking place due to the problem described in https://github.com/phetsims/tambo/issues/129, and Mac hardware doesn't deal with it as well as other devices.

I discussed this with @emily-phet today at our regular review meeting, and since it is nigh on impossible to reproduce this behavior at normal sim speeds, we're not going to work on it pri

[2020-12-02 00:03] #192 closed

[2020-12-02 00:27] jbphet commented on #194
Undeferring, since I think I can fix this fairly easily, so we might as well get it into the upcoming release.

[2020-12-02 16:42] jessegreenberg commented on #109
The sim-specific alerts have been removed for now so that they don't pile up if someone happens to use a screen reader in this version. I also added a label for the grabbable bar magnet.

@jbphet let me know if you have any questions, adding back the deferred label since we won't be working on descriptions any further for now.

[2020-12-02 19:05] jbphet commented on #194
I've made some adjustments to the code that defines the "restricted areas" where the magnet is blocked by the coils.  The results looks significantly better to my eye, though there is still a small amount of overlap on the right top of the coil on my machine.  I am trying to keep the boundary information in integer values since it makes the code a bit cleaner, so this is probably as good as we can

[2020-12-02 19:27] KatieWoe commented on #194
Checked on Win 10 Chrome on master (12/2/2020). Looks much better. Can still see some edges if you get in there and squint, (and the resolution on this device is pretty good), but you're unlikely to notice in regular use. The field lines still go through the coils, but I'm not sure if anything can or should be done about that instance.
<img width="173" alt="muchbetter" src="https://user-images.git

[2020-12-02 19:58] jbphet commented on #109
@emily-phet - I played around with this sim on a Mac with VoiceOver on after the changes made by @jessegreenberg, but unfortunately I don't have enough experience with description to know if the current behavior is what was envisioned for the next release.  Can you please check it out or have @terracoda take a look and let me know if we're good to go on this?  This issue is the last one to resolve

[2020-12-02 20:05] jbphet commented on #109
I've assigned this to @terracoda at @emily-phet's request.

[2020-12-02 20:49] terracoda commented on #109
@jbphet, so it looks like with a screen reader I read through the state descriptions (good). And when I tab through, I get object names on focus (good), and when I interact I get any native object responses, like native changes in states (e.g. checkbox and radiobutton selections) (good), AND then I receive NO custom responsive descriptions (i.e. alerts) that change the scene or give updates about

[2020-12-02 20:50] terracoda commented on #109
and as far as we can go right now with this sim's features.

[2020-12-02 20:50] terracoda commented on #109
I checked off items in https://github.com/phetsims/faradays-law/issues/109#issuecomment-717984131

[2020-12-02 20:51] terracoda commented on #109
@jbphet, should I leave this issue open since the description is not totally done, but done for now?

[2020-12-02 21:22] jbphet commented on #109
We're in a state where the partial description has been approved, so I'm going to start the process of publishing a new release.  This release will include sound, keyboard nav, pinch-and-zoom, and the partial description discussed above.  I'm going to mark this issue as deferred and we can reopen when we decide to implement more complete description.

Having said that, when we get back to working

[2020-12-02 21:44] jbphet commented on #132
@jessegreenberg - Can this issue be closed?

[2020-12-02 21:50] jbphet commented on #194
That's intentional - they have to go somewhere.

Since this one is pretty subjective and we agree that it's an improvement, I'm going to go ahead and close it instead of having it tested in the upcoming RC.

[2020-12-02 21:50] #194 closed

[2020-12-03 17:46] muedli commented on #174
Keyboard nav is working well in 1.4.0-rc.1.

[2020-12-03 17:51] muedli commented on #201
Looks fixed in 1.4.0-rc.1, but I'll let @KatieWoe check the box.

[2020-12-03 17:54] muedli commented on #203
This looks fixed in 1.4.0-rc.1, but I'll let @KatieWoe make the final call.

[2020-12-03 20:51] brooklynlash commented on #195
Also looks good on 1.4 rc1

[2020-12-03 21:41] brooklynlash opened #205 "Magnet can go through the "borders" in all parts of sim"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Chrome, Firefox

**Problem description**
This is for https://github.com/phetsims/QA/issues/581
When dragging the magnet around the borders of the sim, the magnet can go "through" the borders and become hidden and missing.
The best way to do this is to hit downwards first and then to the right, but you can get through the

[2020-12-03 21:54] brooklynlash commented on #205
This also happens in Firefox's Legends of Learning harness as well. I think it is an issue with the borders.

[2020-12-04 19:17] brooklynlash commented on #205
This does not occur on the published sim or iframe.

[2020-12-04 20:19] KatieWoe commented on #174
Looks good. I did notice that the arrows don't come back when you use keyboard nav if you have already drug the magnet with mouse. This is probably intended but I wanted to check. @jbphet you can close if this is the case.

[2020-12-04 20:33] KatieWoe commented on #195
Closing. Will reopen if this shows up again on a slower device.

[2020-12-04 20:33] #195 closed

[2020-12-04 21:06] KatieWoe commented on #196
I ended up seeing this in 1.4.0-rc.1, but it then stopped and I can't seem to reproduce it again. I'm not sure what caused it and what fixed it.

[2020-12-04 22:09] KatieWoe commented on #196
I'm still not sure of the cause. It seems to be triggered by going back and forth and then hitting the coil. It also makes the metallic ding sound, which it doesn't seem to normally when it hits the coil after using the number buttons. I have also seemed to have more success after refreshing the page.
![ezgif com-gif-maker](https://user-images.githubusercontent.com/41024075/101220307-b2c61700-3642

[2020-12-04 22:22] KatieWoe commented on #200
Looks good in rc.1

[2020-12-04 22:22] #200 closed

[2020-12-04 23:29] KatieWoe commented on #201
I agree.

[2020-12-04 23:29] #201 closed

[2020-12-04 23:42] KatieWoe commented on #203
This does look fixed. I did notice an odd behavior where, if you start using mouse during auto slide to cancel keyboard nav, but don't actually click the magnet, auto slide will continue. If you click the magnet it will cancel.
![clickoutslide](https://user-images.githubusercontent.com/41024075/101225801-aac0a400-364f-11eb-8733-ec10f24f927f.gif)
@jbphet if this is alright, then feel free to close.

[2020-12-07 17:26] jbphet commented on #203
@KatieWoe - Yes, the behavior you describe in the comment immediately above is intentional.

Closing.

[2020-12-07 17:26] #203 closed

[2020-12-07 17:30] jbphet commented on #174
@KatieWoe - Yes, the behavior that you describe in the comment immediately above is intentional.  Closing.

[2020-12-07 17:30] #174 closed

[2020-12-08 02:27] jbphet commented on #205
Nice catch @brooklynlash!

Here is an easier way to duplicate the problem, and the animated GIF below illustrates the sequence:

- Start with a freshly loaded sim.
- Drag the magnet to the bottom right corner.
- Continue dragging so that the mouse cursor is well below where the magnet is allowed to go in the vertical direction.
- Leaving the mouse cursor well below the magnet, very slowly move the

[2020-12-08 03:04] jbphet commented on #205
@KatieWoe and/or @brooklynlash - please test this on master and assign back to me with your results.

[2020-12-08 16:43] brooklynlash commented on #205
Looks as if it is fixed on master! -- tested on Win 10 Chrome and Firefox

[2020-12-08 16:54] jbphet commented on #205
Thanks @brooklynlash.  Unassigning until the next RC, where I'll have it tested.

[2020-12-08 17:09] brooklynlash commented on #205
Sorry, reassigning again. On master now, you can completely slide through the magnet coils, I thought that was related so I am commenting about that here.
![faradaycoil](https://user-images.githubusercontent.com/72031637/101517029-14350100-3935-11eb-9304-0b895a0d273b.gif)

[2020-12-08 17:18] KatieWoe commented on #205
Good catch @brooklynlash
I looked a bit myself, and wanted to note that this is different from https://github.com/phetsims/faradays-law/issues/195 as the speed of dragging or performance of the device does not matter, the boundary isn't even there in this case.

[2020-12-08 17:35] brooklynlash commented on #205
Another thing to note: the sound effects still work as usual through the coils but the boundary is just not there

[2020-12-08 17:40] jbphet commented on #205
Oops.  I clearly blew my regression testing.  Fixed now, please have another go at it on master.

[2020-12-08 17:45] brooklynlash commented on #205
Works now on master

[2020-12-08 20:26] jbphet commented on #196
Indeed, it was still possible to get the magnet stuck.  To do so, the user would have to press one of the auto-slide keys at the moment the magnet hit the coil.  There was a single frame time (i.e. a 16 ms window) where the animation was still in progress but the target position had actually been reached, and pressing an auto-slide key at this moment caused the code to get a bit confused.  I've mo

[2020-12-08 21:23] KatieWoe commented on #196
Those look good, but I found a similar behavior. If you press more than one of the autoslide keys while the magnet is fully on the right side of the screen, then it gets stuck there until you use the arrow keys to move the magnet. I haven't seen this on the left side of the screen or against magnets, or in the middle of the screen.
![pressmultiple](https://user-images.githubusercontent.com/4102407

[2020-12-08 23:01] KatieWoe commented on #205
Noting here that I saw this on iPad Safari.

[2020-12-08 23:32] KatieWoe opened #206 "Mobile VO, magnet is "released" as soon as it is picked up"
**Device**
iPad 6th Gen
**OS**
iPadOS 14.2
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/581
When using mobile VO and focusing on the magnet, it will tell you to double tap and drag, then let go to stop. When you do this, it will immediately say "Release" and play the release sound effect. You can still drag the magnet around however. I also noticed that the

[2020-12-08 23:43] KatieWoe opened #207 "Alerts for voltage needle and/or lightbulb"
For https://github.com/phetsims/QA/issues/581. Discovered while testing iPadOS VO, but applies more generally to screen reader script and recorded with a11y view.

As I was testing the screen reader dialog, I found it disconcerting that nothing was read while moving the magnet. The information could be somewhat gleaned with the sound effect of the lightbulb. But information about the needle direct

[2020-12-09 14:38] emily-phet commented on #207
Thanks @KatieWoe! We agree, full description for this sim would be great. We didn't have the personnel resources to complete this sim's description this year, and so removed the incomplete parts. This sim, once published in this round, will not be listed as having the interactive description feature, so any description you hear (e.g., navigating the state descriptions such as object names and head

[2020-12-09 14:38] #207 closed

[2020-12-09 17:17] terracoda commented on #109
@jbphet, I agree, I think it makes sense to close this issue and start with a fresh issue, once we pick up the descriptions again for this simulation.

I'll go ahead and close :-)

[2020-12-09 17:17] #109 closed

[2020-12-09 17:54] KatieWoe opened #208 "Mobile VO Hard to check checkboxes properly. Can't flip magnet."
For https://github.com/phetsims/QA/issues/581. Found on iPad 6th Gen iPadOS 14.2 with mobile VO.

When trying to check the Voltmeter and Field Lines checkboxes, VO reads out the option several times, but only one actually allows you to select the checkbox. The one that seems most likely (where the focus lands if you directly try to click the checkbox, where the VO tells you the name of the option

[2020-12-09 18:17] KatieWoe commented on #206
Further note. When you let go of the magnet it is difficult to pick up again. If you try to do the double tap the magnet to pick it up you get an error "donk" sound. To pick it up you need to move to another bit of description by swiping then coming back to the magnet. I also noticed that the bit where it says "Double tap to pick up" is not the focus where you need to do that.

[2020-12-09 18:29] KatieWoe commented on #208
I also cant seem to press the button to switch polarity of the magnet at all.

[2020-12-10 20:50] KatieWoe opened #209 "Screen Reader reads out "dot dot" during scene description of magnet location"
**Device**
Dell
**OS**
Win 10
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/QA/issues/581. Found with NVDA on Firefox.
When reading through the scene description, it seems two periods are used at some point rather than a coma or single period. This leads to an odd sounding reading, where the description is interrupted with "dot dot" for no discernable reason.

**Visua

[2020-12-10 21:04] KatieWoe opened #210 "NVDA screen reader reads out in wrong order when you tab away from the magnet before dropping it"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/581. Found with NVDA on Firefox.
When you have grabbed the magnet, then tab away to the Voltmeter checkbox, without pressing space to first drop the magnet, it seems to read things out of order. The first thing it reads out is a description for the magnet you just

[2020-12-10 21:14] arouinfar opened #211 "LoL Icons/Descriptions"
Faraday's Law is in the process of being redeployed with LoL support, see https://github.com/phetsims/QA/issues/581

Self-assigning to get the assets ready for delivery to LoL once the sim redeploys.

[2020-12-11 14:01] terracoda commented on #209
These are typos in state descriptions. It might be that there is a period in the parameter string as well as the main phrase string. Or it just might be a typo in a single string.

[2020-12-11 14:05] terracoda commented on #209
Eventually, this description would likely be better as a single sentence (removed all instances of "the") with parameterized strings separated by a comma, rather than a period:
- "Bar magnet is at middle-right of Play Area, far from 4-loop coil."

For now, let's just get rid of the double periods.

[2020-12-11 14:23] emily-phet commented on #209
@jessegreenberg Can you do this quick fix?

[2020-12-11 14:38] terracoda commented on #209
The double periods might even have to do with a missing parameter in the description, not sure.

I did a quick look and found these strings starting at line 195:
 "magnetAtPositionPattern": {
      "value": "Magnet at {{position}}."
    },
    "barMagnetPositionPattern": {
      "value": "The bar magnet is {{areaPosition}}"
    },
    "barMagnetIs": {
      "value": "The bar magnet is:"
    },

[2020-12-11 15:30] terracoda commented on #209
Please re-assign me, if my help is needed for this issue.

[2020-12-11 15:33] terracoda commented on #186
I updated link to the FL on the A11y Sims page to the RC.1 link.
I also updated the icons to be: Alternative Input, Sonification, and Magnfication, but magnification is not sticking.
I removed "Interactive Description".

[2020-12-11 22:07] jessegreenberg commented on #197
OK sounds good - this is going to be a problem for all sims not just in Faradays Law so I am going to move to scenery.

[2020-12-11 22:40] jessegreenberg commented on #197
Issue moved to [phetsims/scenery #1125](https://github.com/phetsims/scenery/issues/1125) via [**ZenHub**](https://www.zenhub.com/)

[2020-12-11 22:40] #197 closed

[2020-12-11 23:12] jessegreenberg commented on #209
OK, I removed the punctuation from the pattern that puts the two sentences together.  https://github.com/phetsims/faradays-law/commit/f1e81bde807999d2fa6afc756db07cacf5b95d5d is the commit to move to the release branch. Removing my assignment for that part since @jbphet is moving the sim through the release process.

[2020-12-11 23:18] jessegreenberg commented on #156
https://github.com/phetsims/faradays-law/commit/ffbeac985a31736aafe7b2601bdc5f83dc2e043d looks good and strings are looking good in the a11y view. Closing.

[2020-12-11 23:18] #156 closed

[2020-12-11 23:32] jessegreenberg commented on #208
This is https://github.com/phetsims/scenery/issues/1094, which I had forgotten about. That has been a pretty difficult issue to resolve. Since this release isn't going to support description, this shouldn't block its publication. I will however, add the blocks-publication label to the scenery issue to note that no sims with description should be published until fixed.

[2020-12-11 23:32] #208 closed

[2020-12-11 23:37] jessegreenberg commented on #210
I am guessing the order of operations is
 - Press tab on grabbed magnet
 - blur event fires on the GrabDragInteraction, changing its accessible content. NVDA then reads the new label.
 - "Released" alert is added to back of utterance queue.
 - focus lands on the checkbox, nvda reads the label
 - "Released" alert is spoken after utteranceQueue delay.

Expect this to happen elsewhere, going to check

[2020-12-14 17:22] jessegreenberg commented on #210
@jbphet and I looked at this issue. It will probably be difficult to solve with our limitation of ordering aria-live related alerts and what gets read out by the screen reader on focus. IT is also not specific to faradays-law. We are going to move this to a more common repo to track, and see if anything can be done. But it should not block the upcoming faradays-law release.

[2020-12-14 17:23] jessegreenberg commented on #210
Moving to scenery-phet.

[2020-12-14 17:24] #210 closed

[2020-12-14 17:24] jessegreenberg commented on #210
Issue moved to [phetsims/scenery-phet #649](https://github.com/phetsims/scenery-phet/issues/649) via [**ZenHub**](https://www.zenhub.com/)

[2020-12-14 17:32] jessegreenberg opened #212 "Keyboard interaction hints available on touch screens"
From https://github.com/phetsims/faradays-law/issues/206

@KatieWoe mentioned that this hint is available on iOS VoiceOver, even though there is no keyboard.

This kind of thing needs to be removed on touch screens.

[2020-12-14 17:41] jessegreenberg commented on #206
@jbphet and I reviewed this. He is able to produce this on iOS 14. I am not able to produce this on iOS 13.6. So I think this is related to https://github.com/phetsims/scenery/issues/1094, and I hope that a solution to that issue will resolve this as well.

[2020-12-14 22:46] jbphet commented on #196
Hmm, multiple simultaneous speed-key presses, eh?  Well there's a test I never thought to run.  I've added code to handle that case, please test on master.

[2020-12-14 23:26] jbphet commented on #209
The fix for this has been cherry-picked to the 1.4 branch.

[2020-12-14 23:32] jbphet commented on #205
The fixes for this issue have now been cherry-picked to the 1.4 release branch.

[2020-12-14 23:38] jbphet commented on #196
The fixes for the problems related to this issue found in 1.4.0-rc.1 have now been cherry picked to the 1.4 release branch.

[2020-12-14 23:39] jbphet commented on #189
@KatieWoe - I think we're getting close to publication, so please let me know who else should be added to the QA credits.

[2020-12-14 23:46] KatieWoe commented on #189
Jaspe Arias, Devon Quispe, and Brooklyn Lash should be added so far

[2020-12-15 00:08] jbphet commented on #189
Thanks @KatieWoe - those three names have been added to both master and the 1.4 branch.

[2020-12-15 00:09] jbphet commented on #189
Just to be clear, this issue pertains to what will be the 1.4 release.

[2020-12-15 16:28] KatieWoe opened #213 "CT should not be in this state when moving right"
[code]

[2020-12-15 18:52] jbphet commented on #213
Fixed.  This was due to a change made to how the auto-slide animation responded to the coil-change configuration, and I have simplified things so that any in-progress animation that is occurring when the coil change configuration changes is stopped.  Closing.

[2020-12-15 18:52] #213 closed

[2020-12-15 20:08] jbphet commented on #212
I believe that this doesn't need to be a publication-blocking bug for the 1.4 release.  It only occurs on iOS devices when using VoiceOver, and the sim is still fully usable, it's just potentially a bit confusing.  When a fix for this is available, please assign the issue to me and I'll do a maintenance release from the 1.4 branch with the changes.

[2020-12-15 20:10] jbphet commented on #206
I've decided that this bug should not block publication of the 1.4 release.  It only occurs on iOS devices when using VoiceOver, and doesn't make the sim unusable, just a bit awkward.  Once a fix is available for this, please assign the issue back to me and I'll do a maintenance release from the 1.4 branch with the changes.

[2020-12-16 21:51] phet-steele commented on #189
This looks great in 1.4.0-rc.2!

[2020-12-16 21:51] #189 closed

[2020-12-16 22:41] phet-steele commented on #205
This looks good for me in 1.4.0-rc.2!

[2020-12-16 22:41] #205 closed

[2020-12-16 23:25] phet-steele opened #214 "1,2, and 3 buttons may become unresponsive if the magnet is dropped prematurely"
1. Press Tab and Space to pick up the magnet with the keyboard
2. Press and hold 1 (or the others, but "1" will be used for this example)
3. While holding 1, either press Tab or Space to drop the magnet. Depending on which you choose, the little direction arrow may or may not go away, but the ghost image will always remain in place.
4. Release 1, the magnet will not move. (Somewhat expected?)
5. R

[2020-12-16 23:28] phet-steele commented on #196
I think this is fixed? There is a lot in this issue, and I am somewhat distracted by #214. It's hard for me to know if #214 is one of the bugs listed in this issue, or a regression from one of their fixes, or what. So I am not entirely sure if I want to close this?

[2020-12-17 23:19] KatieWoe commented on #209
Checked on a11y view since we are not fully testing Screen readers in rc.2. Looks fixed there. Closing. @jbphet let me know if you want this opened or checked more in depth.

[2020-12-17 23:19] #209 closed

[2020-12-17 23:45] KatieWoe commented on #196
I still see differing behavior on that right size, but it no longer seems to make it so you can't use the number sliders.

[2020-12-17 23:52] KatieWoe commented on #196
Other than what @phet-steele saw with https://github.com/phetsims/faradays-law/issues/214, the aspects mentioned here seemed fixed. It's a bit hard to tell with https://github.com/phetsims/faradays-law/issues/196#issuecomment-739050300, since it apparently requires such exact timing, but I haven't managed to reproduce it.

[2020-12-18 00:06] loganbraywork opened #215 "Using Ctrl to switch tabs while magnet is selected with keyboard nav causes ghost magnet to appear"
**Test device**

Windows 10 HP Laptop

**Operating System**

Windows 10 1909

**Browser**

Chrome v. 87.0.4280.88 (Official Build) (64-bit)

**Problem description**

For https://github.com/phetsims/QA/issues/585

If the magnet is selected using keyboard navigation, and then ctrl+1, 2, or 3 is pressed, then web browsers such as chrome and firefox will switch tabs, creating a ghost magnet and ghost

[2020-12-18 17:30] jbphet commented on #209
Closing is fine by me since it has now been independently verified.

[2020-12-18 18:46] brooklynlash commented on #215
I also noticed that the magnet will not move in keyboard nav unless you press the original number, i.e. if you pressed ctrl+1 it only moves when you press 1 a few times and will be stuck if you try to use 2 or 3.

[2020-12-21 23:52] jbphet commented on #215
I did two things for this:

1. added code to stop animation when magnet is release
2. added a check for modifier keys and ignore the speed keys when present

Either of these would have fixed the root problem, but both together seem like a solid and more maintainable solution.

[2020-12-22 00:02] jbphet commented on #214
This is an interesting case.  There was no handling in place for the situation where the magnet lost keyboard nav focus while auto-slide keys were pressed.  I've added it by created a `release` handler and making it behave as though any auto-slide keys that were down are considered up.

[2020-12-22 16:19] KatieWoe opened #216 "CT t.domEvent.getModifierState is not a function"
[code]

[2020-12-22 18:44] jbphet commented on #216
This can be duplicated by running with the `fuzzBoard` flag.

[2020-12-22 18:47] jbphet commented on #216
I think that this is a problem with the test, not the simulation code.  I'll log an issue for further investigation.

[2020-12-22 19:15] jbphet opened #217 "Remove workaround code for fuzzBoard if and when possible"
For #216 I added some code to test for whether the method `getModifierState` was present on a key event.  This problem only came up during fuzzBoard testing, so I think it might be a problem with that test.  I've logged an issue for investigation in https://github.com/phetsims/scenery/issues/1127.  When that issue is resolved, it may be possible to remove the workaround code.

Search for TODO in t

[2020-12-22 19:54] KatieWoe commented on #216
Used fuzzBoard on rc.4 and didn't see this error. Closing for now. Will reopen if something comes up.

[2020-12-22 19:54] #216 closed

[2020-12-22 20:36] KatieWoe commented on #215
Looks good on Win 10 Chrome and Firefox. Will reopen if something more comes up.

[2020-12-22 20:36] #215 closed

[2020-12-22 21:09] KatieWoe commented on #214
Looks fixed in rc.4. Will reopen if something else shows up

[2020-12-22 21:09] #214 closed

[2020-12-22 22:36] KatieWoe opened #218 "Indistinct edges to coils"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/592. Not a major problem. Easiest seen with keyboard nav.
When moving the magnet through/past the coil so that is "scrapes" the top/bottom the edges will make the clink sound as if the magnet is being stopped. If the magnet is moving using the keyboard 1,2,3 comman

[2020-12-23 18:03] jbphet commented on #218
This is definitely not significant enough to be considered blocking for the 1.4 release, but I will take a look at some point.

[2020-12-23 18:20] KatieWoe commented on #218
I wanted to see if this was in the published version. However, since the published version doesn't have sound or keyboard nav there isn't really a way to tell.

[2021-01-12 17:16] jessegreenberg commented on #206
This should be fixed by https://github.com/phetsims/scenery/issues/1137, that issue is currently ready for review.

[2021-01-12 17:20] jessegreenberg commented on #186
Pan and Zoom feature was enabled and verified by design team in #173. QA team tested the feature for release. I think that's it! @terracoda @emily-phet anything else for this?

[2021-01-13 20:25] jessegreenberg commented on #206
This was fixed in github.com/phetsims/scenery/issues/1137. I don't think a maintenance release is necessary for this sim though @jbphet since description was not part of the recent release. Specifically, there are no alerts that describe position of the magnet so this wouldn't be very useful for someone actually using VoiceOver yet. I think it is OK to close, but feel free to double check with @te

[2021-01-13 20:56] terracoda commented on #206
I double checked. The magnet is indeed grabbable and draggable with touch and mobile VO.

[2021-01-13 21:21] terracoda commented on #206
Though the state descriptions are not perfect, and there are no responses, this sim works provides a relatively rich non-visual experience when the sound and sonification is combined with accessible interaction names provided via iOS VoiceOver.

I don't know what it takes to do a maintenance release, but if it isn't too much trouble, I would encourage it.

Otherwise, we can do a dev version, and I

[2021-01-14 14:24] terracoda commented on #186
If pan & zoom passed QA, that's makes for a reliable stamp of approval from my perspective.

[2021-01-14 14:29] emily-phet commented on #186
Agreed!

[2021-01-14 14:50] terracoda commented on #206
I just used the published version of the sim, and the though the behaviour is not perfect, it is possible to grab the magnet with VO enabled, both on iOS and on MacOs.

Let's leave it for now and make sure our best version with interactive description (and with the interactive description icon) is available via a dev version in the list of prototypes on the A11y Sims page.

The version with intera

[2021-01-14 14:51] terracoda commented on #206
@jessegreenberg, can you give me a dev version here, and I will create a prototype entry on the web page.

[2021-01-14 17:26] jessegreenberg commented on #186
OK, closing then!

[2021-01-14 17:26] #186 closed

[2021-01-14 20:10] terracoda commented on #206
Oh maybe, it is better if @jbphet gives me the latest dev version. The issue is assigned to him.
@jbphet, please give me the latest dev version and I will close this issue :-)

[2021-01-15 21:12] jbphet commented on #206
@terracoda - The latest version is https://phet-dev.colorado.edu/html/faradays-law/1.4.0/phet/faradays-law_en_phet.html.

[2021-01-17 14:49] terracoda commented on #206
@jbphet, sorry I meant a "new dev version" which includes @jessegreenberg Jan 13th commit that fixes the magnet.
That dev version 1.4.0 is from December 23rd.

Please generate a new dev version. Apologies for not being clear.

[2021-01-19 18:42] jbphet commented on #206
@terracoda - Thanks for the clarification.  I've published https://phet-dev.colorado.edu/html/faradays-law/1.5.0-dev.1/phet/faradays-law_en_phet.html for you to check out.  That should be the "latest and greatest" as of this moment.

[2021-01-19 22:02] jbphet commented on #196
We decided to go with it, and the sim has been published.  Closing.

[2021-01-19 22:02] #196 closed

[2021-01-20 15:28] terracoda commented on #206
Thanks @jbphet I am able to grab and drag the magnet with mobile VO on iOS 14.3.

However, I am sorry to report that with that version I can no longer move the grabbed magnet with the keyboard. On MacOS 10.13.6 with or without VoiceOver enabled and browsing with Safari the grabbed magnet is not at all operational.

The visual grab cue is also askew.
Maybe something happened in common code? There h

[2021-01-20 15:29] terracoda commented on #206
I think it is safe to close this issue as the magnet is now operational on Mobile VO.

[2021-01-20 15:29] #206 closed

[2021-01-20 15:44] terracoda opened #219 "Need new dev version that is both keyboard & mobile accessible for A11y Sims page"
While testing https://phet-dev.colorado.edu/html/faradays-law/1.5.0-dev.1/phet/faradays-law_en_phet.html for #206, I noticed that I could no longer move the grabbed magnet with the keyboard and that the visual grab hint is askew on focus. The magnet is indeed grabbable and draggable on iOS, but not on MacOs with the keyboard.

I tested with
- MacOS High Sierra 10.13.6 (which is not the latest MacO

[2021-01-20 18:41] jbphet commented on #182
Concerns have been addressed and the sim has been published with sound.  Closing.

[2021-01-20 18:41] #182 closed

[2021-01-20 19:41] jbphet commented on #219
Hmmm, I'm not sure what happened with 1.5.0-dev.1.  I may have picked up some transitional code or had some common repos on older revisions (I was doing some maintenance releases on other sims around the same time).  At any rate, I just did another dev version and testing keyboard interaction with the magnet, and it seems fine.

@terracoda - please try this one and see if it works better for you:

[2021-01-20 19:48] terracoda commented on #219
Your awesome, thanks @jbphet.

[2021-01-20 19:55] jbphet commented on #217
https://github.com/phetsims/scenery/issues/1127 has been fixed, and I tried removing the workaround code and running the `fuzzBoard` test, and it ran fine, so the code has been committed to master.  Closing.

[2021-01-20 19:55] #217 closed

[2021-01-20 20:02] terracoda commented on #219
Accessible Sims page is updated with this prototype version of Faraday's Law that includes the interactive description icons.

Closing.

[2021-01-20 20:02] #219 closed

[2021-01-21 01:33] arouinfar commented on #155
Here's a mockup of what the updated field lines could look like (please pretend the arrows aren't misisng). The spacing between each loop is similar and the lines don't touch at the magnet's poles.
![image](https://user-images.githubusercontent.com/8419308/105262536-66308f80-5b4d-11eb-9054-8ae2d9f95366.png)
![image](https://user-images.githubusercontent.com/8419308/105262911-7cd6e680-5b4d-11eb-9bd

[2021-01-21 01:37] arouinfar commented on #152
In the 10/29/2020 design meeting we decided not to add this feature.

[2021-01-21 01:37] #152 closed

[2021-01-21 01:58] arouinfar commented on #202
This is an interesting suggestion, but it's not a change we will make. It would require significant design changes (coil diameter, UI control for magnet orientation, lots of implications for sound and description) and doesn't serve the primary learning goals of this simulation.

[2021-01-21 22:26] oliver-phet commented on #202
Thanks, @arouinfar. Email to user sent!

[2021-01-21 22:26] #202 closed

[2021-01-27 05:02] arouinfar commented on #211
The sim has been delivered to LoL, closing.

[2021-01-27 05:02] #211 closed

[2021-01-29 17:49] BLFiedler commented on #187
This has been checked over by @jbphet and is set to be recorded next week in a batch with RaP and W:I.

[2021-03-04 00:08] jbphet commented on #218
The fact that the sound is emitted when dragging back and forth right near the coil doesn't bother me at all, and in fact it seems pretty natural.  It's kind of like the magnet makes a "glancing blow".  I was bothered by the fact that the behavior was inconsistent between dragging the magnet with the arrow keys and moving it using the speed keys, so I've changed it to use the same code for determi

[2021-03-04 19:42] KatieWoe commented on #218
Looks good on master.

[2021-03-16 01:56] anirvon opened #220 "Feature request - a "field meter""
It would be very helpful to include a way to measure the magnetic field in the simulation using a "field meter", that shows the measured value of the magnetic field, like in the older Java-based simulation at https://phet.colorado.edu/sims/cheerpj/faraday/latest/faraday.html?simulation=magnet-and-compass.
This would enable my students to perform calculations using this simulation.

If possible, ot

[2021-03-16 17:13] jbphet commented on #220
@anirvon - Thanks for the request, and this is a fine place to put it.

@arouinfar - You're listed as one of the designers for this sim, and the only one who I think is available.  I believe the simulation that is linked in the user's request is actually from Faraday's Electromagnetic Lab, but I'm not certain, and I don't know what our plans are for porting that one.  Can you please log your input

[2021-03-17 19:43] arouinfar commented on #220
Thanks for reaching out @anirvon. @jbphet is correct, Magnet and Compass is a sub-set of the [Faraday's Electromagnetic Lab](https://phet.colorado.edu/en/simulation/legacy/faraday) simulation which hasn't yet been converted to HTML5. However, we do have a browser-compatible CheerpJ version available on the simulation page. The "Pickup Coil" tab of Faraday's Electromagnetic Lab is a more quantitati

[2021-03-17 19:43] #220 closed

[2021-03-22 18:26] BLFiedler commented on #187
Published - see sim page: https://phet.colorado.edu/en/simulation/faradays-law

[2021-03-22 18:26] #187 closed

[2021-04-26 18:35] #188 closed

[2021-06-15 17:44] jbphet commented on #104
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-06-15 17:46] jbphet commented on #104
Re-deletion complete.  Closing.

[2021-06-15 17:46] #104 closed

[2021-06-15 17:47] jbphet commented on #64
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-06-15 17:47] jbphet commented on #64
Re-deletion complete.  Closing.

[2021-06-15 17:47] #64 closed

[2021-09-21 02:24] liam-mulhall opened #221 "Patch in string file typo fix"
In https://github.com/phetsims/faradays-law/commit/63179e1b8c2ddb567710ab04e1f1a0cd8ea13234 and https://github.com/phetsims/faradays-law/commit/81f150c6bc0a690f206feba1304213c15899c49f, I fixed typos in the strings file that were causing the new version of Rosetta problems.

For context, the new version of Rosetta gets the sim's HTML, then tries to parse the string JSON. It couldn't parse the JSON

[2021-09-21 13:07] pixelzoom commented on #221
If a string contain `"` causes problems in Rosetta, that also seems to be worthy of a more general issue in the rosetta repo.  A user (or developer) should absolutely be able to use `"` in a translated string.  For example `The diameter is 2"`.

[2021-09-21 15:18] liam-mulhall commented on #221
The problem isn't with the `"` per se. The issue arises when `JSON.parse()` is called on a JSON string with a `"` despite it being escaped with a backslash.

I'll need to run unit tests to figure out if this is an issue for other sims as well. Thanks for the suggestion to open a more general issue, @pixelzoom.

[2022-02-09 18:49] Nancy-Salpepi opened #222 "Sound heard when sim is launched in State Wrapper"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
Chrome

**Problem description**
Seen when testing for https://github.com/phetsims/phet-io/issues/1626:
When the sim is launched in the State wrapper, the last sound played before launching is heard briefly.
This issue isn't happening with mac + safari.

At this point, I'm not assigning to any developer (following Micha

[2022-02-09 20:57] Nancy-Salpepi commented on #222
In addition, if the reset all button is pressed in the upstream sim after making a sound, the sound is still heard in the downstream sim.

Steps to reproduce:
1. In the State wrapper, set the State Rate equal to zero
2. In the upstream sim move the magnet in and out of the coil to generate sound.
3. Once the sound has stopped, press the Set State Now button--sound is heard in the downstream sim
4.

[2022-02-22 17:15] Nancy-Salpepi commented on #222
Use Mac + chrome:
In the Studio wrapper, the launched sim will produce sound when the Reset All button is pressed. It will not produce the Reset All button sound.

1. In Studio: generate sound by moving the magnet in the coil.
2. Launch the sim
3. Press the reset button.

[2022-05-25 17:05] KatieWoe opened #223 "CT After startup, only dynamic instances prescribed by the baseline file can be registered."
[code]

[2022-05-26 16:23] #223 closed