[2014-08-25 19:10] ariel-phet opened #1 "Voltage Meter Looks Pixelated in Mockup"
Hey @vasily-shakhov the voltage meter in the mockup I gave you looks a bit pixelated. When drawing this element in code please refer to the higher quality picture below
![voltmeter](https://cloud.githubusercontent.com/assets/4051174/4035072/45cd6c88-2c8b-11e4-9f3c-07b85dc1b927.png)

[2014-08-28 22:40] jbphet opened #2 "Preliminary model testing"
Since the model behavior is very important in this sim, we'd like to do some early testing on it so that any issues can be worked out well before the end of the overall development effort.  Please update this ticket and reassign it to me (@jbphet) as soon as the model code is functionally complete and the simulation in a state where we can begin testing it.

[2014-09-03 02:40] ariel-phet opened #3 "Default state of the sim should be 1 coil"
Currently when the sim is loaded, the default is two coils. The sim should be in the "1 coil" state when first loaded or when reset.

[2014-09-03 02:44] ariel-phet opened #4 "Incorrect button is full opacity for coil selection buttons"
Currently, the coil selection buttons are not highlighted correctly. When "1 coil" is selected the buttons should appear in the following configuration:

![coil selection](https://cloud.githubusercontent.com/assets/4051174/4128876/37f819d4-3314-11e4-8eba-4c3c29bc49de.PNG)

This detail can also be seen in the mockups for the spec.

[2014-09-03 05:31] #1 closed, assigned to ariel-phet

[2014-09-03 15:02] samreid opened #5 "Use Pseudo3DRoundedRectangle for the Voltage Meter?"
This is a question for @jbphet.  @jonathanolson just finished developing Pseudo3DRoundedRectangle as part of Wave on a String, and moved it to common code.  Should it be used to render the Voltage Meter body in Farady's Law?

[2014-09-04 01:27] #3 closed, assigned to ariel-phet

[2014-09-04 01:27] #4 closed, assigned to ariel-phet

[2014-09-04 01:33] ariel-phet opened #6 "Magnet Field Lines are not Correct in 1.0.0-dev.1"
There are several issues with the field line implementation. Please see the original flash sim to correct the following issues:
1. The arrows head on the field lines should all be symmetric about the magnet
2. Field lines should be pointing _away_ from the North pole (currently the top field lines indicate a direction towards the north pole)
3. Every field line should have an arrowhead (as in the

[2014-09-04 01:39] ariel-phet opened #7 "Resizing the window causes bulb to no longer illuminate in Firefox"
In FF 31.0 resizing the window causes the bulb to no longer illuminate.

To reproduce:
1. Resize the window horizontally
2. Try moving the magnet through the coils
3. At some resizing the bulb will fail to illuminate, using the refresh button does not fix the issue

Troubleshooting information (do not edit):
Name: Faraday's Law
URL: http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.0.0-

[2014-09-04 11:17] MDmitrieva opened #8 "there is a possibility to remove magnet from the screen"
this behavior doesn't match the specification info:

Limits of Magnet Motion
The motion of the magnet should be limited to the screen bounds.  For an example of similar behavior, see the ruler on the 2nd screen of Beer’s Law Lab.

[2014-09-04 11:37] MDmitrieva opened #9 "magnet is stuck within the coil"
steps to reproduce:
1. start the SIM
2. put the magnet at the position where it will overlap 2nd coil
3. switch sim to 2 coils model
4. see a bug

a. the magnet is stuck - it's impossible to move it
b. even if you switch the SIM back it still will be stuck in this position

![download](https://cloud.githubusercontent.com/assets/7589722/4148575/9eb7d1dc-3427-11e4-892f-239ada20c66c.png)

spec info:

[2014-09-05 03:43] ariel-phet opened #10 "MD Requests for Visual Tweaks"
@jbphet here is a list of @dubson comments that were not included in the original spec, Therefore PhET should fix them internally:

1)  Round corners of wire at 90 degree bends, very slightly.
2)  Arrow head on voltmeter needle should be made a little more narrow.  See original sim.
3)  Lighten grey terminals of voltmeter a little to improve contrast between +/- signs and terminal body.
4)  The 1-

[2014-09-05 03:48] ariel-phet opened #11 "Light Bulb body should turn white when bulb is lit"
@dubson reports that the light bulb body (the glass) remains grey when the light bulb starts to light. To better match the original sim it should begin to glow white when the bulb begins to light.

[2014-09-05 07:09] #8 closed, assigned to MDmitrieva

[2014-09-05 15:34] ariel-phet opened #12 "Adjustment to semicircle postion in voltmeter"
On voltmeter, the semi-circle of the read-out should be centered in the white frame.  So should be moved down slightly. See #1

[2014-09-05 19:07] jbphet opened #13 "Try SVG nodes for the coils"
The coils look a bit aliased at some resolutions, which is common for things with curves.  We should try using SVG nodes for these and see if it works and is a visual improvement.

[2014-09-05 20:45] jbphet opened #14 "CoilsWiresNode uses 'magic numbers', doesn't relate to anything in the model"
While adding curves to the CoilsWiresNode (see #10), I noticed that this code contains quite a number of arbitrary position values that don't relate to anything in the model.  They should instead derive their endpoints from the light bulb and coils so that these model elements could be moved without having to re-do all the values in this node.

[2014-09-08 16:54] #12 closed, assigned to ariel-phet

[2014-09-08 16:56] #6 closed, assigned to ariel-phet

[2014-09-08 21:10] jbphet opened #15 "Magnet drag behavior is not consistent with other PhET sims"
There is a bug with the drag behavior of the magnet that existed in the Flash version and that has been replicated in the HTML5 sim.  We originally had a section in the spec that described the bug and the desired behavior, but it was removed because we thought the bug was fixed.  This was PhET's mistake, so if MLL feels that fixing this is outside the scope of the original project, let us know and

[2014-09-09 18:33] ariel-phet opened #16 "Flipping magnet inside coil does not produce consistent behavior"
To reproduce
1. place the magnet so its center is in the center of one of the coils
2. Press the flip magnet button

Flipping the magnet should produce an equivalent response in this case, but one flip produces a large response and the other produces a small response

[2014-09-10 15:38] #16 closed, assigned to ariel-phet

[2014-09-10 15:40] #7 closed, assigned to ariel-phet

[2014-09-10 20:42] ariel-phet opened #17 "Magnet should be layered in front of voltage meter"
The magnet can pass behind the voltage meter, it should be layered so that it goes in front of the voltage meter

[2014-09-10 20:46] ariel-phet opened #18 "Magnet can be "pushed" through coil wires"
If the magnet is place in the center of the lower (4 loop) coil, it can be moved in an unphysical manner through the coil. To reproduce:
1. Put the magnet in the center of the lower coil
2. Drag the magnet towards the top of the coil
3. Without releasing continue to drag the mouse to the top of the screen

The magnet will "pop" through the wires of the coil

[2014-09-11 15:34] #17 closed, assigned to ariel-phet

[2014-09-11 15:37] #18 closed, assigned to ariel-phet

[2014-09-11 21:34] dubson opened #19 "magnet move responsiveness: touch vs. mouse"
On my Lenovo thinkpad, I have both a touch screen and a mouse.  I notice that the magnet movement with the mouse is perceptibly move responsive than with the touch.  While moving the magnet with my finger, the magnet lags my finger.  But when moving with the mouse, the magnet follows the pointer better.

[2014-09-15 16:02] arouinfar opened #20 "Magnet did not look draggable in interview"
I interviewed a student who had previous experience with the circuit construction kit sims. He tried to drag the wires, voltmeter, and coils, but never tried to drag the magnet (until prompted after his exploration was finished).

Looking at the Flash version, there is an arrow and "Move Me!" next to the magnet, so perhaps we should think about adding arrows to the magnet like those on Wave on a S

[2014-09-16 16:57] ariel-phet opened #21 "More Neutral color for "flip magnet" button in 1.0.0-dev.3"
Currently the flip magnet has a greenish hue that seems a bit distracting. Right now it is the most visually attractive item in the sim (to me eye). We want students to move the magnet first (I think the addition of arrows will help cue this action). However, I think this button should not add yet another color to the sim. I think a blue as before or a grey to go with the coil selection buttons wo

[2014-09-24 00:46] ariel-phet opened #22 "Cursor does not turn into a hand when hovering over magnet"
As a standard practice, any objects that are interactive should have the cursor turn into a hand when you are hovering over them. Currently, this is not the case in Faraday's law.

[2014-09-24 15:39] #22 closed, assigned to ariel-phet

[2014-09-24 23:12] jonathanolson opened #23 "Incorrect HTML title on built version"
Has:

[code]

[2014-09-24 23:14] jonathanolson opened #24 "Fix coil thumbnail image resolution for Firefox"
Looks horrible due to aliasing.

[2014-09-25 01:15] #13 closed, assigned to nobody

[2014-09-25 01:15] #24 closed, assigned to jonathanolson

[2014-09-25 01:18] jonathanolson opened #25 "Missing touch areas"
Presumably the magnet, "Field Lines" checkbox/text and two/four coil buttons should have increased touch areas for tablet usage.

[2014-09-25 01:52] #20 closed, assigned to jbphet

[2014-09-25 04:02] jonathanolson opened #26 "Code Review"
Will reference this issue with changes we make, please keep open until all review items are completed.

At the end, this will be assigned to MLL to review the changes referenced here.

[2014-09-25 04:07] jonathanolson opened #27 "Coil names and number of spirals in a CoilModel"
It would be helpful to have better coil names (topCoil, bottomCoil?) than these names.

In addition, the third parameter of CoilModel (number of spirals) is internally 1 and 2, although in the sim the coils have 2 and 4 spirals. Is there a good reason for this discrepancy due to the original model? If so, that logic should be handled in CoilModel.

Referencing FaradaysLawModel.js:

[code]

Code Re

[2014-09-25 04:11] jonathanolson opened #28 "Checking return value of function with no return statement"
In FaradaysLawModel.js, there is the following code:

[code]

However, there is no return statement in moveMagnetToPosition(), so its return value is always undefined.

Is the desired behavior?:

[code]

Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-09-25 04:21] jonathanolson opened #29 "Model step skips some frames, and speeds up after switching out of sim's tab"
The model step for the coils and volt meter will only run on average every 30ms, while browsers usually run frames down to 16.7ms in-between (FaradaysLawModel's targetTickTime is 30ms). Is there a reason we can't run this every frame to improve the smoothness of the lightbulb animation?

Additionally, the code doesn't take into account large dt values in FaradaysLawModel's step(). What happens is

[2014-09-25 04:29] jonathanolson opened #30 "Adding a property on a common-code object"
In FaradaysLawModel, the property 'movingDirection' is added onto a Bounds2 instance (this.intersectedBounds).

In general this is a bad practice since changes to Bounds2 (adding its own 'movingDirection' property) could cause future breaks.

Instead, we would prefer to keep track of this variable elsewhere (this.movingDirection would be appropriate in FaradaysLawModel).

Relevant code in Faradays

[2014-09-25 04:40] jonathanolson opened #31 "TODOs in FlipMagnetButton, SimpleToggleButton,MagnetFieldLines and FaradaysLawScreen"
The following is in FlipMagnetButton.js:

[code]

If we have the color scheme worked out, these should be removed.

Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-09-25 04:43] jonathanolson opened #32 "Sim should run with assertions enabled"
Right now, if you append ?ea to the URL (to run assertions), the sim fails to run, as an assertion is triggered in ArrowNode:

[code]

We have updated our [PhET Development Overview](http://bit.ly/phet-development-overview) to indicate that this is an essential step before the sim is published.

There may be other assertions failing after this one passes, and those should also be fixed.

Code Revi

[2014-09-25 04:49] jonathanolson opened #33 "Use CurvedArrowNode if possible (and is moved to common code)"
CurvedArrowNode (implemented in Molecule Polarity) would be great to help maintainability instead of the custom implementation in FlipMagnetButton.js.

Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-09-25 04:57] jonathanolson opened #34 "Refactor out shared widths/heights of restricted areas"
In FaradaysLawModel.js, there is a list of restricted areas with many hard-coded numbers:

[code]

It would help to at least factor out widths/heights that are shared, and just having an x,y coordinate for each.

Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-09-25 05:24] jonathanolson opened #35 "borderRadius is hardcoded in some parts of SimpleToggleButton.js"
There is a hardcoded border radius for the background recatngle in SimpleToggleButton.js:

[code]

If the borderRadius option for SimpleToggleButton is changed to 30, the following results:
![faradays-law-border-radius](https://cloud.githubusercontent.com/assets/480878/4399784/2d45594a-4474-11e4-9c62-df648680e671.png)

Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-09-25 05:28] jonathanolson opened #36 "Input is buggy for SimpleToggleButton, use ButtonListener"
The following code is used in SimpleToggleButton.js for input handling:

[code]

The most notably buggy part is the following behavior:
1. Mouse down somewhere on the sim
2. Drag the mouse to over the unselected coil option button
3. Release the mouse (it will trigger the button).

It is recommended to use ButtonListener (or a more comprehensive common-code button solution) for this behavior.

Cod

[2014-09-25 05:31] jonathanolson opened #37 "Setting lineWidth on a Node (not a Path)"
In SimpleToggleButton.js:

[code]

where self refers to the SimpleToggleButton itself, which extends Node. This doesn't do anything, and should be removed.

Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-09-25 05:34] jonathanolson opened #38 "Remove unused images"
It looks like image06.png and light-bulb.png are not being used. They should be removed from the images directory (and light-bulb.png should ideally be moved to assets/ for potential future usage).

Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-09-25 05:42] jonathanolson opened #39 "General coil names"
Lots of code refers to coil 1 and 2, but it's not clear from just reading which coil is which. twoCoil/fourCoil, or topCoil/bottomCoil would be useful possibilities to refer to across simulation code.

Briefly mentioned in https://github.com/phetsims/faradays-law/issues/27.

Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-09-25 05:47] jonathanolson opened #40 "Document and simplify vertical placement of ControlPanelNode items"
The following different 'bottom' values are used:
1. model.height - 10
2. model.height - 8
3. model.height - 37

If the 8-10 difference is due to the stroke on the toggle buttons, this should be noted, otherwise things should be perfectly vertically aligned instead of off by 2 pixels.

The "Field lines" check box should presumably be center-aligned with the toggle buttons, which can be accomplishe

[2014-09-25 06:04] jonathanolson opened #41 "Use Kite's EllipticalArc for ellipse position/tangent in MagnetFieldLines"
Where possible, it would be good to simplify the mathematical logic to use EllipticalArc's positionAtAngle() and tangentAtAngle.

Code likely to be simplified:

[code]

Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-09-25 06:14] jonathanolson opened #42 "MagnetNode's drawHalfMagnetNode"
drawHalfMagnetNode doesn't seem to have any optional parameters, but some parameters (with the exception of label and backgroundColor) are bundled into options.

It would be better to move the option defaults into drawHalfMagnetNode, since otherwise it is very hard to tell from that function along what should be in options. The only things that should be in options (and thus passed through to the

[2014-09-25 06:20] jonathanolson opened #43 "Remove duplication of MagnetNode creation in MagnetNodeWithField"
At the top of the constructor of MagnetNodeWithField.js, the first usage:

[code]

and below when the polarity is flipped:

[code]

This duplication should not exist, since changes to one could easily be missed.

Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-09-25 06:27] jonathanolson opened #44 "Constants to refactor in VoltMeterNode"
For example, the border radius of 10, color  options.baseColor.colorUtilsDarker( 0.35 ), etc.

Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-09-25 06:41] #23 closed, assigned to jonathanolson

[2014-09-25 19:22] jonathanolson opened #45 "Unexpected removal of child node from other code"
CoilNode's frontImage is removed and added in with a new transform in FaradaysLawView, which can easily confuse when making modifications to CoilNode.

Please thoroughly document that this is done in CoilNode, so that when making local changes to CoilNode, things won't break.

[2014-09-25 19:28] #5 closed, assigned to jonathanolson

[2014-09-25 19:38] #38 closed, assigned to vasily-shakhov

[2014-10-03 07:37] #9 closed, assigned to MDmitrieva

[2014-10-06 19:55] jonathanolson opened #46 "Sim does not pass lint tests"
Code Review: https://github.com/phetsims/faradays-law/issues/26

[2014-10-06 20:03] #45 closed, assigned to jonathanolson

[2014-10-06 20:03] #44 closed, assigned to jonathanolson

[2014-10-06 20:07] #43 closed, assigned to jonathanolson

[2014-10-06 20:10] #41 closed, assigned to jonathanolson

[2014-10-06 20:14] #40 closed, assigned to jonathanolson

[2014-10-06 20:15] #39 closed, assigned to jonathanolson

[2014-10-06 20:15] #37 closed, assigned to jonathanolson

[2014-10-06 20:16] #36 closed, assigned to jonathanolson

[2014-10-06 20:16] #35 closed, assigned to jonathanolson

[2014-10-06 20:17] #34 closed, assigned to jonathanolson

[2014-10-06 20:34] #32 closed, assigned to jonathanolson

[2014-10-06 21:41] #31 closed, assigned to jonathanolson

[2014-10-06 21:42] #30 closed, assigned to jonathanolson

[2014-10-06 21:43] #27 closed, assigned to jonathanolson

[2014-10-06 21:43] #28 closed, assigned to jonathanolson

[2014-10-07 17:14] #25 closed, assigned to jonathanolson

[2014-10-07 17:14] #46 closed, assigned to jonathanolson

[2014-10-07 17:16] #42 closed, assigned to jonathanolson

[2014-10-07 17:17] #33 closed, assigned to jonathanolson

[2014-10-07 17:17] #14 closed, assigned to jonathanolson

[2014-10-07 17:30] #19 closed, assigned to jbphet

[2014-10-07 17:34] #15 closed, assigned to jbphet

[2014-10-07 17:40] #11 closed, assigned to jbphet

[2014-10-07 17:41] #10 closed, assigned to jbphet

[2014-10-07 17:41] #2 closed, assigned to jbphet

[2014-10-07 17:55] bryo5363 opened #47 "Possible to pass magnet through the vertical bounds of the solenoid"
By dragging the magnet with a significant velocity it is possible to pass the magnet through the vertical bounds of the solenoid.

When trying this on the Java simulation I experienced very strange behavior; dragging the magnet in the Java sim has significantly worse performance than the HTML version

[2014-10-07 18:18] bryo5363 opened #48 "Artifacts present in Firefox"
Test device: MacBook Pro

Operating System: 10.9.5

Browser: Firefox 32.0.3

Problem description: Artifacts present in Firefox

Steps to reproduce:
-Open Sim (iFrame applicable too)
-Drag the magnet slowly
-Artifacts will be present
Severity:

Screenshots:
![screen shot 2014-10-07 at 12 13 46 pm](https://cloud.githubusercontent.com/assets/7717368/4547561/2e2584dc-4e4e-11e4-9fdb-a782d1cde7fa.png)

[2014-10-07 18:38] orejolaphet opened #49 "After moving the magnet or changing the polarity reset produces a voltage."
Test device: ASUS
Operating System: Win 8.1
Browser: IE 11
Problem description:
If you change the location of the magnet or flip the polarity of the magnet, hitting refresh returns the magnet to its original state. In doing so, you produce a changing magnetic flux thus induce a voltage. Should the sim return to its original state ignoring this behavior as it is 'reset', or is it appropriate?

Step

[2014-10-07 18:49] orejolaphet opened #50 "Poor rendering of solenoid IE11 and FF 32.0.3"
![faradays](https://cloud.githubusercontent.com/assets/5631059/4548157/9b9e6f52-4e52-11e4-93b3-3f283e67c58f.PNG)

Troubleshooting information (do not edit):
Name: Faraday's Law
URL: http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.0.0-rc.1/faradays-law_en.html
Version: 1.0.0-rc.1
Features missing: touch, fullscreen
Flags: pointerEnabled, msPointerEnabled
User Agent: Mozilla/5.0 (Window

[2014-10-07 19:07] phet-steele opened #51 ""S" covered by arrow on polarity switch button"
This was only noticeable in Firefox:
![poor s](https://cloud.githubusercontent.com/assets/5863899/4548405/dd04abd0-4e54-11e4-9e40-045ea643ce6f.png)

Tested on Win 8.1 (FF 32.0.3) in 1.0.0-rc.1
Troubleshooting information:
Name: Faraday's Law
URL: http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.0.0-rc.1/faradays-law_en.html
Version: 1.0.0-rc.1
Features missing: touch
User Agent: Mozill

[2014-10-07 19:23] phet-steele opened #52 "Dragging from the arrows doesn't make the arrows disappear"
After you open the sim, there are four arrows around the magnet to show it can be moved. Normally, clicking and dragging on the magnet makes the arrows disappear immediately, but if you click and drag from the arrows they remain around the magnet until the mouse is released.

Video:
https://drive.google.com/file/d/0B3HJopSo_QqLRTFQUW9FV0cySkk/view?usp=sharing

Tested on Win 8.1 (FF 32.0.3, Chrome

[2014-10-07 21:02] orejolaphet opened #53 "Adding and removing additional solenoid does not produce voltage after the first time"
Tested on ASUS Win 8 IE, but appears on all platforms.

If you move the magnet close to the location where the second solenoid would be, then add the solenoid a voltage is produced. But if you remove the solenoid and place it back there is no voltage produced. You must relocate the magnet before adding the solenoid to produce a voltage.

To reproduce:
Bring magnet to center location of the second

[2014-10-10 02:32] #52 closed, assigned to nobody

[2014-10-13 17:19] #51 closed, assigned to jonathanolson

[2014-10-15 14:26] #49 closed, assigned to orejolaphet

[2014-10-15 14:26] #53 closed, assigned to orejolaphet

[2014-10-15 14:27] #47 closed, assigned to bryo5363

[2014-10-22 17:12] #21 closed, assigned to jbphet

[2014-10-23 16:44] bryo5363 opened #54 "Magnet has a red frame around S pole"
I wasn't sure if this is an issue or not but there is a red outline around the South Pole of the magnet. This was not present in rc.1

![screen shot 2014-10-23 at 10 42 59 am](https://cloud.githubusercontent.com/assets/7717368/4757234/d21e58ac-5ad3-11e4-8dda-392f99a280c0.png)

Observed on OSX 10.9.5 Chrome 37.0.2062.120

[2014-10-23 17:20] bryo5363 opened #55 "Poor rendering of arrows in Safari 7.1 iFrame"
Test device: MacBook Pro

Operating System: OSX 10.9.5

Browser: Safari 7.1

Problem description: Poor rendering of arrows in iFrame

Steps to reproduce:

Severity:

Screenshots:
![screen shot 2014-10-23 at 11 18 39 am](https://cloud.githubusercontent.com/assets/7717368/4757730/ddb495f0-5ad8-11e4-8c7b-42ba11703aa6.png)

Troubleshooting information (do not edit):
Name: Faraday's Law
URL: http://www

[2014-10-23 17:34] bryo5363 opened #56 "Upon refreshing the browser, there will be an induced voltage"
Test device: MacBook Pro

Operating System: 10.9.5

Browser: Chrome 37.0.2062.120, Firefox 33.0, Safari 7.1

Problem description: When refreshing the browser or loading the sim for the first time, there will be a jump in the voltage right as the page opens

Steps to reproduce:
Open the sim

Severity:

Screenshots:

Troubleshooting information (do not edit):
Name: Faraday's Law
URL: http://www.colo

[2014-10-27 23:27] #54 closed, assigned to nobody

[2014-10-30 03:08] #56 closed, assigned to nobody

[2014-10-31 04:43] #55 closed, assigned to nobody

[2014-11-02 01:38] pixelzoom opened #57 "sim has no Credits"
Version 1.0.0, all platforms. See screenshot below.

![screenshot_395](https://cloud.githubusercontent.com/assets/3046552/4873957/deed0b46-6230-11e4-8f92-ee0d96720b71.png)

[2015-01-16 22:11] pixelzoom opened #58 "directory structure violates PhET convention"
Source-code directory structure for a 1-screen sim should look like this:

[code]

[2015-01-16 23:14] pixelzoom commented on #57
Looks like this was fixed at some point. Closing.,

[2015-01-16 23:14] #57 closed

[2015-02-02 21:29] #58 closed

[2015-02-02 21:39] jbphet opened #59 "Voltmeter model never settles out after magnet moved"
This was discovered when working on the sonification prototype.

The VoltmeterModel has a property named 'theta' that is used by the VoltMeterNode to set the angle of the meter and also by the BulbNode to set the brightness of the bulb.  Once the magnet is moved, this property never returns to zero - it continues to oscillate around a zero value in ever decreasing amounts.  This unnecessarily cons

[2015-02-04 04:02] samreid opened #60 "SimpleToggleButton issues"
While looking at keyboard accessibility, I came across SimpleToggleButton.  It looks like it should be replaced by sun/RadioButtonGroup.  (It has other problems related to its handling of options, but just getting rid of it and using RadioButtonGroup instead seems like the superior long term solution).

[2015-03-08 04:27] samreid opened #61 "Add together API support"
Similar to https://github.com/phetsims/concentration/issues/34 we would like to instrument this simulation for API access.  We previously discussed adding support for concentration first, but I would like to investigate this as a second use case for ease of instrumentation.  I'll work in the `api` branch as I did for concentration, until the work can be reviewed by @jbphet.

[2015-03-08 05:49] samreid opened #62 "Rename showCoilArrows"
While working on #61 I saw this code:

[code]

it looks like `showCoilArrows` actually shows the arrows on the bar magnet before it is dragged.  Can/should this be renamed?

[2015-03-08 05:55] samreid commented on #61
Work completed above. Looks pretty good for arch.log=console as well as mirroring test.  Save/load from arbitrary state won't work perfectly, because not all of the transient model state is stored.  Ready for review and discussion with @jbphet.

[2015-03-08 05:55] samreid commented on #61
@jbphet can we schedule a time to look at this together early this week?

[2015-03-08 17:26] pixelzoom commented on #61
If possible, please rename the `api` branch to something more descriptive. See  phetsims/together#11.

[2015-03-09 16:39] jbphet commented on #62
Indeed, this was poorly named.  I've renamed it and will close.  Thanks for being observant.

[2015-03-09 16:39] #62 closed

[2015-03-09 19:44] samreid commented on #61
It looks like we will abandon the `api` branch and continue work with the `together` branch, using the together.addComponent methodology.

[2015-03-11 00:26] samreid commented on #61
API branch has been deleted.

[2015-03-17 03:56] samreid commented on #61
After additional work in 0f84ad1d2c336323dcfa41abc7e92626311cda1b, d8aa83b23a8913b4af0b7b3cb96a7c22fa3662b0 and 388a9f13b5d89d53f43b13504c1b9a824ce6d8a6, my work is ready for discussion with @jbphet.

Summary of changes:
1. Added componentIDs to properties and user interface components
2. Added together.addComponent and arch.start/end calls to custom UI components
3. Added scripts to *_en.html
4.

[2015-03-17 17:36] samreid commented on #61
I reviewed this with @jbphet and he said it seems like a reasonable direction and he is ok to merge this to master.

[2015-03-25 02:14] samreid commented on #61
Changes are merged in to master, closing.

[2015-03-25 02:14] #61 closed

[2015-03-31 16:37] jbphet opened #63 "branch: sonification-prototype"
A branch of this sim was created in order to do some initial prototyping of sonification, i.e. adding sonic cues for various interactions.  This branch will be kept for a while, since further work is expected in this area if and when funding is received, and there are currently a couple of outstanding grants.

If at some point in the future work on sonification is fully abandoned, the branch can b

[2015-03-31 20:20] pixelzoom opened #64 "branch: together"
Together instrumentation for faradays-law sim.

[2015-05-20 21:57] ariel-phet commented on #26
This sim is published, closing

[2015-05-20 21:57] #26 closed

[2015-07-14 16:27] ariel-phet opened #65 "Voltmeter appears to be going the wrong way"
One of our users pointed out that he believes the voltmeter is going the wrong way in the simulation. I looked at his argument, and I believe he is correct. Need @dubson to also take a look

![explain](https://cloud.githubusercontent.com/assets/4051174/8678638/d8c1dd78-2a12-11e5-865e-dadfbf6d5ff5.png)

[2015-07-24 15:24] dubson commented on #65
The user is correct!  We have the voltage polarity wrong in the published sim! Published sim should be corrected as soon as possible.

[2015-07-24 16:30] ariel-phet commented on #65
@jbphet - possible to publish a maintenance release for this fix, or should we wait to redeploy? (could be one of the next sims on the redeploy docket)

[2015-07-24 16:55] jbphet commented on #65
Since the behavior is blatantly incorrect, I think a quick maintenance release is warranted.  This sim is one of the four instrumented sims, so a full new version should be tested pretty thoroughly, which may take some time.  IMO, it's better to fix the inaccuracy immediately and then publish the new release when appropriate.

[2015-07-24 17:01] ariel-phet commented on #65
Thanks for the assessment @jbphet - please go ahead with a maintenance release!

[2015-07-27 16:09] samreid opened #66 "Use the conventional approach for loading images"
Faraday's law uses an unconventional approach for loading images which works but is incompatible with the "which images are used?" technique, https://github.com/phetsims/chipper/issues/189

which reports these images are unused:
FARADAYS_LAW/four-loop-back-small.png
FARADAYS_LAW/four-loop-back.png
FARADAYS_LAW/four-loop-front-small.png
FARADAYS_LAW/four-loop-front.png
FARADAYS_LAW/light-bulb-base.

[2015-07-27 16:11] #66 closed

[2015-07-28 19:07] jbphet commented on #65
I have deployed version 1.0.2 to the main site.  I did the dev testing myself, since this was literally a one-character change (excluding some comment editing), and went forward with the production deployment.  I did the deployment manually due to complications with using ```grunt deploy-production```, and it appears that the version shown on the sim page didn't get properly updated (see screen sh

[2015-07-28 19:08] jbphet commented on #65
@aaronsamuel137 - once fixed, feel free to close this.

[2015-08-03 22:51] aaronsamuel137 commented on #65
Updated on the main site now. A few comments:

1. grunt deploy-production currently deployed to phet-dev since it is still being tested.
2. you can update the version number in the admin section of the website under "projects". Note that html projects all begin with "html/". Pressing "synchronize now" will automatically update to the latest version. Once the build server is deployed it will automa

[2015-09-30 20:29] jbphet commented on #59
Fixed (a while ago).  Closing.

[2015-09-30 20:29] #59 closed

[2015-10-14 19:45] jbphet commented on #60
Looks like this was taken care of back in April when instrumenting the sim, see 09174cf1371ef5c80f5f9bd70511fb802c6a7206.  Closing.

[2015-10-14 19:45] #60 closed

[2015-10-14 20:16] jbphet commented on #29
Fixed, closing.

[2015-10-14 20:16] #29 closed

[2015-10-14 20:31] jbphet commented on #48
I just tried this on v1.0.2, and no artifacts are seen.  Either @jonathanolson's fix took care of it or Firefox has improved since this was last tested.

Testing was on OSX 10.11, Firefox 41.0.1

Details from the "Report a problem" menu item:

Troubleshooting information (do not edit):
Name: Faraday's Law
URL: http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.0.2/faradays-law_en.html
Ve

[2015-10-14 20:31] jbphet commented on #48
Issue appears to be resolved, closing.

[2015-10-14 20:33] jbphet commented on #50
This is still a problem as of the 1.0.2 release.  Since support for mipmaps has been added to Scenery since this issue was originally logged, I'm going to try using them instead of plain images to see if that resolves this issue.

[2015-10-14 20:58] jbphet commented on #50
Changing the coils to be mipmaps improved things.  Here is before and after in Firefox 40.0.3 on Win7.

Before:
![fl-coils-old](https://cloud.githubusercontent.com/assets/3082831/10497419/059eb2f4-7283-11e5-8665-169edfcf20b1.png)

After:
![fl-coils-new](https://cloud.githubusercontent.com/assets/3082831/10497427/0e69923c-7283-11e5-9afe-c0a1c83a7341.png)

...and here is IE11 before:
![fl-coils-old-

[2015-10-14 20:59] jbphet commented on #50
I think this has been adequately addressed.  Closing.

[2015-10-14 20:59] #50 closed

[2015-10-14 21:06] ariel-phet commented on #50
:+1:

[2015-10-21 20:55] jbphet opened #67 "sim fails stringTest=long test"
Strings are not being scaled to fit in their parent shape when extremely long.  Here is a screenshot of the result when testing using the ```stringTest=long``` query parameter:

![faradays-law-long-string-fail](https://cloud.githubusercontent.com/assets/3082831/10649880/af928d3c-7803-11e5-966a-410db3f21efd.png)

[2015-10-21 21:56] jbphet commented on #67
fixed, now looks like this:

![faradays-law-long-string-fixed](https://cloud.githubusercontent.com/assets/3082831/10651361/4dfbfde8-780c-11e5-9aa5-9b972378ed67.png)

[2015-10-21 21:56] #67 closed

[2015-10-26 18:14] phet-steele opened #68 "See-through magnet"
Does not block publication, but I've noticed on Win 8.1 IE 11 there is a slight opening in the magnet at the top that lets you look through it:

![voltage peek](https://cloud.githubusercontent.com/assets/5863899/10738001/d4b88dde-7bda-11e5-9332-959e8bbbbc18.PNG)

![coil peek](https://cloud.githubusercontent.com/assets/5863899/10738022/f2438048-7bda-11e5-9c28-3c80ff0e9a6a.PNG)

Name: ‪Faraday's Law

[2015-10-26 18:24] ariel-phet commented on #68
@jbphet - this seems like a low priority, but a nice detail to fix at some point.

[2015-10-27 16:51] jbphet commented on #64
The code from this branch was built and released to Metacog for a demo that they were doing at a trade show in June 2015.  There is a chance that a maintenance release will be needed at some point, but so far (as of late October 2015) there have been no such requests.  At some point, any subsequent releases of together-enabled code (now called phet-io) would come off of the master branch.  Once we

[2015-10-27 17:16] elisemorgan opened #69 "Light Bulb Does not Behave Correctly With Field Lines on iPad 3 iOS 9"
Test device: iPad 3, Disessa

Operating System: iOS 9.0.2

Browser: Safari

Problem description: When the field lines are displayed, the light bulb does not behave correctly. It either does not light up or will be very bright and not go back down. I retested other platforms, including iPad 2 w/ iOS 8 and iOS9, and this behavior is not reproducible on those.

Steps to reproduce: Open sim. Select to

[2015-10-27 17:35] jbphet opened #70 "light bulb base looks fuzzy when large"
When shown on a large screen, the base of the light bulb looks pretty fuzzy.  Below is a screenshot.

![faradays-law-fuzzy-light-bulb-base](https://cloud.githubusercontent.com/assets/3082831/10766803/c615a568-7c9e-11e5-9e71-6fcd0fa14c34.png)

[2015-10-27 17:58] jbphet commented on #70
fixed in master and on the 1.1 branch, closing

[2015-10-27 17:58] #70 closed

[2015-10-27 18:00] jbphet commented on #68
Good catch on this.  There was a bug with the way that the top and side were being drawn.  It was a fairly simple fix, so I've taken care of it on master and on the 1.1 branch.  Closing.

[2015-10-27 18:00] #68 closed

[2015-10-27 20:16] jbphet commented on #69
Assigning to @ariel-phet for a decision on whether to work to address this issue.  He has said before that iPad 3 is no longer a supported platform.  I am able to duplicate this on Disessa (the iPad 3) and I can confirm that it does *not* occur on my iPad 2 running iOS8.  I'm not going to roll the next release candidate until we decide whether this is a blocking issue.

Also, I just showed this to

[2015-10-27 20:20] jbphet commented on #69
This issue does *not* exist with the currently published version of this sim.  Here's a somewhat durable link to this version (where the problem doesn't exist): http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.0.2/

And, for reference, here's a link to the current RC that exhibits this problem:
http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.1.0-rc.1/faradays-law_en.html

[2015-10-27 21:53] ariel-phet commented on #69
If it is a "Scenery thing" and did not exist before, it seems worth investigating. Would be good to at least identify what is causing the issue.

[2015-10-28 15:52] jbphet commented on #64
I sent the following email to @kathy-phet and @ariel-phet:

K--- and A----,

I’m cleaning up some things as I go through the process of publishing some sims, and there is a branch for Faraday’s Law that contains the together-enabled code that we supplied to them for their demo in June.  I’d like to delete this branch and close the related issue if possible.  What would you estimate as the odds tha

[2015-10-28 15:53] jbphet commented on #64
@ariel-phet responded:

Definitely a question for K----...I would be all in favor of deleting the branch. Together has changed quite a bit since then, so it seems like things would need a pretty reasonable update anyhow.

[2015-10-29 18:59] pixelzoom commented on #69
Dev meeting:  test on iOS 9.1.

[2015-10-29 22:59] jbphet commented on #69
I upgraded the iPad 3 (Disessa) to iOS 9.1 and the problem did *not* go away.

[2015-10-29 23:09] jbphet commented on #69
Tested this on an iPad 2 (Tycho) running iOS 9.0 and the problem does not occur.

[2015-10-30 03:23] jonathanolson commented on #69
Committed fix. If a DT was >= 0.1s, that animation frame didn't trigger a model step. During the magnet animation on iPad 3, it must be slow enough that DTs are always >= 0.1s. Since the magnet/lines were moved in the callback (not based on the model/view step), they moved, while the sim model didn't execute.

[2015-10-30 03:23] #69 closed

[2016-01-19 06:08] samreid opened #71 "Fails to launch on phettest"
VoltmeterNode not found?

[2016-01-19 16:27] samreid commented on #71
Here's the first error:

[2016-01-19 16:34] samreid commented on #71
It was a casing issue, discovered because phettest is running on linux.  Fixed above, closing.

[2016-01-19 16:34] #71 closed

[2016-06-07 15:45] phet-steele opened #72 "Sim fails UI component instrumentation"
@samreid @andrewadare Most likely from phetsims/phet-io/issues/77, the sim fails to load with phet-io brand:

[code]

[2016-06-07 15:57] #72 closed

[2016-06-07 15:57] samreid commented on #72
Fixed and closed above, thanks @phet-steele!

[2016-07-18 14:55] samreid opened #73 "branch: phet-io-types"
See https://github.com/phetsims/phet-io/issues/489

I emailed the developer list:

PhET Developers,

I'm about to create branches in 6 repos to support the work-in-progress for moving phet-io types to simulations as part of https://github.com/phetsims/phet-io/issues/489

This approach seems feasible, so please keep in mind that changes to these repos will eventually need to merge.

Currently the r

[2016-07-21 21:18] samreid commented on #73
Merged to master and deleted branch, see https://github.com/phetsims/phet-io/issues/498

Closing.

[2016-07-21 21:18] #73 closed

[2016-09-15 22:45] pixelzoom opened #74 "lint errors"
After adding eslint rules related to switch statements (https://github.com/phetsims/chipper/issues/485), this sim is failing lint.

[code]

[2016-09-16 00:41] #74 closed

[2016-09-23 04:55] samreid opened #75 "Rectangular artifacts in chrome"
Here's a new one, as I bump the magnet against the left side of the screen, the leftmost rectangle changes shades of blue:

![image](https://cloud.githubusercontent.com/assets/679486/18774525/51646316-8117-11e6-9dc1-5d725c68c64f.png)

![image](https://cloud.githubusercontent.com/assets/679486/18774529/58933d9c-8117-11e6-923e-3746f487246a.png)

Present in this version in chrome, not seen in firefox

[2016-09-23 07:01] jonathanolson commented on #75
Interesting. Unable so far to reproduce on windows.

[2016-10-27 23:28] pixelzoom opened #76 "missing tandem for Voltmeter 'signal' Property?"
Noted during work on https://github.com/phetsims/phet-io/issues/661.

See TODO on line 48 of VoltmeterModel:

[code]

[2016-11-20 04:52] samreid commented on #76
Fixed above, closing.

[2016-11-20 04:52] #76 closed

[2017-06-21 22:15] zepumph commented on #64
@pixelzoom can this branch be deleted?

[2017-06-21 22:20] pixelzoom commented on #64
No idea, not my branch. Ask @jbphet.

[2017-06-22 16:13] jbphet commented on #64
I'm making an executive decision that this branch should be deleted.  The chances that we will ever need this are vanishingly small.

[2017-06-22 16:55] zepumph commented on #64
Sounds good. It's deleted, thanks all.

[2017-07-13 17:51] Denz1994 opened #77 "Deprecate Property Set"
Convert to property from propertySet.

Reference: https://github.com/phetsims/axon/issues/102

[2017-07-18 17:07] #77 closed

[2017-08-28 15:07] samreid opened #78 "Some nodes not instrumented"
From https://github.com/phetsims/phet-io/issues/754

@samreid, can you investigate what isn't instrumented with just a screenshot? Everything I could make invisible via the instance proxies is hidden, and these were left over:
<img width="707" alt="screen shot 2016-10-26 at 4 19 46 pm" src="https://cloud.githubusercontent.com/assets/5863899/19783782/7937e012-9c50-11e6-945c-6f24ec2d4db9.png">

For

[2017-08-28 20:22] zepumph commented on #78
I am able to instrument everything in the sim easily because they are all nodes. There is one exception. There is hacky behavior with the coils to get the left "front" half to be on top of the wires and the "back" half behind the wires. Here is the trouble in the screen view:
[code]

After top and `bottomCoilNode` are added, then a piece of them are detached and moved to the center. This breaks th

[2017-09-05 19:41] samreid commented on #78
I have seen a similar pattern in other places where we need to deal with z-ordering.  This may be a good one to collaborate on.

[2017-09-19 15:15] samreid opened #79 "Redesign PhET-iO API and implementation"
In https://github.com/phetsims/phet-io/issues/1178#issuecomment-329573907 we discussed changing our PhET-iO philosophy to be less coupled to implementation and it was suggested we take the ideas for a test drive on a simple sim like Faraday's Law.  Ideally this would start with feedback from designers about what we would like clients to be able to do with the simulation.

@ariel-phet can you get f

[2017-09-19 19:50] ariel-phet commented on #79
@samreid can this wait until next week design meeting? Would be good to have both Kathy and Amy available.

[2017-09-19 19:50] samreid commented on #79
That would be fine.

[2017-09-23 00:25] samreid commented on #78
If we decide to proceed with this, we should create a TType with a method that lets the client hide the node (both parts).  But we are on hold until we have design goals for the PhET-iO version in #79

[2017-09-23 00:27] samreid commented on #78
Unassigning until #79 is complete.

[2017-09-25 17:07] zepumph commented on #79
A few "leaking implementation details" that @samreid and I found while working on https://github.com/phetsims/phet-io-wrappers/issues/30:

* There are two PhETMenuButton tandems per item. One on the home screen, and one on the navigation bar.
* There are started/endedCallbacksForFiredEmitters on every button, are all of these necessary?

[2017-09-25 21:19] jessegreenberg opened #80 "Add keyboard navigation to this sim"
We would like to add keyboard navigation to this sim. @jbphet since you are the responsible dev, does it seem OK to proceed with a11y in this sim or are you aware of anything in this sim that would make keyboard nav challenging?

@zepumph would you please work on implementation of this?  Most of the view in this sim uses common components which have already been instrumented for keyboard navigatio

[2017-09-25 21:25] jessegreenberg commented on #80
Here is the requested keyboard navigation order:

-  Magnet
- Field lines check  box
- flip magnet  button
- reset all button

[2017-09-25 21:26] jessegreenberg commented on #80
[Created a design doc](https://docs.google.com/document/d/1XAGmfk69mEd9Nta8c3kqjCSP0_qZ5DH6uGOMkfDxRuk/edit#), thanks for the template @terracoda!

[2017-09-25 22:19] zepumph commented on #80
@jessegreenberg what is the timeline on this? Phet-iO is expecting to do a fair amount of work on this repo in the near future as part of https://github.com/phetsims/faradays-law/issues/79. There is a good chance that I will be working on a lot of that issue as well, but I want to make sure that a11y and phet-io don't step on each others' toes.

[2017-09-25 22:36] jessegreenberg commented on #80
@zepumph since  this is a single screen sim and most of the UI is already interactive with the keyboard, we were hoping that a minor release of this sim could be deployed with keyboard nav (without description) relatively quickly. But I don't know exact timelines and if it is going to have some phet-io work soon that should also be considered. Can we discuss at tomorrow's meeting?

[2017-09-25 22:49] zepumph commented on #80
Sounds good. I'll poke around in it tonight before the meeting.

[2017-09-25 23:15] jessegreenberg commented on #80
Thanks @zepumph!

[2017-09-26 00:25] zepumph commented on #80
With @jessegreenberg's help I seemed to get keyboard nav into FL with a single commit. @emily-phet @terracoda I would love some feedback on this version http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.4.0-dev.3/faradays-law_en.html?accessibility

I think that we will need to two things, but I defer to the fine designing judgment of the team.
1. Tweak the magnet positioning function so

[2017-09-26 01:10] zepumph commented on #80
@jbphet I do apologize. I just realized that I went ahead without waiting for your response. I did minimal work in the repo in the above commit. Please let me know if there are concerns.

[2017-09-26 16:13] jbphet commented on #80
I don't have any concerns about adding a11y to this sim.

[2017-09-26 16:20] zepumph commented on #80
@terracoda brought up a good point in the keyboard nav meeting today.

* The focus highlight should go in the coils just like the magnet.

[2017-09-27 23:37] ariel-phet commented on #79
| Feature        | Value           | Complexity  | Complete  |
| ------------- |:-------------:| -----:| :-----:|
 |  | | |  |
 |  | | |  |
 |  | | | ✓ |

[2017-09-27 23:43] samreid commented on #79
We used the "feature / value / complexity / complete" pattern in Build an Atom game, but it turned out that we only really needed the feature/complete columns.  By that token, it would be sufficient to use a checklist.  If developers run into something that is too complex, we can revisit then.

[2017-09-28 22:17] zepumph commented on #79
From the design meeting today, we went through Faraday's law twice, once looking at the sim, and a second time looking at instance proxies, to see what items should be part of the stable, supported api.

Here are the objects we instrument moving forward:

**Control Panel**

Toggle visibility on the following items, and make sure all of the related model properties are instrumented so they can be s

[2017-09-29 17:53] samreid commented on #79
The arrow nodes on the bar magnet are instrumented separately.  Our options are to:

a. put them into a similar parent node (would automatically work in instance proxies and have a familiar api)
b. add a TType that has a setArrowsVisible method (would not work automatically in instance proxies but wouldn't require reworking the sim).

I'm leaning toward investigating (a) but wanted to run it past

[2017-09-29 18:49] samreid commented on #79
When the voltmeter is hidden, we would also like to hide the voltmeter wires.  It seems we won't be easily able to put them in the same node due to z-layering:

[code]

How about if the wires listen to the visibility of the voltmeter node and update themselves when it is hidden?

[2017-09-29 18:58] samreid commented on #79
Synchronizing voltmeter wires and voltmeter visibility implemented as prescribed.

[2017-09-29 19:06] samreid commented on #79
@zepumph at the design meeting did anyone mention wanting to hide the reset all button?

[2017-09-29 19:15] samreid commented on #79
Do we need to add a light bulb brightness property for the data stream?  More generally, our design meeting was for customizability--do we need another design meeting for data stream?

[2017-09-29 20:06] samreid commented on #79
There are 2 ways to hide the arrows:

faradaysLaw.faradaysLawScreen.model.showMagnetArrowsProperty: TProperty
and
faradaysLaw.faradaysLawScreen.view.magnet.arrows: TNode

It seems it would be best if there was only one way to customize this.  It seems the model value belongs in the data stream if we follow the pattern of view element => model element.

[2017-09-29 20:11] samreid commented on #79
I guess it makes sense to go with the TProperty in this case, though down the road we may have nodes without corresponding visible properties, etc, so it will become haphazard.  But generally we should operate on models when possible and use MVC.

[2017-09-29 20:15] samreid commented on #79
You can now use `?prefixes=faradaysLaw.faradaysLawScreen` to show these prefixes and filter out the joist/a11y ones which have not yet been designed.

[2017-09-29 21:13] samreid commented on #79
I'm going to uninstrument the magnet node (it seems the magnet should always be visible for this sim to be useful).

[2017-09-29 21:57] samreid commented on #79
After the above changes, here is the screen API (suppressed faradaysLaw.faradaysLawScreen from each variable):

model.magnetModel.flippedProperty: TProperty.<TBoolean>
model.magnetModel.positionProperty: TProperty.<TVector2>
model.magnetModel.showFieldLinesProperty: TProperty.<TBoolean>
model.showMagnetArrowsProperty: TProperty.<TBoolean>
model.showSecondCoilProperty: TProperty.<TBoolean>
model.vo

[2017-09-30 05:04] samreid commented on #79
Unfortunately, I had to add in the singleCoilRadioButton and doubleCoilRadioButton so they would make sense in the data stream.  But we should find a way to suppress them from instance proxies/customizability.

[2017-10-01 02:19] samreid commented on #79
The data stream is much nicer now that I've removed the `thetaProperty` which represented the continuous angle of the needle.

[2017-10-04 18:01] zepumph commented on #80
@terracoda I have done all of the suggestions for this sim. Would you have a look and let me know what else needs to be done?
http://phettest.colorado.edu/faradays-law/faradays-law_en.html?ea&brand=phet&accessibility

[2017-10-04 20:40] terracoda commented on #80
@zepumph, looks good!

By the way, I noticed that there is some funny bounciness of the magent even when moving it around with the mouse. The funny bouncing that happens when using the keyboard is not an issue on its own. The visual affects manifest differently (when using keyboard the magnet can disappear into the coil), but there is weird bounciness in both keyboard and mouse use.

[2017-10-05 13:06] terracoda commented on #80
@zepumph reassign me if you need me to have another look.

[2017-10-06 16:11] zepumph opened #81 "Keyboard dragging makes coil overlap on magnet just 1 step"
It looks like on a keyboard you can do just 1 more step than with a mouse. @jessegreenberg do you have any thoughts about what is going on here?

![image](https://user-images.githubusercontent.com/6856943/31287454-cfa5e526-aa6d-11e7-81c6-35a22790f33f.png)

[2017-10-06 16:11] zepumph commented on #80
@terracoda your above comment will be covered in #81. Closing

[2017-10-06 16:12] zepumph commented on #80
Recent version from today:
http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.4.0-dev.4/faradays-law_en.html?accessibility

[2017-10-06 16:12] #80 closed

[2017-10-06 16:54] jessegreenberg commented on #81
I would guess that it is related to the fact that position is handled in ```moveMagnetToPosition```, which was designed to take the desired position from the mouse point, not the model position property. I am not sure yet if this is a shortcoming of the KeyboardDragHandler or the sim.

[2017-10-06 19:02] jessegreenberg commented on #81
`KeyboardDragHandler` works like `MovableDragHandler`. The drag event directly updates a position Property in the handler.  Faraday's Law uses `SimpleDragHandler`, which doesn't set the position Property at all, but lets you pass in optional  listeners to be called at key points during the input. When using `KeyboardDragHandler` or `MovableDragHandler` with `FaradaysLawModel.moveMagnetToPosition`,

[2017-10-06 19:11] zepumph commented on #81
I'm unsure about the best option here.  I can imagine that we will run into this a lot, and it would be nice if normal and keyboard drag handlers hook up to sims identically (or as identically as possible). I'd say go for it. I would love to assist/review/pair with you, but won't be able to until at least next week.

[2017-10-06 19:12] jessegreenberg commented on #81
I verified that the following hack fixes things:

Change `onDrag` in `MagnetNodeWithField`'s `KeyboardDragHandler` to this
[code]

And replace lines 213-216 of KeyboardDragHandler with
[code]
(removing `this.positionProperty.set( newPosition );`)

[2017-10-06 19:14] zepumph commented on #81
Looks like you got it. Let me know if I can help.

[2017-10-06 19:15] jessegreenberg commented on #81
I agree, we could be re-implementing most listeners that use SimpleDragHandler, that would be bad! Thanks @zepumph, moving this issue to scenery,  but I likely won't  get to this for a while either.

[2017-10-09 16:37] arouinfar opened #82 "Keyboard Navigation Dialog"
I've reviewed the latest dev ([1.4.0-dev.4](http://www.colorado.edu/physics/phet/dev/html/faradays-law/1.4.0-dev.4/faradays-law_en.html?accessibility)) and here's a rough draft of the dialog content.

**Move Magnet**
Move magnet: [arrow keys] or [WASD]
Move faster: [Shift] + [arrow keys] or [Shift] + [WASD]

**General Navigation**
Move to next item: [Tab]
Move to previous item: [Shift] + [Tab]
Exi

[2017-10-09 19:32] terracoda commented on #82
@arouinfar, thus far, in my experience, users have known how to use native controls like simple buttons, radio buttons, and checkboxes. For this sim, I think is safe to leave them off for now, and focus on the custom interaction, moving the magnet.

[2017-10-09 19:35] terracoda commented on #82
**Move Magnet**
Move magnet: [arrow keys] or [WASD]
Move faster: [Shift] + [arrow keys] or [Shift] + [WASD]

**General Navigation**
Move to next item: [Tab]
Move to previous item: [Shift] + [Tab]
Exit this dialog: [Esc]

[2017-10-09 19:39] terracoda commented on #82
@arouinfar, assigning back to you. Hope that's ok.

[2017-10-09 19:44] arouinfar commented on #82
Good to know @terracoda! Thanks.

Here's a mockup of the dialog @terracoda. Can you take a look?
![screen shot 2017-10-09 at 1 43 04 pm](https://user-images.githubusercontent.com/8419308/31355512-d0e34dac-acf7-11e7-8120-79efda0f846c.png)

[2017-10-11 04:24] samreid commented on #79
It would be good to address the joist issues before republishing this as a stable version.

[2017-10-16 01:52] samreid commented on #79
We also need to accomplish https://github.com/phetsims/phet-io/issues/1234 before we can republish this sim as a stable phet-io version.

[2017-10-23 23:49] terracoda commented on #82
@arouinfar, looks good, except one tiny change. I think we had agreed earlier to change, "Exit this dialog:" to "Exit a dialog:".

Is the "this" intentional?

[2017-10-23 23:53] terracoda commented on #82
@arouinfar, yes, we agreed on the wording change when discussing the dialogs for Friction https://github.com/phetsims/friction/issues/45 Molecules and Light https://github.com/phetsims/molecules-and-light/issues/160.

[2017-10-25 17:06] arouinfar commented on #82
Thanks @terracoda! It's possible I mocked up the dialog before we settled on "Exit a dialog", so the wording was not intentional. The scene selection radio buttons act as a group, so should we use the group version of the General Navigation section?

![image](https://user-images.githubusercontent.com/8419308/32012237-754f6dca-b974-11e7-9e07-3a2f877b4dd1.png)

[2017-10-25 17:34] terracoda commented on #82
@arouinfar, looks good. Yes, since the scene selections here are two radios (a group), but to use the group version. In BASE, we are experimenting with a checkbox for the Two-balloon Experiments because it is less verbose from a screen reader's perspective. We will see what we learn from that.

[2017-10-25 17:37] arouinfar commented on #82
Great! Thanks @terracoda.

Off to @jessegreenberg for implementation/reassingment!
![image](https://user-images.githubusercontent.com/8419308/32013587-cc82d574-b978-11e7-9acc-0c3eb17d4564.png)

[2017-10-25 17:39] terracoda commented on #82
Oops, I marked hooray on the old version and the latest version. The latest version is good.

[2017-10-25 17:39] terracoda commented on #82
Over to you @jessegreenberg .

[2017-10-25 17:40] arouinfar commented on #82
No worries @terracoda. The dialogs were identical, except for the alignment of the dialog title (I forgot to re-center it after making the dialog wider).

[2017-11-02 00:42] zepumph opened #83 "Make sure that all focusable items are instrumented with a phetioID"
in https://github.com/phetsims/joist/issues/445#issuecomment-340614487 I implemented a version of the FocusProperty that has indices (like a trail to the node) and a phetioID, but some tab navigable items aren't instrumented. In Faradays Law, I think it is just the about dialog and the magnet. @samreid how should we go about instrumenting the focushighlight node around the magnet? I'm not sure how

[2017-11-02 00:43] zepumph commented on #79
- [ ] https://github.com/phetsims/faradays-law/issues/83 must be done before republish

[2017-11-02 03:40] samreid commented on #83
It seems the MagnetNodeWithField should have a phetioID and receive the focus.  Why would the highlight node need to be instrumented?

[2017-11-02 17:26] zepumph commented on #83
Sorry not the highlight node, but the node that the focusHighlight exists on, in this case it is quite the "implementation detail" as it is on the MagnetNodeWithField's `draggableNode`:

[code]

By adding the bottom line, I was able to fill in the `focusedPhetioID` key filled in for the magnet:
![image](https://user-images.githubusercontent.com/6856943/32340608-eb32a7a0-bfaf-11e7-8cce-c601bc915034

[2017-11-02 18:00] samreid commented on #83
I can't think of a way to get away from the implementation detail, not sure what's best.  Best I can think of at the moment is to give it a name similar to but different from the magnet.  But that sounds like leaking implementation details.

[2017-11-02 21:38] samreid commented on #83
I think there is an a11y way around this. Nodes can define their own focus region and input handlers, perhaps we should investigate making the magnet with field node be the focused thing and not this surrogate?

[2017-11-03 23:19] zepumph opened #84 "highlight around arrows+magnet should have more dilated space"
We can use the new `FocusHighlightPath.getDilationCoefficient( node)` to do this easily (hopefully).

[2017-11-04 01:45] samreid opened #85 "Look through Faraday's Law and its dependencies to make sure correct patterns are being used."
See https://github.com/phetsims/phet-io/issues/1242 and #79

[2017-11-04 03:21] samreid opened #86 "Code Review"
As I was working on https://github.com/phetsims/faradays-law/issues/85 I noticed there are several parts of the sim that need review and updating.  For example, there are properties and variables with non-descriptive names like `this.s = ...`.  There are many properties and methods with no visibility annotations.

I noticed this odd initializer for a for loop:
[code]

The line comments don't match

[2017-11-04 03:24] samreid commented on #85
As I was checking through this sim to see if phet-io patterns are applied properly, I noticed many parts of the sim that are not up to our code review standards.  I created https://github.com/phetsims/faradays-law/issues/86 for tracking it.  I'll see if I can proceed on this issue before #86 is complete.

[2017-11-04 03:30] samreid commented on #85
I searched through all of the faradays-law files for the string `tandem` and usages looked great, I saw only 2 places that needed updating (committed above).  Next step is to look through dependencies.  Not sure how to easily identify all sim dependencies, other than searching for require statements.  Maybe doing a requirejs build with --mangle=false would show us what was included?

[2017-11-04 03:35] samreid commented on #85
https://stackoverflow.com/questions/11756483/require-js-access-all-loaded-modules taught me how to use `require.s.contexts._.defined` to identify all loaded modules.  I used

[code]

and found 330 modules:
[code]

[2017-11-04 03:38] samreid commented on #85
This list is overwhelming, we need rules that will help us identify which files need instrumentation and which don't.

[2017-11-04 03:52] samreid commented on #85
Here's a script that looks through function modules for tandem or phetio, run it after all modules loaded:

[code]

For Faraday's Law, I get:

[code]

This doesn't seem right because text search reveals 12 files in faraday's law with the term `tandem`.

[2017-11-04 03:52] samreid commented on #85
Oops, tandeem is a typo... please hold.

[2017-11-04 03:54] samreid commented on #85
- [ ] AXON/BooleanProperty
 - [ ] AXON/DerivedProperty
 - [ ] AXON/Emitter
 - [ ] AXON/NumberProperty
 - [ ] AXON/ObservableArray
 - [ ] AXON/Property
 - [ ] AXON/TDerivedProperty
 - [ ] AXON/TEmitter
 - [ ] AXON/TNumberProperty
 - [ ] AXON/TObservableArray
 - [ ] AXON/TProperty
 - [ ] DOT/TVector2
 - [ ] FARADAYS_LAW/faradays-law/FaradaysLawScreen
 - [ ] FARADAYS_LAW/faradays-law/model/FaradaysLa

[2017-11-04 04:00] samreid commented on #85
@zepumph can you please review the preceding commit?

[2017-11-04 04:08] samreid commented on #85
@zepumph can you please review the preceding commit as well?  I think I'm at a good point to check in with @zepumph and make sure I'm barking up the right tree before going too much further.  Unassigning until then.

[2017-11-04 16:04] ariel-phet commented on #86
@samreid yes, the sim should definitely be brought up to standards, especially if it is going to serve as a model for future iO instrumentation.

@jbphet does not have time for this right now, is it something you can take care of?

[2017-11-04 16:14] samreid commented on #86
Yes, I'll work on it.

[2017-11-06 22:02] zepumph commented on #85
I'm not sure if adding the `isLegalAndUsable` calls in https://github.com/phetsims/axon/commit/aeb1bbf3f21e43990318b6f71d31bd4f7d446657 is the latest and greatest practice. That should be decided in https://github.com/phetsims/phet-io/issues/1235

As for https://github.com/phetsims/axon/commit/e9f22abfb8b2121dff7f0648632d47d539109fb3: looks good.

[2017-11-07 20:59] zepumph opened #87 "Is the layering of focushighlight and nodes problematic?"
Since you can move the magnet everywhere in FL, you can get to this view when highlighting some of the controls. I don't see this as a high priority problem, but I can imagine that this is going to be a problem where ever there are freely movable objects. @jessegreenberg @emily-phet is this a problem?

![image](https://user-images.githubusercontent.com/6856943/32517483-100071b4-c3b3-11e7-8de7-711c

[2017-11-07 21:07] #84 closed

[2017-11-07 21:28] jessegreenberg commented on #87
Good question @zepumph, that looks weird. This is a general problem for draggable things, here it is in charges and fields:
![capture](https://user-images.githubusercontent.com/6396244/32518715-ae9cfdf6-c3c7-11e7-8627-118359cf0b95.PNG)

Focus is on a check box under the meter.

[2017-11-07 21:30] jessegreenberg commented on #87
Maybe this is OK? It  would also be bad if the focus highlight were totally under the meter in that case. I don't know what the best approach should be. Also wondering if @terracoda has any thoughts.

[2017-11-08 01:09] terracoda commented on #87
@jessegreenberg and @zepumph, those are interesting examples, especially the checkbox behind the meter. Though I think the magnet example looks more odd than the meter example.

In normal focus, the focus is part of the actual object that has focus. In the case of a PhET sim object, it is like focus and the object are 2 different things.

The general idea behind focus, is that it should always be

[2017-11-08 01:15] zepumph commented on #87
I'm inclined to agree with @terracoda. This is a bit weird, but based on your spec. We shouldn't work on it until there is an actual problem.

[2017-11-08 01:15] #87 closed

[2017-11-08 12:55] emily-phet commented on #87
Just to make sure I understand, the issue is if an object has focus, and then you use the mouse (or something else) to drag an object around? I guess I'm a little unclear about how you can be dragging an object while another object has focus.

[2017-11-08 13:43] terracoda commented on #87
In the meter example above, the meter was was dragged in some fashion (with keyboard or mouse) to a place where it obscures the checkbox control. Then later in a separate interaction the user is tabbing through and gets keyboard focus on the checkbox control. The keyboard focus highlight is visually drawn on the top layer, so it is visible, even though the control it is highlighting is not visible

[2017-11-08 13:44] terracoda commented on #87
@emily-phet, we can start a a11y-research topic on this if you would like to consider visual active state alignment for keyboard interactions.

[2017-11-08 21:04] zepumph opened #88 "Can we delete phet-io-api.json?"
@samreid I can't find the issue where we were prototyping this, but I think that the plan is to use latest versions from the phet-io website instead. Can this be deleted?

[2017-11-08 21:20] samreid commented on #88
The latest notes in https://github.com/phetsims/phet-io/issues/1221#issuecomment-331579394 indicate we wanted to commit the latest stable API to master.  Has there been subsequent discussion or insight about this?

[2017-11-08 21:50] zepumph commented on #88
I thought that we were going with a diffing tool that runs on bayes and compares master to latest phet-io version, as discussed in https://github.com/phetsims/phet-io-wrappers/issues/30 (updated 20 days ago)

[2017-11-09 00:02] samreid commented on #88
Thanks for jogging my memory, that sounds good, thanks!  I'll delete phet-io-api.json.

[2017-11-09 00:03] samreid commented on #88
Deleted, closing.

[2017-11-09 00:03] #88 closed

[2017-11-11 02:27] samreid commented on #79
I'm also working on the code review in #86

[2017-11-17 17:05] jessegreenberg opened #89 "Prototype for magnet keyboard interaction"
We would like to create a prototype from the IDRC designs for interacting with the magnet with a keyboard. The interaction should work such that:
- When an arrow key is pressed, the magnet should continuously move in the direction of the arrow.
- If the same arrow is pressed again, the magnet will move faster in that direction. Repeat until a max speed (maybe after 3-5 presses)
- If any other key

[2017-11-17 17:28] zepumph commented on #82
I'm doing a lot of work for this repo right now, so I'll take this one on. I'm not sure the status of this now that the IDRC is designing a new mode of keyboard nav on it. On hold for now as we work on #89.

[2017-11-18 01:13] zepumph commented on #89
I'm not sure how to start on this. I don't think I want to modify KeyboardDragHandler, so instead I want a new handler. It can step the position as needed based on the state of the arrow keys, which dictate the velocity. I'll see if I can get the step function to work as I need it to.

[2017-11-18 01:54] zepumph commented on #89
Have a look at this one. It is pretty basic, but I think it sets us up for design really nicely. @emily-phet @jessegreenberg @terracoda, you can play with it here, https://www.colorado.edu/physics/phet/dev/html/faradays-law/1.4.0-dev.5/faradays-law_en.html?accessibility

[2017-11-18 01:55] zepumph commented on #89
@emily-phet can you please send this to the IDRC if you think it is good enough for their designing needs.

[2017-11-18 14:42] terracoda commented on #89
@zepumph, this is really cool. Nice work.

Personally, I think the differences between speed could be greater. The first speed being very slow, and then the second speed being what the first speed is now, and then a fast speed.

Also, hitting the space key does swap directions. Are you going to try that, or is that for later?

Again, nice work.

[2017-11-19 02:40] samreid opened #90 "There are extra touch areas"
There are extra touch areas

![image](https://user-images.githubusercontent.com/679486/32986856-4b7158b0-cc98-11e7-983a-d445a90f53e7.png)

Discovered in #86

[2017-11-19 04:54] samreid opened #91 "Do we need small coil images?"
From review in https://github.com/phetsims/faradays-law/issues/86

There are 4 images dedicated to being "small", but I wonder if that is really necessary given that we are using mipmap plugin and firefox has had rendering improvements lately.

[2017-11-19 22:14] samreid commented on #86
@jbphet can you please review if the dependencies removed in the preceding commit (vibe/tween) are being used in any of the sonification wrappers?

[2017-11-20 04:46] samreid commented on #90
Another extra (maybe same cause) in the main bar magnet:

![image](https://user-images.githubusercontent.com/679486/33002694-0782a5f6-cd73-11e7-8788-d64bcbbe14ae.png)

[2017-11-20 04:47] samreid commented on #48
@jonathanolson do you think we still need the extra padding workaround, or can it be removed now?

[2017-11-20 15:29] samreid commented on #90
Fixed in preceding commit:

![image](https://user-images.githubusercontent.com/679486/33026096-eb253ff4-cdcc-11e7-9fa0-0d8a5874b694.png)

[2017-11-20 15:32] samreid commented on #90
The extra touch area on the button could be suppressed with:

[code]
But this seems more trouble than it is worth, closing.

[2017-11-20 15:32] #90 closed

[2017-11-20 16:48] samreid opened #92 "Move tandems into options if we use PhETObject?"
From #86 and pending the results of discussion in https://github.com/phetsims/tandem/issues/31 we may need to move all tandems into options.

[2017-11-20 16:51] samreid commented on #91
Today I wrote to @ariel-phet that we may need to test across multiple platform in order to simplify the rendering of the smaller coil images.

[2017-11-20 16:54] samreid commented on #75
Problem not observed in Version 62.0.3202.94 (Official Build) (64-bit), closing.

[2017-11-20 16:54] #75 closed

[2017-11-20 16:54] samreid commented on #78
We are intentionally not instrumenting all nodes, the reinstrumentation will proceed in #79, closing.

[2017-11-20 16:54] #78 closed

[2017-11-20 17:01] jonathanolson commented on #48
Don't know, would ask @ariel-phet whether this warrants some QA testing to see if we can remove.

[2017-11-20 17:35] jbphet commented on #86
@samreid said:

There aren't any sonification wrappers for this sim, at least not yet.  There is a branch that contains some sonification prototype code, and these dependencies were probably added in support of that, and it either leaked back to master or was done before the code was branched.  At any rate, it should be safe to remove those dependencies from master as long as they are not needed i

[2017-11-21 02:36] ariel-phet commented on #48
@samreid maybe try removing, and doing a quick sanity check on latest firefox? If it looks good, ask @phet-steele  if he can take 15 minutes to confirm on FF.

[2017-11-21 02:37] samreid commented on #48
Thanks, #91 is another FF-related rendering issue I'd like to test at the same time, I should publish a dev version with both changes.

[2017-11-21 17:07] samreid commented on #48
After removing the workaround, the built version iframe doesn't show artifacts on Mac/Firefox 57.0

![image](https://user-images.githubusercontent.com/679486/33086031-b1d90302-cea3-11e7-9040-65dd3474d394.png)

I'll commit and push soon.

[2017-11-21 17:28] samreid commented on #91
The original images look great on Mac Firefox 57 with mipmapping:
![image](https://user-images.githubusercontent.com/679486/33087054-b8fd6b52-cea6-11e7-91e4-bc3093c33a80.png)

I'll commit/push and we can test more broadly in the next dev test.

[2017-11-21 17:30] samreid commented on #91
Pushed and ready for testing in next dev version.

[2017-11-21 17:38] samreid commented on #91
@phet-steele can you test this issue in https://www.colorado.edu/physics/phet/dev/html/faradays-law/1.4.0-dev.6/faradays-law_en.html particularly on some firefoxes?

[2017-11-21 17:38] samreid commented on #48
@phet-steele can you test this issue in https://www.colorado.edu/physics/phet/dev/html/faradays-law/1.4.0-dev.6/faradays-law_en.html particularly on some firefoxes?

[2017-11-21 17:53] samreid opened #93 "Needle deflection/bulb brightness is not captured in the state"
I recalled @kathy-phet saying it would be good to capture the needle deflection/bulb brightness in the state to make it easier for researchers to analyze.  Related to #79

[2017-11-21 17:56] samreid commented on #93
Bulb brightness was already captured in the state.  I added the needle deflection in the preceding commit.  The needle angle seems like a high-frequency data stream element researchers may want to suppress, I'll make a not about it in https://github.com/phetsims/phet-io/issues/1227, closing.

[2017-11-21 17:56] #93 closed

[2017-11-21 20:24] zepumph commented on #89
Here is the next version, with updated speeds and space bar for reversing directions.  https://www.colorado.edu/physics/phet/dev/html/faradays-law/1.4.0-dev.7/faradays-law_en.html?accessibility

[2017-11-21 20:54] samreid opened #94 "Code review for MagnetAccessibleDragHandler.js"
From https://github.com/phetsims/faradays-law/issues/86

- [x] "for now it doesn't care about holding down keys." Perhaps reword "care about", does it mean it doesn't support held keys and you have to press them repeatedly?
- [x] "so arrow keys act more like a velocity changer than a speed one." What is the difference between velocity and speed in this sentence?  Is it correct?
- [x] document the

[2017-11-21 21:06] zepumph commented on #94
I'm sorry that you even looked at MagnetAccessibleDragHandler. I'm a bit embarrassed, and it was probably just a waste of time. I wrote it quickly prototyping. We should probably discuss further, but in my mind, any code that is only used when a11y is enabled shouldn't be code reviewed because it will be changed in the next few months.

[2017-11-21 21:13] samreid commented on #94
I understand the value of being able to quickly prototype in master--at a minimum, prototype files should be clearly documented as such.  But it isn't too much more work to annotate code and document properly as you go (much more difficult to do later on), and this can come in handy if we keep the code for production, or if other developers need to read/understand/maintain the file.

[2017-11-21 21:21] samreid commented on #86
Here's what's left:

- [ ] Does the sim perform as desired across the range of supported platforms? (eg, not too slow on slow platforms, not too fast on fast platforms)
- [ ] Are UI components sufficiently responsive? (especially continuous UI components, such as sliders)
- [ ] Are there any `TODO` or `FIXME` comments in the code?  They should be addressed or promoted to GitHub issues.

I'll leave

[2017-11-21 21:25] samreid opened #95 "Dev Testing for performance"
From https://github.com/phetsims/faradays-law/issues/86

- [x] Does the sim perform as desired across the range of supported platforms? (eg, not too slow on slow platforms, not too fast on fast platforms)
- [x] Are UI components sufficiently responsive? (especially continuous UI components, such as sliders)

https://www.colorado.edu/physics/phet/dev/html/faradays-law/1.4.0-dev.6/faradays-law_en.ht

[2017-11-21 21:26] samreid opened #96 "Address TODOS"
From #86

[2017-11-21 21:26] samreid commented on #86
I created issues for the remaining work, closing.

[2017-11-21 21:26] #86 closed

[2017-11-21 21:31] zepumph commented on #94
From here I will keep you more apprised of what is to come for the a11y implementation of FL. Right now the IDRC is working on it, and is fully in the designing phase. They wanted a prototype to play around with. In retrospect, knowing about the stabilization of this sim for phet-io, I should have done this in a branch.

Closing

[2017-11-21 21:31] #94 closed

[2017-11-21 21:33] zepumph commented on #89
I emailed the next version to @emily-phet to pass on to the IDRC, from here we will wait for feedback. On hold until then.

[2017-11-21 21:33] samreid commented on #94
No worries, the changes look good, thanks!

[2017-11-21 23:23] zepumph commented on #83
Now that the focusProperty is out of instance proxies when a11y is not enabled, perhaps we should come back to this when a11y work continues in this repo. I say this because since 19 days ago #89 has completely reimplemented the keyboard navigation, and this issue could look very different depending on how the design process goes.

[2017-11-22 16:40] samreid commented on #79
Back on hold until https://github.com/phetsims/phet-io/issues/1234 and https://github.com/phetsims/faradays-law/issues/83 are complete.

[2017-11-22 19:00] zepumph commented on #79
@samreid I don't think that we should consider #83 as part of this. I think of this stable api update having little to do with a11y. We made efforts to get a11y out of phet-io when a11y is not enabled, and faradays-law has had little a11y work done on it. Especially since https://github.com/phetsims/phet-io/issues/1205 is no where near complete, I think that adding a11y to the stable api will come

[2017-11-22 19:00] zepumph commented on #79
I noted this in https://github.com/phetsims/joist/issues/445#issuecomment-346216200 (the most recent joist+a11y checklist), but not over here, so thanks for keeping me honest!

[2017-11-22 19:04] zepumph commented on #83
This seems like a subset of https://github.com/phetsims/phet-io/issues/1205, unassigning to be worked on there.

[2017-11-22 20:06] samreid commented on #79
OK sounds good, thanks!

[2017-11-25 11:29] samreid commented on #83
@zepumph can we add an assertion, something like:

[code]

[2017-11-27 18:24] zepumph commented on #83
@jessegreenberg, @mbarlow12 and I have been discussing assertions like that a lot lately. We are not exited about breaking a11y in all sims that have not had a11y work done to them, maybe this is not reasonable. It is a different approach to from phet-io, which currently is broken in all sims, and must have a query parameter added (`phetioValidateTandems=false`) for the sim to run.

We could proba

[2017-11-27 18:41] zepumph commented on #83
Proposed solution is in `Display.js`, not committed:
[code]

@samreid I'm not sure how to access the tandem consistently from a Node, is there a way like above?

[2017-11-27 18:42] samreid commented on #83
Yes, `Node.tandem` is defined on line 3611

[2017-11-27 19:27] zepumph commented on #83
This seems like a good way to go, but what about things we have been specifically deinstrumenting, like the about dialog. If we instrument it again, would it just be an ObjectIO? That way no NodeIO methods could be called on it, or should it just be phetioReadOnly anyways?

[2017-11-27 19:28] zepumph commented on #83
Each link will probably need to be instrumented then also.
![image](https://user-images.githubusercontent.com/6856943/33285089-bbca4bc8-d35d-11e7-9475-4745454e8d35.png)

[2017-11-27 20:28] zepumph commented on #83
I did a few things here.
1. Instrumented the about dialog as phetioReadOnly since it has focusable entities in it.
2. Instrumented the `draggableNode` as a child of the magnet ( I don't love this)
3. Added the check in Display's `set focus` to assert if phet-io + a11y and you try to focus to an uninstrumented item.

Many of the changes above have strange phetioReadOnly option passing. A new issue

[2017-11-28 06:08] ariel-phet commented on #96
@samreid in this simple circuit, I think it is fine to assume that the voltage across the bulb is directly related to the power dissipated by the bulb ( P = (V^2)/R ) since we are not assuming any sort of inductive lag or such. So I would say that yes, as the voltage rises on the needle the brightness should rise, and that that movement of the voltmeter needle is indicative of the current through

[2017-11-28 23:46] pixelzoom opened #97 "delete babel/autoport/faraday/"
After publishing the first HTML5 version of a sim ported from Java/Flash, the string files in babel/autoport/{{REPO}} are supposed to be manually deleted. That hasn't been done for this sim.

[2017-11-29 16:40] jbphet commented on #97
I just took a look, and I don't think the strings in the `/autoport/faraday/' directory are for Faraday's Law, they are from Faraday's Electromagnetic Lab. @pixelzoom - can you take a look and see if you concur?

[2017-11-29 16:56] pixelzoom commented on #97
Ah, right you are, I forgot that we had multiple "faraday" sims.  Sorry to bother you. Closing.

[2017-11-29 16:56] #97 closed

[2017-11-30 19:26] phet-steele commented on #48
I don't see artifacts on anything when using FF 57

[2017-11-30 19:26] #48 closed

[2017-11-30 19:30] phet-steele commented on #91
Images look great on FF 57 and iPad 2.

[2017-11-30 19:30] #91 closed

[2017-11-30 19:48] phet-steele commented on #95
Dragging the magnet lags a bit behind your cursor on Edge, but other than that performance checks out.

[2017-11-30 19:48] #95 closed

[2017-12-04 05:09] samreid commented on #83
The preceding changes seem reasonable and I cannot think of another way to deal with showing focus during playback of input events.  Closing.

[2017-12-04 05:09] #83 closed

[2017-12-07 20:59] zepumph commented on #82
I don't think we should implement this right now, since the keyboard interface for the magnet now totally different (after prototyping for the IDRC). Unassigning until the a11y features of this sim stabilize.

[2017-12-07 22:33] samreid opened #98 "PhET-iO Data Stream Design"
As part of #79 and more generally https://github.com/phetsims/phet-io/issues/1234 we would like to review the data stream to make sure it is as desired before we publish the stable version.  I'll paste my notes from today's meeting.  We also decided that @zepumph and I can take a look and try to extrapolate from today's decisions, but that we should also have at least one other meeting about it.

[2017-12-12 20:18] samreid commented on #98
Notes are in the Keyboard Navigation Meeting google doc.  There is time pressure to get BASE published quickly, so we may proceed as-is, which is "scenery radio buttons with checkbox a11y peer".  In the future, we may change this to separate screens, a radio button peer or an actual checkbox.

[2017-12-12 23:30] samreid commented on #98
@jessegreenberg, @emily-phet was wondering what you thought about this part:

magnetOrientation: 'NS' | 'SN'.
KP: check on this during accessibility review. Will it work for descriptive texts?

This means we are considering changing the “flipped” from a boolean true/false property to a categorical property and not sure how it will impact the a11y side.

[2017-12-13 05:16] samreid commented on #98
This will be tricky since the sim main declares the Screen instances, and they all default to active:false.  Our best bet would be to remove this from the data stream, but then we won't see any messages when screens change.  @zepumph what do you think of `phetioEvents:false` for this?  I don't know if sonification wrappers are listening to this in the data stream or wiring up listeners to it (hope

[2017-12-13 05:24] samreid commented on #98
I'm not seeing any screen index in the data stream for a single screen sim. Am I missing it?  Or is it more about supporting multiscreen sims for the future?

[2017-12-13 05:26] samreid commented on #98
@jbphet and @jessegreenberg do you know if phet-io wrappers for this sim are relying on the "controlPanel" part of the tandems?  We are thinking of truncating e.g., `faradaysLaw.faradaysLawScreen.view.controlPanel.coilRadioButtonGroup.doubleCoilRadioButton` to `faradaysLaw.faradaysLawScreen.view.coilRadioButtonGroup.doubleCoilRadioButton`

[2017-12-13 06:30] jessegreenberg commented on #98
I can't think of a way this would impact a11y, this implementation detail shouldn't change how the magnet is described.

Sorry, I have no experience with phet-io wrappers for this sim.

[2017-12-13 15:51] jbphet commented on #98
There are no sonification wrappers for Faraday's Law yet, so it shouldn't be a problem.  There will probably be some work on such a wrapper starting in about two weeks.

[2017-12-14 23:12] zepumph opened #99 "Design new component for double coil toggling"
From many design meetings, the most recent of which was this afternoon, we want mock ups for a new control for the coils. We want two ideas:

1. A checkbox like the bottom left of Function Builder, this checkbox is "button-like" and has an icon instead of text.

2. An a/b switch type thang that looks like the bottom of expression exchange.

Here is a mockup of the balloon toggle in BASE that @terr

[2017-12-19 17:03] arouinfar commented on #99
Here are some options to discuss in today's meeting.

(1) Checked scene somewhat similar to @terracoda's mockups
![image](https://user-images.githubusercontent.com/8419308/34169000-32224fae-e4a3-11e7-8ed8-87bcc692fbd5.png)
![image](https://user-images.githubusercontent.com/8419308/34169012-3d253380-e4a3-11e7-8676-7a4c75b14920.png)

(2) Button with changing appearance (like Reveal button or play/pa

[2017-12-19 18:04] arouinfar commented on #99
Given the number of absences, discussion has been deferred to the next keyboard navigation meeting (Jan 2).

I think options (3) and (5) clearly convey what the control does, are prominent enough for the desired flow, and are more aesthetically pleasing than the other options. We will need to have a discussion to decide which control (checkbox vs. ab switch) is better suited the the goals and inte

[2017-12-19 18:12] amanda-phet commented on #99
Unfortunately I missed a portion of the conversation last week, so I'm not sure exactly what was discussed or decisions that were made. When I left, it sounded like we would try to create a custom switch component so that we can continue to use switches, or dual scene selection style buttons, without having to limit ourselves to them behaving like checkboxes or radio buttons under the hood.

So, i

[2017-12-19 18:42] arouinfar commented on #99
@amanda-phet, as far as I understand, no decisions were made other than to mock up the various options that have been tossed around. The purpose of the mockups is to provide a visual aid to facilitate these conversations, with the hope that they may help us reach some sort of consensus.

[2017-12-19 18:48] terracoda commented on #99
In case it is helpful, here's what Amy's mock-ups might sound like with a screen reader:
(1, 3, 4, and 5) As checkboxes describing experiments
 - Two-coil experiments, checkbox, not checked
 - On-demand help text: Play with two coils or just one.
   - Interaction: Two-coil experiments, checked
     - Alert: Small coil with two rings added to Play Area.
   - Interaction: Two-coil experiments, not c

[2017-12-22 21:22] samreid commented on #98
I'm inclined to leave this message enabled as a "feature" because it seems too brittle or complex to try to get the value right on initialization or have the framework create that property.

[2017-12-22 21:43] samreid commented on #98
High frequency messages being discussed in https://github.com/phetsims/phet-io/issues/1227

[2017-12-22 21:48] samreid opened #100 "What kind of UI component should be used to change the magnet orientation?"
From https://github.com/phetsims/faradays-law/issues/98

Currently there is a rectangular pushbutton to flip the magnet. It seems convenient that you don't need to move the mouse to flip it multiple times (as you would with a traditional radio button).  @terracoda @jessegreenberg and @emily-phet can you please comment what scenery/a11y peer component type you would recommend for this user interfac

[2017-12-22 21:56] samreid opened #101 "Should js/faradays-law be collapsed?"
I can't recall if we decided to keep or eliminate intermediate directories like `js/faradays-law` for single-screen simulations.

[2017-12-22 22:19] samreid commented on #101
Balloons and static electricity, john travoltage and friction all have the intermediate directory, perhaps we are supposed to keep it.

[2017-12-22 22:19] #101 closed

[2017-12-22 22:21] samreid commented on #98
I addressed, discussed or commented on all issues in the description, the remaining work is in https://github.com/phetsims/phet-io/issues/1227 and https://github.com/phetsims/faradays-law/issues/100, closing.

[2017-12-22 22:21] #98 closed

[2017-12-28 19:41] jessegreenberg commented on #100
I agree, the RectangularPushButton that is already there seems great, but it would be good to hear from @terracoda. @terracoda for a11y would the "flip magnet" button in this sim need to be anything other than a `<button>` in the parallel DOM?
![capture](https://user-images.githubusercontent.com/6396244/34421369-1ded0da0-ebcc-11e7-98de-9d19654f99bc.PNG)

[2018-01-02 01:18] emily-phet commented on #99
I can answer any questions about this tomorrow - but essentially, a checkbox is not an option for Faraday's Law coil control. Kathy pointed out in the last Thursday design meeting on this (Dec. 14th, I believe), a relevant and ongoing issue with checkboxes - that users may select them (making them "checked") but they don't "uncheck" them as readily. That did not seem consistent with the desired fl

[2018-01-02 15:24] samreid opened #102 "Publish a phet-io version to support the visualization wrapper"
To support https://github.com/phetsims/phet-io-wrapper-visualizing-engagement/issues/9#issuecomment-354510219 we would like to publish a PhET-iO version of Faraday's Law with the fixed size iframe recorder.

I asked on Slack:

[2018-01-02 15:26] samreid commented on #102
I ran `grunt --brands=phet-io` and tried to test locally and saw this for instance proxies:

![image](https://user-images.githubusercontent.com/679486/34488650-8901fe5c-ef96-11e7-81d8-1bb80db212e1.png)

[2018-01-02 15:27] samreid commented on #102
@jonathanolson @mattpen can you please assist?

[2018-01-02 15:29] samreid commented on #102
Maybe I should try with chipper 1.0?

[2018-01-02 15:31] samreid commented on #102
Same problem.  I'm going to need assistance.

[2018-01-02 16:52] samreid commented on #102
Maybe the build assumes the deployment location and cannot be used for local testing?  I tried deploying with `grunt dev --brands=phet-io` and received this error log:

[code]

[2018-01-02 16:54] samreid commented on #102
Looks like the fail is on the SCP step.  I’ll try a --brands=phet and see if that gives any helpful information.

[2018-01-02 16:54] samreid commented on #102
[code]

[2018-01-02 16:57] samreid commented on #102
When I ran the scp command verbatim on the command line, it worked properly.

[2018-01-02 17:08] samreid commented on #102
@jonathanolson suggested to use chipper 1.0.  When I did so, I was able to publish and launch the wrapper, but received this error:

https://www.colorado.edu/physics/phet/dev/html/faradays-law/1.4.0-phetiodev.14/wrappers/record/record-1024x618.html?sim=faradays-law&relativeSimPath

"cannot read property phetioID of undefined"

[2018-01-02 17:16] samreid commented on #102
OK I published a sim here: https://www.colorado.edu/physics/phet/dev/html/faradays-law/1.4.0-phetiodev.15/wrappers/record/record-1024x618.html . We should be able to use local file recording or metacog recording for this one.  May need a new metacog account or widget.

[2018-01-02 17:49] jessegreenberg commented on #100
We discussed in 1/2/18 meeting, and agreed that this button doesn't need to be changed for a11y purposes and a RectangularPushButton is appropriate. It will probably be a `<button>`, with some kind of alert confirmation that the flip happened after button was pressed like "Magnet flipped to north-south orientation."

Back to @samreid for review or further questions.

[2018-01-02 19:03] samreid commented on #100
Sounds good, thanks @jessegreenberg and @terracoda, closing.

[2018-01-02 19:03] #100 closed

[2018-01-03 00:27] arouinfar commented on #99
Thanks for your comments @emily-phet. We certainly should discuss a bit more at the next design/keyboard meeting. However, I want to push back a little on this:

While I agree that checkboxes aren't as readily "unchecked", I don't think it's as much of an issue in this particular sim (though we should certainly be cognizant of this moving forward). If students discover the two-coil experiment chec

[2018-01-03 05:14] zepumph commented on #85
Back to you @samreid, sorry it took so long.

[2018-01-04 04:33] samreid commented on #102
I'm still running into numerous problems with the chipper 2.0 deploys.  I'm wondering if I should try to deploy the playback/visualization wrapper with 1.0 or keep trying to figure out 2.0.  Tagging @ariel-phet for advice.

[2018-01-04 04:35] samreid commented on #102
should say "get 2.0 working"

[2018-01-05 17:08] terracoda commented on #99
@emily-phet and @arouinfar these are excellent points. In my very interviews for BASE, blind users did active the two-balloon experiment button. There were complicating issue regarding the balloon interaction which no longer exist, but something to keep on eye on for sure.

[2018-01-05 19:42] jessegreenberg commented on #81
This might have been fixed with #716, I should look into this and see if this is still a bug.

[2018-01-07 13:45] emily-phet commented on #99
Thanks @arouinfar and @terracoda for further input. I think we should just clarify with @ariel-phet and @kathy-phet what the ideal use case would be for this sim. I think that would help us understand what the best fit is for a visual cue, which will help with all of the other design decisions.

Just to make a note of it somewhere, here is my assumed intended use of the three "toggle" options in F

[2018-01-08 22:16] jonathanolson commented on #102
I'm available to collaborate to help resolve these issues (would be good to do before merging ideally).

[2018-01-08 22:34] samreid commented on #102
I worked through a few problems in the wrapper side and it seems all is well now, at least dev versions can be built and deployed without issues.  Also, we have switched to Capacitor Lab: Basics for this initial version, so I'll close this one.

[2018-01-08 22:34] #102 closed

[2018-01-10 05:23] ariel-phet commented on #99
A few points on the above discussion.

As to @emily-phet question about flow -- Agreed on the Field Lines checkbox and Flip Magnet button. However, for the one/two coil option, I don't think it is necessary to go back and forth between the two options. I suppose the idealized flow for the sim in regard to the coils would be something like, _oh look when I play with the single coil, what is affecti

[2018-01-10 12:18] emily-phet commented on #99
@ariel-phet thanks for the clarification! In that case, what about a floating panel in the lower left of the screen that contains 1) a checkbox with an image of a two turn coil and below that 2) a checkbox with the text "field lines". The coil in this floating panel could be small. Then the flip magnet button could be made a touch smaller (it's pretty huge...I think to match the visual weight of t

[2018-01-22 17:03] samreid commented on #92
It's been working acceptably well to require tandems in sim code constructors, and pass through to options in parent classes, I don't think this is worth the effort to change.

[2018-01-22 17:03] #92 closed

[2018-01-26 18:28] emily-phet opened #103 "Implement initial jump behavior (animated)"
To support JH's design process, would be helpful to have working version of his reflected horizontal jumping key idea. Magnet would need to animate to the reflected position. JH's design doc here:

https://wiki.fluidproject.org/display/fluid/PhET+Faraday%27s+Law+Keyboard+Interaction+Sketch

[2018-01-26 18:28] emily-phet commented on #103
not sure how challenging this would be - @jessegreenberg thoughts?

[2018-01-26 19:52] jessegreenberg commented on #103
This seems pretty straight forward. @mbarlow12 and I discussed, he is going to work on this in a one-off branch, thanks!

[2018-01-31 17:35] mbarlow12 commented on #103
Noting a couple considerations as we move forward with this:
- will the animation be interruptible? If so, what behavior is desired when that happens?
- can augment keys alter the animation once the 'j' key is released?
    - applies to both pressing or releasing an augment key

[2018-02-01 21:40] mbarlow12 commented on #103
Another thought is that 'j' could be a modifier key so that j + left arrow would actually activate the animation instead of releasing the 'j' key. This comes from the quick that, currently, when the 'j' key is pressed, the user is essentially locked into a course of action, and that might be something we want to avoid.

[2018-02-01 22:50] emily-phet commented on #103
emailing Jon Hung to see if he wants to weigh in on this.

[2018-02-02 18:13] mbarlow12 commented on #103
Notes from IDRC Meeting:
- allow interrupts to the moving/animating magnet (possibly space or esc).
- default drag movement similar/identical to Coulomb's Law
- potential to add speed modifiers (e.g. 1,2, keys while moving to accelerate)

[2018-02-07 23:13] mbarlow12 commented on #103
The initial behavior has been implemented in https://github.com/phetsims/faradays-law/commit/83e6809d920ffc4e7efd06e30175d56f786d4fc2. Link below:

https://www.colorado.edu/physics/phet/dev/html/faradays-law/1.4.0-keyboard_jump.3/phet/faradays-law_en_phet.html?accessibility

As of right now, the `SHIFT` key slows the animation as that aligns more closely with other a11y interactions. The respectiv

[2018-02-08 17:14] pixelzoom opened #104 "branch: jump"
@mbarlow12 mentioned this branch in his 2/8/18 status report.

FYI, all non-release branches are supposed to have an associated GitHub issue. Title is of the form "branch: {{branchName}}}".  The description should include: the purpose of the branch, expected lifetime of the branch, references to any related issues.

[2018-02-08 17:21] mbarlow12 commented on #104
@pixelzoom Thanks for the info. Is it worth adding this to the [phet-info doc](https://github.com/phetsims/phet-info/blob/f9cae306d2c90c4b15abc122681e12cb2f9dde34/deployment-info/chipper-2.0.md)? If so, I'd be happy to create an issue and update.

[2018-02-08 17:26] mbarlow12 commented on #104
Keyboard jump is a proposed interaction for Faraday's Law where the user can simply use the 'j' key to allow the magnet to animate to a reflected position across the page. This would allow keyboard navigation users to generate results on the voltmeter in a more controlled fashion. For design and discussion see issue #103.

This branch will likely last a few weeks. Once we solidify the desired beha

[2018-02-08 18:33] pixelzoom commented on #104
Yes, that would be useful.  But there are also non-build situations where people create branches.

I should also have mentioned... An issue like this should be closed if/when its branch is deleted.

[2018-02-20 03:30] mbarlow12 commented on #103
Notes from Friday's IDRC meeting:
- ensure that the magnet cannot pass through the coils
- alter animation speed dynamically with `shift` key press
- add increased speed modifier
- remove arrows after initial keyboard interactions

[2018-02-28 19:36] samreid commented on #85
Now that we've standardized on PhetioObject and use startEvent/endEvent for messaging, it is more likely that instrumented objects are properly instrumented.  Furthermore, Faraday's Law only exposes 20 types over the PhET-iO API:

PhETIO
PhetioCommandProcessorIO
PropertyIO.<BooleanIO>
SimIO
NumberPropertyIO
TextIO
MenuItemIO
PhetMenuIO
JoistButtonIO
PropertyIO.<Vector2IO>
PropertyIO.<StringIO>
Nod

[2018-02-28 19:36] #85 closed

[2018-02-28 21:16] samreid commented on #79
Here is the current API:

[code]

[2018-03-02 18:02] jessegreenberg commented on #65
In a11y meeting on 3/2/18 the IDRC pointed out that the needle on the Voltmeter goes in the opposite direction as the deployed version (currently 1.1.10). Reopening.

Deployed version behaves like 1.0.2 from https://github.com/phetsims/faradays-law/issues/65#issuecomment-125722930 so I assume master is incorrect.

@ariel-phet can you please review and assign to a developer?

[2018-03-05 21:24] samreid commented on #79
We'll need to address https://github.com/phetsims/sun/issues/336 before we can make an RC.

[2018-03-06 01:13] ariel-phet commented on #65
Verified that master appears to be incorrect on 3/5/2018

@samreid can you correct this behavior? Maybe look at @jbphet commit above?

[2018-03-06 02:02] samreid commented on #65
I confirmed that the website version has the needle move to the left (negative) as you approach the coils from the right, and master has the needle move to the right (positive) as you approach the coils from the right.

[2018-03-06 02:13] samreid commented on #65
15 minutes of looking did not uncover the cause of this problem, but I flipped the sign and the behavior appears to be OK in master now.  @ariel-phet do you want more time spent trying to understand what caused this problem?  Can you double check master on phettest that the behavior is now correct?

[2018-03-06 17:39] ariel-phet commented on #65
@samreid - double checked on Master. Looks good. Closing.

[2018-03-06 17:39] #65 closed

[2018-03-06 17:39] ariel-phet commented on #65
@samreid no need to spend more time.

[2018-03-15 20:20] samreid opened #105 "Units for voltage/needle Property?"
I saw that the voltage had units `radians`.  There is this code:

[code]

Is this supposed to be the needle angle, or the voltage?

Maybe we can discuss this as part of #79

[2018-03-20 22:01] samreid opened #106 "Add a control to hide/show the voltmeter"
On Thursday @ariel-phet said we are planning to add a checkbox above "Field Lines" that allows you to hide/show the voltmeter.

@ariel-phet can you please prioritize/schedule/delegate?

[2018-03-21 21:52] samreid commented on #105
Unassigning until next Faraday API meeting.

[2018-03-26 15:39] samreid commented on #79
After the above commit, every instance has `phetioInstanceDocumentation`

[2018-03-28 21:38] zepumph opened #107 "Stabilize API"
Throughout this issue, an unchecked box means" still needs to be completed for Faraday's Law 1.0". A checked box means "does not need to be completed for Faraday's Law 1.0" (whether deferred or completed).

@ariel-phet, @samreid and I met, and we took a lot of notes on the meeting, here is the list of work to be done.

**General list to stabilize:**
- [x] studio (in progress)
- [x] SimiframeClient

[2018-04-04 22:06] zepumph commented on #107
The reason why some wrappers use the more manual invocation is becuase the `onPhETiOInitialized` option passed into launch sim doesn't wait for a callback, so you can't make the async calls of (a) setting random seed and (b) setting playback mode into the launch sim option, because you run into a race condition between those and the launchSimulation async call. Either we keep it as is, or we could

[2018-04-04 22:47] arouinfar commented on #99
Here are some mockups of @ariel-phet and @emily-phet's suggestions. I think it would be nice to bring this back to keyboard nav meeting once the static description work settles down.

![image](https://user-images.githubusercontent.com/8419308/38338596-69cf2ef4-3827-11e8-868a-25ad6a60ed03.png)

I think a string-less checkbox looked a bit odd in the panel, so I mocked up a version with some text, as

[2018-04-08 22:52] zepumph commented on #107
I reviewed the implementation, and it looked safe to change the default, all screens are manually set in the sim's constructor.

[2018-04-08 22:54] zepumph commented on #107
There is only a text changed listener in TextIO, but I think my implementation still makes sense in  https://github.com/phetsims/phet-io-wrappers/commit/1d2d55db470f281f1def0224c7eeb1e90be9faeb

[2018-04-09 15:36] samreid commented on #107
Does this mean that there is now a point during startup where multiple screens are active: true?  How does this change the data stream?

[2018-04-10 16:54] zepumph commented on #107
In FAMB it adds these 4 events to the startup event sequence:
[code]

That's not ideal. I think it is better to have a single screen sim start "unactive" and change to active via startup, then add the above events. It makes more sense to me. You?

[2018-04-18 17:06] samreid opened #108 "Next Faraday's Law PhET-iO Design Meeting"
- [ ] Should we instrument the `signalProperty`? It is 20% of the sum of the emf from both coils.  Or is it an implementation detail?
- [ ] Should we instrument the `emfProperty` of each coil?
- [ ] Should we proceed with https://github.com/phetsims/phet-io-wrappers/issues/80 for the first stable release?

[2018-04-18 17:06] samreid commented on #105
@zepumph and I looked into this--we uninstrumented the signalProperty, updated the units for voltageProperty and created #108 with outstanding questions.

[2018-04-18 17:06] #105 closed

[2018-04-18 17:07] samreid commented on #105
Work was done in b65b5c38a32ba0709d7f0f8593e399d77c3424fe

[2018-05-02 16:47] samreid commented on #107
Notes from May 2, we can split these into separate issues later:

1. We noticed that it could be confusing to PhET-iO clients how the types are documented.  For instance, TextIO has a method `setFontOptions` which takes an argument of type `FontIO`.  A developer could reasonably think that they need to create `new FontIO(...)` in the wrapper and pass that to the `phetio.invoke` call.  However, tha

[2018-05-24 19:21] zepumph commented on #107
- [ ] https://github.com/phetsims/chipper/issues/676 jsdoc isn't working right now.

[2018-05-25 16:03] mbarlow12 commented on #104
Renamed branch to keyboard-jump. Underscores are not allowed in the semantic versioning spec , and npm was throwing an error.

[2018-05-30 21:41] zepumph commented on #107
- [ ] **Deferred** naming collisions in studio when phetioID tails are named the same way (problem identified in https://github.com/phetsims/joist/issues/479 and potential solution in https://github.com/phetsims/phet-io-wrappers/issues/21#issuecomment-391078810)

@samreid I marked this as deferred, please undo this if you feel like it should be done before stable api.

[2018-05-30 23:40] samreid commented on #107
That sounds OK for deferred since it does not affect stability of tandems.

[2018-06-01 21:40] mbarlow12 commented on #104
Jon has outlined some new interaction spec for the jump/launch behavior in https://wiki.fluidproject.org/display/fluid/PhET+Faraday%27s+Law+Simulation+-+Text+descriptions%2C+alerts%2C+and+keyboard+access.

Updating the behavior to match.

[2018-06-06 17:46] mbarlow12 commented on #104
Renamed again to `jump` for one-off deployment.

[2018-06-06 21:00] mbarlow12 commented on #103
New jumping behavior implemented in:
https://phet-dev.colorado.edu/html/faradays-law/1.4.0-jump.1/phet/faradays-law_en_phet.html

[2018-06-06 21:16] zepumph commented on #107
@samreid and I met again today. We discussed a few features of studio, and will continue on it more next week.

[2018-06-12 03:39] mbarlow12 opened #109 "Add accessible descriptions and alerts or this sim"
Jon Hung has created a fairly detailed mockup for the accessible text for the sim. Details can be found at:

https://wiki.fluidproject.org/display/fluid/PhET+Faraday%27s+Law+Simulation+-+Text+descriptions%2C+alerts%2C+and+keyboard+access

[2018-06-12 18:19] mbarlow12 commented on #109
More details on the text:

https://wiki.fluidproject.org/display/fluid/PhET+Faraday%27s+Law+Simulation+-+PDOM+Sketch

[2018-06-15 17:09] zepumph opened #110 "Should the magnet focus be focusHighlightLayerable?"
Notice how the focus is above the coils, but the magnet is below:

![image](https://user-images.githubusercontent.com/6856943/41480656-902adda0-707b-11e8-8ddc-7653737a307b.png)

Do we want to implement this with `focusHighlightLayerable`? That is what we did with the magnet view in friction so it tucks under the white background.

This is really a design question, so assigning to @terracoda, and a

[2018-06-15 17:27] mbarlow12 commented on #110
@zepumph We originally implemented as layerable, and I made an error in removing that part. I have it fixed in the latest version of the `jump` branch.

[2018-06-20 17:50] jessegreenberg commented on #81
This is no longer high priority. @mbarlow12 is this still an issue in Faradays Law or in the a11y branch you are working in?

[2018-06-22 15:36] terracoda commented on #110
@mbarlow12, the layering looks fine on master. I'm not sure how the magnet is suppose to work, but the layering is fine. I am unassigning myself.

![screen shot 2018-06-22 at 1 05 20 pm](https://user-images.githubusercontent.com/1902116/41785368-f49ac3d0-761c-11e8-8884-f90d15deab6d.png)

[2018-06-23 01:11] mbarlow12 commented on #106
@ariel-phet, I finalized this addition as it has been brought up a few times in the descriptions/alerts discussion. Let me know what next steps are necessary for review.

[2018-06-23 03:20] samreid commented on #106
Co-assigning to @zepumph and @samreid to review the phet-io instrumentation of the new control.

[2018-06-26 18:39] zepumph commented on #106
I'm seeing a bit of a bug.

`faradaysLaw.faradaysLawScreen.view.voltmeterNode.opacityProperty` is only controlling to console, not the wires to the lightbulb, but `faradaysLaw.faradaysLawScreen.view.voltmeterNode.visibleProperty` is toggling the visibility of everything.

I see a listener like:
[code]
In the `ScreenView.js`, so perhaps we want to do that for opacity as well. In `Node.js` I see tha

[2018-06-26 18:48] zepumph commented on #106
Implemented above. Now that I've done this, I think it is a little bit sketchy. Basically we want to treat these two Nodes as a single Node, and instead of creating a single node for them, we are just linking up all the properties that we care about to make sure they stay in sync (opacity and visibility). I didn't, though, do this for pickability, since it is never pickable. In the future if we ev

[2018-06-26 19:07] zepumph commented on #106
I added `VoltmeterAndWiresNode` above, and I think I like it. Although the creation of the new type added some complexity, it simplified the ScreenView, and @mbarlow12's checkbox, which I like. It also seems more robust. @samreid will you review and see if you feel like the way I used tandem is suitable. Right now we are instrumenting `VoltmeterWithWiresNode` with the tandem `voltmeterNode`, and t

[2018-07-02 16:18] mbarlow12 commented on #110
Thanks @terracoda. Same for me, closing.

[2018-07-02 16:18] #110 closed

[2018-07-04 02:15] mbarlow12 commented on #109
New version on phet-dev:

https://phet-dev.colorado.edu/html/faradays-law/1.4.0-jump.2/phet/faradays-law_a11y_view.html

Please note that there's a bug in the a11y-view where pressing tab will move the sim in the iframe (it's been noted in an issue). Even so, navigation and interaction with the sim components still works.

After the above commit, the summary and dynamic content of the light bulb c

[2018-07-16 19:41] jhung commented on #99
I have come up with some different designs for a toggle. In these designs I chose to follow the existing design of showing 1 and 2 coils as the possible states.

Any of these look promising?

![phet-faraday-coil-toggle-v01-jh](https://user-images.githubusercontent.com/564762/42779508-aaf92712-890e-11e8-8563-60d06fb9959a.png)

[2018-07-16 20:17] zepumph opened #111 "Apply consistent documenting strategies to instanceDocumentation strings"
All strings in this sim that are public facing over the phet-io api should follow the conventions laid out in https://github.com/phetsims/phet-io/issues/1334.

[2018-07-16 20:31] zepumph commented on #106
Today during phet-io meeting, @chrisklus, @samreid, and I noticed that the checkbox is titled "Volt Meter," but noticed that everywhere in the code, and often on the internet that it is one word: "Voltmeter." We think that we should change the display to be a single word.

Furthermore this string is not yet in the strings files for translation, that will need to be done before republication.

Assi

[2018-07-16 21:13] zepumph opened #112 "VoltageProperty should be in model, not in the Voltmeter"
This line in the screenView looks buggy:

`    var bulbNode = new BulbNode( model.voltmeter.voltageProperty, {`

Instead we should have the VoltageProperty be a top level model Property. This will be more idiomatic for phet-io studio as well (since most other Properties are directly in the model).

[2018-07-16 23:05] zepumph commented on #107
Today we made a lot of progress. We went through from the beginning of the newly alphabetized studio and got to `faradaysLaw.faradaysLawScreen.view.flipMagnetButton` with https://github.com/phetsims/axon/issues/180.

We plan to continue next Wednesday the 25th.

[2018-07-18 21:39] mbarlow12 commented on #109
I pushed a new dev release to phet-dev:

https://phet-dev.colorado.edu/html/faradays-law/1.4.0-jump.3/phet/faradays-law_en_phet.html?ea&accessibility

and a11y view

https://phet-dev.colorado.edu/html/faradays-law/1.4.0-jump.3/phet/faradays-law_a11y_view.html

Alerts are still on the way, and there are a couple lingering tweaks (e.g. pinning down the mapping for field strength and proximity read o

[2018-07-19 16:34] mbarlow12 commented on #109
New dev release with updated accessible order:

https://phet-dev.colorado.edu/html/faradays-law/1.4.0-jump.4/phet/faradays-law_a11y_view.html

[2018-07-20 01:05] zepumph commented on #112
I made this change. @mbarlow12 please review. I hope this doesn't interfere with your "jump" branch too much.

Also tagging @jbphet because this will likely break the sonifcation wrapper on next dev release.

[2018-07-20 23:36] jbphet opened #113 "Bar can be moved into coil using keyboard nav"
A sound design is being done for this sim, and while testing a prototype, we noticed that some odd things can happen when moving the magnet using the arrow keys.  The screen shot below is an example.  In this case, the magnet was moved all the way to the right (against the boundary), and then the left arrow key was hit a couple of time.

![image](https://user-images.githubusercontent.com/3082831/4

[2018-07-20 23:47] mbarlow12 commented on #113
@jbphet thanks. I think @zepumph referenced this bug in another issue, but I'm having trouble finding it.

I've refined the keyboard interaction a good bit in the `jump` branch, but I'll double check that this issue is handled before merging with master. Once the descriptions and documentation is finalized I'll make the merge.

[2018-07-24 05:44] mbarlow12 commented on #112
@zepumph the above changes look great, and I fuzzed for quite a while without error. Assigning back to you to close.

[2018-07-24 16:46] zepumph commented on #112
Great thank you. Closing

[2018-07-24 16:46] #112 closed

[2018-07-25 18:54] mikewinters10 commented on #113
I think that the issue may be related to the fact that in keyboard navigation, the position of the magnet always snaps to an integer and will also skip over integers. For example, a horizontal movement might look something like this:

(112, 340)
(115, 340)
(118, 340)
(121, 340)

If the boundary of the coil was (120, 340), this would overshoot the position of the coil by 1. When the mouse is being

[2018-07-27 00:33] zepumph commented on #111
@chrisklus please review. I'm no grammar expert, but do these seem alright to you?

[2018-07-27 00:43] zepumph commented on #106
Voltmeter is now translatable, @samreid please review.

[2018-07-27 15:20] samreid commented on #106
The commit https://github.com/phetsims/faradays-law/commit/110108e109f90e4579a9cce9d887d76e80f710df looks great, thanks @zepumph.  It looks like everything in this issue is complete, closing.

[2018-07-27 15:20] #106 closed

[2018-08-06 20:38] samreid commented on #107
I skimmed tandems below `flipMagnetButton` and nothing jumped out at me aside from https://github.com/phetsims/phet-io/issues/1345.  A closer look would still be helpful, I'll schedule it for Wednesday meeting with @chrisklus.

[2018-08-08 12:24] mikewinters10 commented on #113
@mbarlow12 and @jbphet, has this issue been resolved? If so, please let me know and I can finalize the sonification wrapper.

[2018-08-08 16:27] jbphet commented on #113
I just tried it on master, and it seems better, but not 100% better.  Here's a screenshot:

![image](https://user-images.githubusercontent.com/3082831/43850515-657e2c70-9af5-11e8-9a34-a731591acc9c.png)

@mbarlow12 - what's the likelihood of getting this resolved soon?
@mikewinters10 - would the behavior shown in the screenshot above be good enough for the purposes of the next sonification wrapper

[2018-08-09 21:51] chrisklus commented on #111
Looks really good @zepumph.

I made a couple nitpicky changes: "Set whether..." to "Sets whether..." to stay consistent with "Indicates whether...", "Determines whether..." etc, since the thing itself is doing the setting, not the user. And "Property that controls whether...", to "Controls whether..." to match the above cases that don't restate the type at the beginning of the description.

[2018-08-14 18:48] #111 closed

[2018-08-14 22:28] mbarlow12 commented on #113
@jbphet @mikewinters10 This looks to me like it's fixed in master. Can one of you confirm?

[2018-08-15 14:14] terracoda opened #114 "Considerations for description iterations"
@jhung and @mbarlow12, I just had a listen to Faraday's Law, and here are some considerations. It was too much to post in an issue, so maybe you two can create issues for anything you would like to actually take on.

Here's a link to the google doc, Considerations for Faraday's Law - August 15
https://docs.google.com/document/d/1Ja-cNL4yIAzJPb4qzHRE3HilIW36dP2200ZyEFBVxPo/edit#

[2018-08-15 14:36] samreid commented on #107
Molarity was recently published with master SHAs.  It did not have a "designed" phet-io API but it is using modern studio/API features, including many changes made for this issue.

I'm unassigning myself--this is still an important issue, but we will be working on it as a group in today's phet-io development meeting.

[2018-08-15 15:29] jbphet commented on #113
The behavior now looks great!  I don't see any commits referenced to this issue, so I haven't reviewed the code.  Thanks for the fix @mbarlow12.  Closing.

[2018-08-15 15:29] #113 closed

[2018-08-15 15:54] terracoda commented on #114
I can only assign @mbarlow12. I don't know how to assign @jhung.

[2018-08-15 15:55] terracoda commented on #114
Of course, it will good to user's feedback before you consider my feedback to deeply :-)

[2018-08-15 18:11] zepumph opened #115 "Ensure that a11y development hasn't broken stable PhET-iO API."
I noticed that the WASD queues are shown when a11y not enabled while working on phet-io for Faradays Law today. @samreid, @chrisklus and I are getting very close to publishing Faradays law for phet-io, so this should be tackled at a reasonably high priority I think.

It brings up a good topic for further conversation too though. @mbarlow12 what is the best way to proceed? How much work do you thin

[2018-08-15 18:50] mbarlow12 commented on #115
@zepumph thanks for the heads up. I added a check for the `accessibility` query parameter that adds the letter keys only if enabled. Let me know if this doesn't resolve the issue.

[2018-08-15 19:13] zepumph opened #116 "Change tandem from magnet.draggableNode ---> magnet"

[2018-08-15 19:21] zepumph opened #117 "Convert SimpleDragHandler ---> DragListener"
"because it is the way of the future"

This should be done for FL trackable release.

[2018-08-15 19:27] zepumph commented on #117
after phetsims/scenery#842, this will involve taking the "dragListener" piece out of the tandem.

[2018-08-15 19:42] zepumph commented on #116
We briefly looked at this today. All the logic is in `MagnetNodeWithField.js` and it is pretty complicated because of accessibility and phet-io bundled together. @samreid suggested a possibility of not fixing this before stable release, and just managing the api change later on in the future.

[2018-08-15 20:01] zepumph commented on #116
We "hacked" around this problem today by just instrumenting the child "draggableNode" as the parent, so the draggableNode in the code has the following tandem as its instance: `faradaysLaw.faradaysLawScreen.view.magnetNode`. This is nice because now the dragHandler is a child of it, and the phetioID is simpler.

Although this isn't the best convention. We think that we should move forward with thi

[2018-08-15 20:01] #116 closed

[2018-08-15 20:02] zepumph commented on #107
today we got to the Reset All Button, but didn't look at it.

[2018-08-16 01:40] mbarlow12 commented on #115
Updated the cue to disappear when starting mouse/keyboard drag. Is there anything else you've noticed, @zepumph, that needs to be addressed prior to the next release (or before closing)?

[2018-08-16 15:42] mbarlow12 commented on #114
@terracoda Thanks for the feedback—I think some of your suggestions are pretty easy to implement, and I started that last night.

One bit of clarification. Will there be any difference in the AT output or navigation for the following two examples?

[code]
[code]

I believe we're trying to move toward a flatter PDOM structure with fewer nested elements, and that's what I was hoping to achieve in th

[2018-08-16 15:52] terracoda commented on #114
@mbarlow12, if you want to create a landmark region called Play Area, the H2 should be inside the section element. A better comparison is:

[code]

While they both have the same hierarchy, using a `section` element creates an additional navigable region. Users can navigate by region or by heading, though navigating by heading seems a little more common in the users I have seen. I am not sure if th

[2018-08-16 19:00] samreid commented on #109
@mbarlow12 said the preceding comment was addressed.

@jessegreenberg said we will need to synchronize our efforts since a11y is moving quickly and phet-io will need something stable for publication.

@samreid will set up set up a meeting for @jessegreenberg @mbarlow12 @zepumph and @samreid.

[2018-08-17 12:27] terracoda commented on #114
Just out of curiosity what is it about the magnet you want to put in a list structure? Something like this maybe?

Magnet
- in coil
- poles north-south

[2018-08-17 16:08] mbarlow12 commented on #109
@samreid the current implementation shows either arrows or arrows and the WASD keys depending on the presence of the `accessibility` query parameter (no parameter, no letter keys).

The interaction pattern is such that on mouse or keyboard drag, the interaction cue is removed until the sim is reset. This was also referenced by @zepumph in https://github.com/phetsims/faradays-law/issues/115, where

[2018-08-17 16:15] mbarlow12 commented on #114
The empty list is a bit of an error that's now fixed on master (it's also filled in once the polarity is flipped). I was improperly linking properties on sim start; it now looks like:

Magnet Polarity:
- north pole on left
- south pole on right

'right' and 'left' update as the polarity is flipped.

[2018-08-17 20:10] terracoda commented on #114
@mbarlow12, if the is only one property shown at a time, I'd just use a p element, like so:

[code]

But I am confused. When is this content read out? Or what is it associated with or closest to? The interactive draggable Magnet, or the Flip Magnet button?

I'll check master ;-)

[2018-08-23 17:55] mbarlow12 commented on #81
I can't get this issue to appear in master after recent commits/merges. @zepumph feel free to review and close.

[2018-08-23 21:13] #81 closed

[2018-08-24 13:35] samreid opened #118 "Coordinate a11y and PhET-iO work for a PhET-iO release"
For #107 @zepumph @chrisklus and I are working on preparing a PhET-iO release.  We have a number of issues before that will be ready though.  But when it's time, we'll need to coordinate with @mbarlow12 and @jessegreenberg about making sure a11y development is in a consistent state and won't interfere with the release.  I think I'll leave this unassigned until @zepumph @chrisklus and I get closer

[2018-08-28 23:31] zepumph opened #119 "Cannot read property 'outerType' of null"
[code]

@mbarlow12 assigning to you, let me know if I can be of any help.

[2018-08-29 01:50] mbarlow12 commented on #119
@zepumph CT looks clear after efd957c265480a03537b946d4b6950df89da4ea4 and fba6bc7f66ea75bfca77e98b2ccd63d00f898143. Closing.

[2018-08-29 01:50] #119 closed

[2018-08-30 00:00] zepumph commented on #117
Discussion of whether or not to drop the "dragListener" tandem in https://github.com/phetsims/scenery/issues/854, for now I did drop it.

[2018-08-30 00:02] zepumph commented on #117
Converted above. @samreid please review.

[2018-09-05 15:21] jhung opened #120 "Remove magnet move and position alerts and replace with single alert on key release"
Currently, multiple alerts are fired whenever the magnet moves, which causes alerts to lag behind the auditory cues from the sonification.

To address this, replace the multiple magnet move and position alerts with a single alert fired on key release / mouse release.

Specifically, remove the following alerts:
* coil proximity
* location change
* coil exit
* coil entrance direction
* coil bump
* m

[2018-09-05 15:32] jhung opened #121 "Add bar magnet keyboard control text to PDOM and accessible as help text"
Add keyboard control text to the bar magnet description that reads:
"Use the W A S D keys to move the magnet in four directions. Use 1 2 3 keys to slide magnet left and right."

This text should appear in the PDOM under the Bar Magnet description, and should be accessible as help text when the magnet is focused or hovered (similar to how help text is done for the books in Friction).

[2018-09-05 17:20] jhung opened #122 "Adjustments to coil description text"
Change the existing coil description from:
"The coil is open on the left and right - the bar magnet to pass through." (1 coil)
"The coils are open on the left and right - the bar magnet to pass through." (2 coils)

To:
"The coil is open on the left and right, large enough for the bar magnet to pass through." (1 coil)
"The coils are open on the left and right, large enough for the bar magnet to pas

[2018-09-05 18:28] jhung opened #123 "When sliding starts, fire a shorter alert"
Currently, when a slide action starts, an alert like the following is fired: "Magnet sliding slowly to the right. Press Space to stop slide."

Change this alert to just state slide has started and space to stop: "Sliding [slide direction]. Space to stop."

The speed will be conveyed through the audio cues from sonification.

[2018-09-05 20:05] samreid opened #124 "Should "Field lines" be "Field Lines"?"
During #107 we noticed that it reads "Field lines".  Check other sims for precedent, we mostly saw Uppercase Uppercase, like

![image](https://user-images.githubusercontent.com/679486/45118092-a4f85300-b114-11e8-8015-815b6bf7513d.png)

or

![image](https://user-images.githubusercontent.com/679486/45118106-ade92480-b114-11e8-9ebf-b49dc46c9ec1.png)

![image](https://user-images.githubusercontent.com

[2018-09-05 20:08] arouinfar commented on #124
@samreid in working on https://github.com/phetsims/sun/issues/370, I noticed that most sims use Title Case for checkbox strings. I found just one other instance of Sentence case in Trig Tour.

![image](https://user-images.githubusercontent.com/8419308/45118216-23ed8b80-b115-11e8-8562-5c056f664ed2.png)

[2018-09-05 20:11] jhung opened #125 "Tweaks to labels and add help text for sim options"
Tweak various sim control labels to be more concise, and add help text for controls that currently lack it.

**Label: "Volt meter"**
Help Text: "Play with or without voltmeter connected to light bulb circuit"
Alerts:
* When unchecked: "Volt meter removed from circuit."
* When checked: "Volt meter connected to circuit."

**Label: "Field Lines"**
Help Text: "Add magnetic field lines."
Alerts:
* When

[2018-09-05 20:17] zepumph opened #126 "Remove "show" from tandem from sim"
There are two places where this is used and will need to be changed:

- [ ] for the two checkboxes, remove the `show` prefix, as `voltmeterCheckbox` and `fieldLinesCheckbox` is clear enough
- [ ] for model Properties, change the use of `show` to `visible`, i.e. `showFieldLinesProperty` -> `fieldLinesVisibleProperty`.

Assigning to many, for whoever gets to it first.

[2018-09-05 21:54] zepumph opened #127 "refactor a11y PDOM Node structure to separate node in MagnetNodeWithField"
I see about 100 lines of code below `TODO: refactor into separate node(s)?` that to me seems like an easy refactor into a "MagnetInPDOMNode" or something like that. Since last december, MargnetNodeWIthField has almost doubled in size, and I think this would be a great step in simplifying the type again.

@mbarlow12 I'll let you go for it since you have been the lead in this file.

Note: please don

[2018-09-05 21:55] zepumph commented on #127
- [ ] Included in this work, from @samreid review: Can this be documented? `Number( event.key ) <= 3`

[2018-09-05 22:57] zepumph commented on #117
es6 changes were implemented above. At first I committed a blanket conversion from self to this, but then had to go back for listeners passed to other types (like DragListener).

As for the DragListener implementation conversion, @samreid and I tried to get it working using a number of option combinations, but couldn't figure it out. We used `translateNode` with `mapLocation`, but found that the b

[2018-09-05 23:59] samreid commented on #124
@chrisklus @zepumph and I changed "Field lines" to "Field Lines" in https://github.com/phetsims/faradays-law/commit/b79ff18a1e25977c751f60f5f25b0e843ee82fd7 .  @ariel-phet is that an OK change for this circumstance?  I'll create a more general issue about whether we should visit more sims regarding casing.

[2018-09-06 02:17] samreid commented on #124
Changed, closing.

[2018-09-06 02:17] #124 closed

[2018-09-06 17:47] ariel-phet commented on #79
Not aware of anymore comments I need to make here (looked over API).

[2018-09-06 20:10] samreid commented on #117
@zepumph I noticed that master still has the bar magnet sometimes jump when a drag starts--something may be wrong with the drag listener.

[2018-09-06 20:13] zepumph commented on #117
Can you be more specific. I cannot reproduce. Furthermore this issue wasn't responsible for changing any of the logic in the `DragListener`

[2018-09-06 21:15] zepumph commented on #79
The current working list for FL stable release is https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3Ameeting%3Aphet-io+user%3Aphetsims+label%3Apriority%3A2-high+

Currently there are 10 issues in that list.

[2018-09-06 21:33] zepumph commented on #117
I spoke with @samreid while addressing the bug fixed in the above commit. The offset was being calculated based on the center of the `MagnetNodeWithField`, but the model's magnet's `positionProperty` was being updated based on the translation of the Node. Thus there was a bit of a jump (depending on where you were in the screen) with the offset in between the `start` listener and the first `drag`

[2018-09-07 01:50] mbarlow12 commented on #120
@jhung We're currently using aria-live regions for the interactive alerts and we update the PDOM for dynamic descriptions. I'm happy to explain a bit more if necessary.

Thoughts on the above: I like removing 'of play area', and I'm not sure how to handle the coil alerts. Would it be a bad idea to have some more detail in how we describe the coil proximity? Perhaps as the magnet gets near enough t

[2018-09-08 20:46] samreid commented on #126
Proposed fix pushed above, @zepumph or @chrisklus please review.

[2018-09-10 07:18] mbarlow12 commented on #127
@zepumph new node created and requested doc update added. See https://github.com/phetsims/faradays-law/commit/2b83d6de97d65459743318a08f1144146cf40788.

Assigning back to you to close.

[2018-09-10 07:27] mbarlow12 commented on #125
@jhung did we ever confirm if the strings should be `Volt meter` or `Voltmeter`?

[2018-09-10 20:35] mbarlow12 commented on #109
New dev version at:

https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.45/phet/faradays-law_en_phet.html?ea&accessibility

[2018-09-10 21:02] zepumph commented on #127
I saw good things in https://github.com/phetsims/faradays-law/commit/ecbd7bacaa64544d3c00e907e7e2e6a8092d5f64, thanks for taking care of that.

I see these lines still in `MagnetNodeWithField`:
[code]

besides that `addToBack` call, why not just pass in the model to the PDOMNode and link these PDOM specific functions there? To me that feels a bit more modular.

Also where ever these calls end up,

[2018-09-11 16:31] jhung commented on #120
I like this approach. Perhaps if the magnet is in the "Very close to coil" and "In the coil" regions, then we can stop describing the play area location all together.

'Far from 4-loop coil, far from 2-loop coil' becomes 'Far from both coils'

This is good! Any opportunity to save a few words without losing clarity is a good thing.

Perhaps "Field strength changed at coil(s)"? Also I am unsure how

[2018-09-11 16:55] jhung commented on #120
I've updated the original issue:
* Removed "of play area" from alerts. i.e. "Magnet at [location] of play area... " now "Magnet at [location]..."
* Coil proximity now in the same sentence as magnet location.
* Coil entrance direction now its own sentence for clarity.

[2018-09-11 17:06] jhung commented on #125
@mbarlow12
It looks like "voltmeter" is the proper term. https://en.wikipedia.org/wiki/Voltmeter

[2018-09-11 17:48] jhung opened #128 "Add WASD and 123 keyboard interaction details to scene summary in PDOM"
In the scene summary, where it says: "Move the magnet to play", also add details about the WASD and 123 keys.

Example:
"Move the magnet to play using W A S D or 1 2 3 keys."

[2018-09-11 17:51] jhung opened #129 "Add 123 keys to alert text on magnet focus"
When the magnet is focused for the first time, the focus alert should also include details on 123 keys.

Currently:
"Magnet at middle-right of Play Area. W A S D keys moves magnet."

Change to:
"Magnet at middle-right of Play Area. W A S D and 1 2 3 keys moves magnet.

[2018-09-11 18:05] jhung opened #130 "Discussion: What is the coil proximity if magnet collides with coil?"
Currently, if the magnet collides with the coil, it is described as "in the coil". Visually this doesn't seem to match.

In this special case, would it make sense to describe the magnet in a different way? For example: "just outside the coil" or "next to the coil".

@terracoda do you have any suggestions?

[2018-09-11 19:02] jhung opened #131 "Coil proximity missing from PDOM description if only 4 loop coil"
In the PDOM description of the Bar Magnet, if only the 4 loop coil is showing, the description of the magnet proximity to the coil is missing.

Currently:
"The bar magnet is at the bottom-center of the Play Area."

Should be:
"The bar magnet is at the bottom-center of the Play Area. [Proximity] 4 loop coil."

[2018-09-11 19:15] jhung opened #132 "Flip magnet polarity and Reset All buttons should be enclosed in <li> elements"
The flip magnet button and its description, and the Reset All button should be be contained in <li>'s in the <ul>.

Currently the Reset All button is outside the list, and the flip magnet button is in the list but not enclosed in a <li>.

[2018-09-11 19:43] jhung opened #133 "If only 4 loop coil is showing, the light bulb circuit description should be a sentence and not a list"
If only the 4 loop coil is showing, the light bulb circuit description should be a sentence instead of a list because it doesn't have enough items for a useful list.

Currently, if both Volt meter and 4 loop coil are showing, the description reads:

Instead this should be:

However, if just the 4 loop coil, the description reads properly without a list.

[2018-09-11 20:00] jhung opened #134 "Changes to bar magnet polarity PDOM description"
If just 4-loop coil showing, the bar magnet polarity description should be a sentence instead of a list.

Currently:

[code]

Should be:
[code]

If both coils showing, the bar magnet polarity description should be part of the list instead of a separate one.

Currently:

[code]

Should be:
[code]

[2018-09-11 23:27] terracoda commented on #130
Yes @jhung that's a good approach, an indication of proximity with saying "inside".

Depending on level of detail and level of orientation you want to describe, you could even say, "just above coil", and "just below coil", if it is "just left", or "just right" of coil, that could indicate/hint that the magnet is lined up with the opening.

[2018-09-12 16:56] mbarlow12 commented on #132
Assigning to @jhung to close after review.

[2018-09-12 20:15] jhung commented on #130
Taking this a little further, perhaps saying that the magnet is "touching top-right of 4 loop coil". It gives information about its location relative to the coil, as well as the special circumstance.

So currently it says:

Change to:

or maybe even shorter

Grammatically "Touching top-right of 4-loop coil" is a bit awkward, but it's clear as to what is being referenced.

@terracoda What do you th

[2018-09-12 22:06] terracoda commented on #130
@jhung, I think you want to go with something more conversational, something that might engage questioing, "oh I just bumped into the magnet,what happens if I get inside?"

I think you want just enough orientating information without too much. Just think, "less is more" at every opportunity ;-)

[2018-09-13 16:07] emily-phet commented on #130
@jhung If this only happens when magent 'bumps into' coil, that means that the magent and coul are 'touch' and that there would be a corresponding 'bonk' sound. I'm not sure it's necessary to repeat "center of play area" each time...with the bonk users will know something interesting has happened and will probably want feedback immediately about what happened.

How about something like "Touching {

[2018-09-14 14:58] samreid commented on #117
The blocking part of this issue was to use DragListener, so I'm going to unmark this for high-priority phet-io.  Though I'm realizing a good step before publication will be to go through all the open issues and address them as much as possible anyways.

[2018-09-17 18:58] terracoda commented on #130
@jhung, sorry, I did not follow-up with example.

I agree with @emily-phet's example. The user might only hear the "center of play area" when they pass above or blow the coils without touching them, unless the position of the coil/coils is described explicitly and statically somewhere else, in which case the user might only need to know when they are below or above a coil, or right or left of one.

[2018-09-20 17:01] zepumph commented on #115
I'm not totally sure what is left for this issue. I think someone will need to go through the sim before we take it to RC and give it a once over to make sure that the code seems production ready.

[2018-09-20 18:19] mbarlow12 commented on #115
@zepumph I'm happy to take the lead on that since I'll be digging into this pretty frequently. @samreid had mentioned having a meeting to discuss some of the issues that have arisen, but that seems like it's not happening?

[2018-09-20 19:01] zepumph commented on #115
Yeah. @samreid please chime in on potential issues that you would want to discuss, but my main concern is prototype code when we move to dev and RC. It would be good to have that cleaned up, and then we can take another phet-io pass to spot check the phet-io api.

[2018-09-21 00:12] zepumph commented on #126
looks great. Thanks @samreid.

[2018-09-21 00:12] #126 closed

[2018-09-21 13:57] terracoda opened #135 "Please port latest described version to sinfication wrapper"
Here's the latest dev link for Faraday's Law:
[https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.46/phet/faradays-law_en_phet.html?accessibility](https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.46/phet/faradays-law_en_phet.html?accessibility)

Please port to sonification wrapper asap.

[2018-09-21 14:10] terracoda commented on #135
The above dev link has the same description as the latest version on phettest.

[2018-09-21 14:57] terracoda commented on #135
Closing this issue for now and will open an issue in a11y research about this process ;-)

[2018-09-21 15:38] samreid commented on #115
We've been postponing until we are closer to Faraday's Law RC.  The main thing will be to make sure we are at a good stable point for sim SHAs, not catching changes partway through.

[2018-09-21 15:51] terracoda commented on #134
@jhung, I think it might just be a typo, but you always want to use the same exact strings wherever possible to describe the same thing, and possibly the same structure, too.

**What do you think of this:**
**With 1 coil:**
- Bar Magnet, web application. At {{middle-right of Play Area}}, {{far from 4-loop coil}} with {{north pole left, and south pole right}}.

"Bar Magnet" comes from accessible na

[2018-09-21 16:56] terracoda commented on #133
@jhung, I would suggest simplifying the phrasing for this. Starting with "In a circuit are a...", is  complex phrasing. I realize, I suggested this based on the description in Ohm's Law, but in that sim the elements of the circuit have important changing parameters values. In this sim, the circuit is a bit more static. You just add and remove things from it.

For comparison with Ohm's Law I descri

[2018-09-21 16:57] terracoda commented on #133
@jhung, have you asked @ariel-phet if it is necessary to describe the details of the circuit, for example, that there are two wires.

[2018-09-21 17:07] terracoda commented on #133
Oh, and I just looked at the A11y View and there is another string that was not mentioned in your original post:

- "The coil is open on the left and right, large enough for the bar magnet can pass through."

I guess that would need to be worked in, unless you were planning on dropping it. Sorry, I missed that.

[2018-09-24 13:18] #135 closed

[2018-09-24 13:58] terracoda opened #136 "I do not hear Bar Magnet's name on Focus"
In latest version on master, I do not hear the Bar Magnet's accessible name on Focus. I only hear, "Web Application." This is using Safari and Voice Over.

<img width="1105" alt="screen shot 2018-09-24 at 10 58 25 am" src="https://user-images.githubusercontent.com/1902116/45954918-fd6e9200-bfe8-11e8-8049-9dc98f5a51a2.png">

**Ah, I see the problem:**
<img width="807" alt="no-accessible-name" src="

[2018-09-24 14:00] terracoda commented on #136
Tagging @jhung and will assign to @mbarlow12.

[2018-09-24 14:40] terracoda commented on #131
@jhung, the proximity to coil is the most important information. I think that information should always come first if at all possible. Have you considered flipping the phrasing? For example:

Bar magnet. {{Proximity to coil}}, at {{relevant place in Play Area, only when needed}}.

<img width="601" alt="screen shot 2018-09-24 at 11 51 27 am" src="https://user-images.githubusercontent.com/1902116/45

[2018-09-24 14:41] terracoda commented on #131
And apologies if this should be entirely new issue.

[2018-09-24 14:50] terracoda opened #137 "Please port latest version to sonification for interview"
We need an up to date described sonified version by end of @zepumph's day today. There is an early interview (9:30 am ET) Tuesday morning.

If at all possible please address the following issues before the port:
- [x]  #136 - No accessible name for Bar Magnet.

If the above cannot be fixed, I can just make a note about the issue for the interviewers.

@zepumph please coordinate with @mbarlow12 reg

[2018-09-24 14:51] terracoda commented on #137
@zepumph, I am not sure if these requests warrant the dev:sonifcation label.

[2018-09-24 15:12] terracoda commented on #137
@zepumph, as for links i will need:

- new dev link for described version if changed from
https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.46/phet/faradays-law_en_phet.html?accessibility

- dev link for latest described sonified version

[2018-09-24 16:30] zepumph commented on #137
@mbarlow12 I think the easiest way to proceed is to in the following:

* @mbarlow12 to complete as much as possible in the simulation for the upcoming interview today.
* @mbarlow12 to create a dev deploy with `--brands=phet,phet-io` so that we can also get the phet-io version for the sonification wrapper
* @zepumph to add that dev version to the sonification wrapper and deploy that.

If the ball i

[2018-09-24 16:33] terracoda commented on #137
@mbarlow12 and @zepumph - interview is 9:30 am ET Tuesday (i.e., Sept 25) and not today.

[2018-09-24 16:37] terracoda commented on #136
@mbarlow12, I am marking as top priority, so @zepumph can do #137 near the end of his day.

It's not a complete show stopper if this issue is not fixed.

[2018-09-24 23:14] mbarlow12 commented on #136
@terracoda Thanks for catching that one. The `aria-labelledby` and `-roledescription` have both been set and sound like they're working properly. Let me know if there's anything else before closing.

[2018-09-24 23:28] mbarlow12 commented on #137
@zepumph @terracoda New html & wrapper versions deployed:
- https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_en_phet.html
- https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet-io/

I'll keep myself assigned until this is closed.

[2018-09-24 23:36] zepumph commented on #137
Great thanks!

[2018-09-24 23:43] zepumph commented on #137
@mbarlow12 thank you for doing this.

Here is the new sonification link:

https://phet-dev.colorado.edu/html/phet-io-wrapper-sonification/1.0.0-dev.77/phet-io-wrapper-sonification/sonification.html

@mbarlow12 from now on, to support the sonification wrapper as it applies to faradays-law, please use the above commit as a guide to update the FL version. Then:
* commit and push
* `cd phet-io-wrapper

[2018-09-25 01:33] mbarlow12 commented on #123
@jhung this (and the other issue you opened) were finished a little while ago. I'm assigning back to you to close at your convenience.

[2018-09-25 02:08] terracoda commented on #136
@mbarlow12, sounds great!
Thanks for getting to this on short  notice!

On focus (with Voice Over), I hear: "Bar Magnet, move in four directions" and I often I also hear it's initial description (position and interaction instructions).

Sounds great! Thanks @mbarlow12!

[2018-09-25 02:08] #136 closed

[2018-09-25 02:14] terracoda commented on #137
@mbarlow12 and @zepumph, thanks to both of you for getting these links out so quickly!

[2018-09-25 14:04] terracoda commented on #131
I think this issue and issues #133 and #134 might need to be considered together as a group, so just tagging those issues here.

[2018-09-25 19:29] jhung commented on #130
@emily-phet and @terracoda - Great points. I will file some new issues to address the verbosity and redundancy of the text description and text alert when in / around / touching the coil.

[2018-09-25 19:41] jhung opened #138 "Changes to text description if the bar magnet is touching the coil"
If the magnet is touching a coil, then the text description in the PDOM can just say it's touching the top or bottom (and the rest of the description removed).

For example, currently if the magnet is touching the 4 loop coil, the description states:

If the magnet is touching the top left or top right of the coil, the description should say:

If the magnet is touching the bottom left or bottom ri

[2018-09-26 15:01] jhung opened #139 "Remove text alerts if magnet collides with the coil"
When the magnet hits any coil, no text alert needs to be given whether stepping or sliding. The "bong" audio cue should be sufficient.

See #130 for discussion.

[2018-09-26 15:14] jhung opened #140 "Remove play area position from text alert if "very close" or "in" a coil"
If the magnet is very close or inside a coil, the play area position text should be omitted from the text alert. The reasoning is that once the magnet is so close to the coil, the position relative to the coil is more contextually relevant.

For example: if very close to the coil, the text alert states:

This should be simplified to:

See #130 for discussion.

[2018-09-27 04:16] samreid opened #141 "Why is there no visibleProperty change when the field lines are shown/hidden?"
See #107.  I would expect the data stream to show fieldLinesNode.visibleProperty changed, but the data stream is:

![image](https://user-images.githubusercontent.com/679486/46123114-c1e6ea00-c1d9-11e8-957d-878367306bf1.png)

https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet-io/faradays-law_all_phet-io.html?phetioStandalone&phetioConsoleLog=colorized

[2018-09-27 05:18] samreid commented on #115
Unassigning self for now, will check in again when we are closer to RC.

[2018-09-27 18:34] jessegreenberg commented on #115
Do we also need to make sure that a11y is solid enough to reduce the possibility it of making an API breaking change? If so, we may want to work on this before the RC is imminent.

[2018-09-28 01:00] zepumph commented on #115
Can you explain your thoughts a bit more. If you are talking about a11y features and components being instrumented (like the intersection of a11y and phet-io), then I would think not right now. But if instead you are talking about the a11y code (for example describers and the new arrow queues) being stable enough such than they will not likely move from the magnet to the screenView or something, t

[2018-09-28 13:52] jessegreenberg commented on #115
Right, that is what I was wondering about. We may need to add Properties/Emitters, or move/refactor code, or hopefully generalize and move out of the sim entirely. But sounds like this is probably not a problem if we avoid instrumenting sim-specific a11y code.

[2018-10-02 23:27] zepumph opened #142 "Enums should only be frozen if assertions enabled"
Like `  if ( assert ) { Object.freeze( MagnetDirectionEnum ); }`

This helps out with performance when built.

[2018-10-02 23:44] mbarlow12 commented on #142
Ready for review.

[2018-10-09 20:15] terracoda commented on #138
@jhung , I have made some comments in issues #131, #134 that might be related to this description, and the earlier discussion in #130. I feel, even tangentially in terms of description style this issue is related to suggestions for the circuit made in issue #133.

There are several open issues about the description of the magnet and the coils, some are the description in the PDOM (like this one) a

[2018-10-10 18:12] samreid opened #143 "Review Studio"
After numerous changes, including adding Emitters, will need to be re-reviewed in Studio.  This may be good to do as a team.  This came from #107

[2018-10-10 20:15] chrisklus commented on #107
@zepumph and I have split the remaining tasks for this issue out into separate issues so there is nothing that remains in this one. I defer to @zepumph to close this issue.

[2018-10-10 20:16] #107 closed

[2018-10-10 20:21] chrisklus commented on #115
@zepumph and I are thinking that more work needs to be done before this issue can be addressed.

[2018-10-10 22:38] mbarlow12 commented on #121
@jhung, this should be done and can be accessed at:

https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_a11y_view.html
or
https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_en_phet.html?accessibility

[2018-10-10 22:39] mbarlow12 commented on #122
@jhung, this should be done and can be accessed at:

https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_a11y_view.html
or
https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_en_phet.html?accessibility

[2018-10-10 22:40] mbarlow12 commented on #128
@jhung, this should be done and can be accessed at:

https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_a11y_view.html
or
https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_en_phet.html?accessibility

[2018-10-10 22:43] mbarlow12 commented on #129
@jhung, this should be done and can be accessed at:

https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_a11y_view.html
or
https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_en_phet.html?accessibility

Do note that the alerts in the above version are not representative of the current implementation. I was just highlighting the content update.

[2018-10-10 22:44] mbarlow12 commented on #132
For review:

https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_a11y_view.html
or
https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_en_phet.html?accessibility

[2018-10-11 03:40] samreid commented on #141
Instrumented in https://github.com/phetsims/faradays-law/commit/df70af8aa73277f74af05d83f724a1d1f30719b4 and now the data stream makes more sense.  I think we can close this issue but I wanted to get @zepumph in the loop since we may want to employ this pattern in other phet-io designs.  @zepumph close if all is well.

[2018-10-15 18:11] jhung commented on #129
It sounds better @mbarlow12. Thanks!

[2018-10-15 18:11] #129 closed

[2018-10-15 18:33] jhung opened #144 "With Voiceover, when moving focus off bar magnet and back on, magnet is announced incorrectly"
If you move focus off then back on the bar magnet, Voiceover will say: "You are currently on a move in four directions..."

Looking at the markup, it seems to be picking up the `aria-roledescription` from the PDOM.

To reproduce:

1. Load Faraday's Law: https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.53/phet/faradays-law_en_phet.html?accessibility
2. Turn on Voiceover.
3. Tab focus on th

[2018-10-15 19:05] jhung commented on #121
Verified. Thanks!

[2018-10-15 19:05] #121 closed

[2018-10-15 19:07] jhung commented on #128
Verified. Thanks!

[2018-10-15 19:07] #128 closed

[2018-10-15 19:38] jhung commented on #122
Upon reviewing, some minor changes.

Currently:
"The coil is open on the left and right, large enough for the bar magnet can pass through." (1 coil)
"The coils are open on the left and right, large enough for the bar magnet to pass through." (2 coils)

Change to:
"The coil is sideways, with openings on the left and right." (1 coil)
"The two coils are sideways, with openings on the left and right."

[2018-10-15 19:57] mbarlow12 commented on #144
This is pretty strange behavior since the `aria-labelledby` attribute is set to the Bar Magnet heading element. @terracoda have you seen anything like this before? I'm not on my mac at the moment, so I'll have to test later this evening.

[2018-10-15 20:03] jhung commented on #133
Looks good! One change...

Currently:
"In circuit are a light bulb, a 4 loop coil, and a voltmeter." (1 coil)
"In circuit are a:" (2 coils)

Change to:
"The circuit has a light bulb, a 4 loop coil, and a voltmeter." (1 coil)
"The circuit has a:" (2 coils)

[2018-10-15 20:15] jhung opened #145 "Light bulb is missing from PDOM description when 2 coils present"
If 2 coils are showing, the light bulb circuit description is missing the light bulb from the list.

Currently:
[code]

Change to:
[code]

[2018-10-15 20:18] jhung commented on #120
We should put this on hold pending discussions with @terracoda and @emily-phet regarding an explicit magnet pick-up and release interaction.

[2018-10-15 20:29] jhung commented on #123
Thanks for making the changes. I'm finding that even with the shorter alerts, it's likely the alert will continue to be read after the sliding has stopped. We might have to shorten this even further.

Also there's an issue with multiple slide alerts piling up if slide moves are done very quickly.

I will bring this up with discussions with @emily-phet and @terracoda when we meet.

[2018-10-16 13:43] jhung commented on #134
@terracoda I'm concerned about making sentences too long. I think we should go with how it is right now and see what testing reveals.

@mbarlow12 it looks good. Closing this issue.

[2018-10-16 13:43] #134 closed

[2018-10-16 13:45] jhung commented on #131
We should put this on hold pending discussions regarding an explicit magnet pick-up and release interaction.

[2018-10-16 13:46] terracoda commented on #144
@mbarlow12, that extra text is VoiceOver's built in help. You can turn that off in settings (I turn it off).

That is the correct description, aria-roledescription, "move in four directions"  replaces "web application" on this custom type of object.

[2018-10-16 13:54] jhung commented on #138
We should put this on hold pending discussions regarding an explicit magnet pick-up and release interaction.

[2018-10-16 13:55] jhung commented on #140
We should put this on hold pending discussions with @terracoda and @emily-phet regarding an explicit magnet pick-up and release interaction.

[2018-10-16 18:37] mbarlow12 commented on #144
@jhung after https://github.com/phetsims/faradays-law/issues/144#issuecomment-430243734, am I ok to close this issue?

[2018-10-16 19:21] jhung commented on #144
@terracoda thanks for checking that.
@mbarlow12 yes. I'll resolve this now.

[2018-10-16 19:21] #144 closed

[2018-10-16 19:22] jhung commented on #139
This is on hold pending discussions about grab/release interaction.

[2018-10-16 19:44] jhung commented on #125
The inputs for the different sim options should use `aria-describedby` to associate the input with the descriptive paragraph that follows.

Applies to: Voltmeter and Field lines checkboxes.

Example:
[code]

[2018-10-17 23:07] #141 closed

[2018-10-24 23:10] #127 closed

[2018-10-31 09:19] terracoda commented on #134
@jhung, we can discuss. Just keep in mind what you think is the essential information a user needs on focus or with a grab button once they activate the grab button. The information on focus can be different than what happens once they start moving the magnet

[2018-11-05 11:12] terracoda commented on #137
I'll close this issue now as interview(s) took place.

[2018-11-05 11:12] #137 closed

[2018-11-13 19:05] jhung commented on #145
No longer applicable with revised designs. Closing this issue.

[2018-11-13 19:05] #145 closed

[2018-11-13 19:06] jhung commented on #140
No longer applicable with revised designs. Closing this issue.

[2018-11-13 19:06] #140 closed

[2018-11-13 19:08] jhung commented on #139
No longer applicable with revised designs. Closing this issue.

[2018-11-13 19:08] #139 closed

[2018-11-13 19:09] jhung commented on #138
No longer applicable with revised designs. Closing this issue.

[2018-11-13 19:09] #138 closed

[2018-11-13 19:14] jhung commented on #133
No longer applicable with revised designs. Closing this issue.

[2018-11-13 19:14] #133 closed

[2018-11-13 19:14] jhung commented on #131
No longer applicable with revised designs. Closing this issue.

[2018-11-13 19:14] #131 closed

[2018-11-13 19:25] jhung commented on #123
No longer applicable with revised designs. Closing this issue.

[2018-11-13 19:25] #123 closed

[2018-11-13 19:29] jhung commented on #120
No longer applicable with revised designs. Closing this issue.

[2018-11-13 19:29] #120 closed

[2018-11-13 19:30] jhung commented on #114
I recommend closing this to avoid any confusion with the new revised design.

[2018-11-14 22:55] mbarlow12 commented on #114
Can do!

[2018-11-14 22:55] #114 closed

[2018-11-15 00:37] jessegreenberg opened #146 "Improve alerts in FL?"
In review of https://github.com/phetsims/scenery-phet/issues/405 @mbarlow12 said

I am curious about what is sub-optimal with alerts in this sim. @mbarlow12 is the issue there there are still too many alerts during interaction? I played with the sim and saw this behavior of alerts in the a11y-view, I am getting the final alert at the end of interaction, which seems OK:
![2bc11fcadf04273407ebeca107

[2018-12-01 05:27] samreid opened #147 "Failed unit tests: regionTester.getColumn is not a function"
Running http://localhost/faradays-law/faradays-law-tests.html yields:

Source: | TypeError: regionTester.getColumn is not a function     at Object.assert (http://localhost/faradays-law/js/faradays-law/view/MagnetRegionsTests.js?bust=1543641891504:40:32)

I'm not sure who will be best to assign, so I'll start with @jessegreenberg @mbarlow12 and @zepumph.

[2018-12-02 02:39] samreid commented on #143
Now that we have a tree view in Studio, we may wish to re-open this to a Faraday's Law PhET-iO design meeting.  We will also want to select the featured elements.  On hold until we resume work on this sim.

[2018-12-03 16:24] jessegreenberg commented on #147
@mbarlow12 is the author of this file and has been working on a11y descriptions in this sim, @mbarlow12 can you please take a look?

[2018-12-04 03:38] mbarlow12 commented on #147
My apologies. Some of those tests are obsolete now. I made the updates so that test are all passing, though it's a pretty ineffective suite. I'm happy to remove it if we think it'd be preferable.

[2018-12-04 03:41] samreid commented on #147
Some tests are better than no tests!  I vote keep the remaining tests.  Anything else before closing?

[2018-12-04 20:00] mbarlow12 commented on #147
Sounds good @samreid . Should be good to close.

[2018-12-04 20:22] #147 closed

[2018-12-12 00:43] zepumph opened #148 "Edge case when magnet at center"
I was playing with the really cool keyboard nav just now (it works very well I think). I found a bit of an edge case. Perhaps the "center" definition varies for the magnet projected on the edge and the directional arrows.

![image](https://user-images.githubusercontent.com/6856943/49839409-626d9480-fd5b-11e8-93b5-6484791a6bcd.png)

I know that this sim isn't in active a11y development but I figure

[2019-01-11 18:01] mbarlow12 commented on #148
Sorry for getting to this so late, and thanks for pointing it out. There was a small discrepancy in the magnet position checks between the jump listener and arrow node displays. Fixed and ready for review.

[2019-01-14 20:18] zepumph commented on #148
Not a worry, it looks good.

[2019-01-14 20:18] #148 closed

[2019-01-24 00:06] KatieWoe opened #149 "CT running lint-all lask"
[code]

[2019-01-24 03:57] pixelzoom commented on #149
Fixed, closing.

[2019-01-24 03:57] #149 closed

[2019-03-29 03:12] arouinfar opened #150 "Is the sign of voltage incorrect?"
A teacher wrote to phethelp inquiring about the sign of the voltage:

Recreating the user's text case in the legacy version and the 1.0.0 version of HTML5, the needle will deflect towards the positive voltage, as described in the textbook. It seems like this was bug was introduced sometime after 1.0.

@ariel-phet can you take a look? If our physics is indeed wrong here (which it seems to be) we sh

[2019-04-09 23:00] arouinfar commented on #150
@oliver-phet just received another email from an AP physics student reporting the same issue.

![image](https://user-images.githubusercontent.com/8419308/55840502-d5f49800-5ae8-11e9-901b-ced81d5a894a.png)

[2019-04-10 00:46] ariel-phet commented on #150
@arouinfar

Probably the simplest way to answer this question is to first agree on which way the voltage should read if the current in the bulb is flowing "right to left" (RTL) or "left to right" (LTR). Current flows from high potential to low potential. So

1. If current is RTL, the voltage should read positive.
2. If current is LTR, the voltage should read negative.

Lets address the situation p

[2019-04-10 01:20] arouinfar commented on #150
@ariel-phet I still think the sim is incorrect here.

Based on on the direction of the induced current, the left side of the coil is the positive end. The positive probe of the voltmeter is attached to the same end, so the needle should deflect to the right (positive).
![image](https://user-images.githubusercontent.com/8419308/55844542-fc233380-5afa-11e9-91e7-07b1be4335a7.png)

By comparison, plac

[2019-04-10 03:09] ariel-phet commented on #150
@arouinfar I need to respectfully disagree here. Notice in the situation you made, the current is flowing left to right. So the proper analogy to the sim would be to have the positive lead of the voltmeter on the right hand side of the bulb(as in the sim). So the voltage should in fact read negative.

![circuit](https://user-images.githubusercontent.com/4051174/55848897-d2bed380-5b0b-11e9-9abe-f51

[2019-04-10 03:15] ariel-phet commented on #150
@arouinfar I think you have to be a bit careful about talking about the coil having a positive or negative side...I think it is clearest to think about it as a source of EMF that is driving the current in a certain direction. current flows from high potential to low potential, so I think the bulb seen in the snapshot in the comment above is a good example.

[2019-04-11 14:37] arouinfar commented on #150
@ariel-phet thanks for the detailed explanations! Once I traced the induced current around the rest of the circuit, I can clearly see the bulb has an LTR current, resulting in a negative voltage.

I'll reply to the two users who reached out to us with difficulties with the sign of the voltage.

I also quite like the idea of having a representation for the current, so I'll open up a new issue and w

[2019-04-12 22:38] KatieWoe opened #151 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None found

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56069670-6decbe80-5d41-11e9-86ba-b54d4a2

[2019-04-12 22:39] #151 closed

[2019-04-17 22:12] arouinfar opened #152 "Add representation for current direction"
Recently, two users contacted phethelp with concerns that the sign of the voltage was incorrect, see #150. The sim's behavior is correct, however previous versions of the simulation the sign of the voltage actually was incorrect, see #65.

In #150 @ariel-phet wrote:

I think this is an excellent idea. Showing the **conventional** current direction would make the sign of the voltage much clearer. A

[2019-04-17 22:13] arouinfar commented on #150
Users have been emailed, and issue for current arrows has been opened. Closing.

[2019-04-17 22:13] #150 closed

[2019-04-18 01:49] ariel-phet commented on #152
@arouinfar yes, I agree, conventional current would be the preferred default to show. I think showing the electron flow direction in this particular simulation would confuse the issue (I would not even have it as an option) since, as you point out, the RHR uses conventional current.

[2019-04-18 18:08] arouinfar commented on #152
Thanks @ariel-phet. Any thoughts about the mockups?

The close vertical spacing of the wires makes it a bit tricky, so I've had to stagger the arrows in the fist mockup. I think the second mockup does a better job of emphasizing the current direction through the bulb, but the space to show the arrows is much more limited.

[2019-04-19 00:20] ariel-phet commented on #152
@arouinfar what about "curvy arrows" around the bends?

[2019-04-22 17:09] samreid opened #153 "Use Shape.zigZagTo"
Faraday's law has this zig-zag code:

[code]

Now that  `Shape.zigZagTo` was added in https://github.com/phetsims/kite/issues/75, it may be better for this simulation to use it instead.

[2019-04-30 00:34] jbphet commented on #153
I gave this a shot, but it looks like there may be an issue with `Shape.zigZagToPoint` not handling non-integer values for `numberZigZags`.  Here is what the shape looked like when using a value of 4:

![image](https://user-images.githubusercontent.com/3082831/56935005-c3e49480-6aab-11e9-88bf-20c99ef7cd14.png)

This isn't to bad except that it looks less symmetric than the current implementation,

[2019-04-30 13:07] samreid commented on #153
The current implementation requires an integer.  @Denz1994 ran into the same problem or a similar problem in https://github.com/phetsims/capacitor-lab-basics/issues/258#issuecomment-486489715 and is looking into it.

[2019-05-06 22:10] samreid commented on #153
The proposed API is:
[code]

But I'm wondering if it would serve us better to use a more wave-oriented API, like

[code]

Then we can have a single implementation for symmetrical/asymmetrical zig-zags.  But on the other hand, if you want to specify 7 zig zags from the start point, you need to use the Shape.currentPoint.distanceTo(endPoint) to compute the wavelength.

Additionally, we may at some p

[2019-05-09 16:28] pixelzoom opened #154 "bad a11y check in MagnetInteractionCueNode"
MagnetInteractionCueNode.js

`44   var a11yEnabled = phet.chipper.queryParameters.accessibility;`

That's going to be incorrect when `Sim( { accessibility: true } )`. It should be:

`44   var a11yEnabled = phet.chipper.queryParameters.accessibility;`

[2019-05-09 16:28] pixelzoom commented on #154
Fixed above, @zepumph please verify.

[2019-05-09 16:29] #154 closed

[2019-05-14 17:46] samreid commented on #153
@Denz1994 and I discussed this in slack, and decided we would like to review the proposed API with the development team (see preceding comment).  After the API is decided, then we can schedule implementation.  @Denz1994 and I noted that this is an isolated "bite size" issue that may lend itself to development by an intern or student developer.

[2019-05-14 17:53] samreid commented on #153
I realized the latter proposed API in https://github.com/phetsims/faradays-law/issues/153#issuecomment-489801927 is overconstrained.  The following variables are not mutually exclusive: start point, end point, phase, wavelength.  If you specify start point, phase and wavelength, that will determine the amplitude near the end point, so we will have to find an alternative.  This would be a good prob

[2019-05-14 21:01] veillette commented on #153
The current implementation with the symmetrical flag makes an assumption that the zig-zags are vertically aligned which is not warranted.

[2019-05-14 21:29] veillette commented on #153
Mathematically, this would be preferable
[code]

[2019-05-14 22:13] veillette commented on #153
The previous commit handles zig-zags for no-vertical orientation using the same API. Assigning to @samreid to review.

[2019-05-14 22:26] veillette commented on #153
Here is a screenshot from Faraday's Law on Master where the number of Zig-zags is 8 and symmetric.

![image](https://user-images.githubusercontent.com/7633344/57736321-80765280-7675-11e9-9a79-d331de03554c.png)

[2019-05-14 22:40] veillette commented on #153
Rather I should assign to @jbphet for review.

[2019-05-16 18:59] pixelzoom commented on #153
5/16/19 dev meeting:

@chrisklus pointed out that there are CT errors related to this that have been occurring for awhile. Should someone address this?

@veillette generalized to handle any direction with integer number of zigzags, see above. This is probably triggering assertions in CT, he will investigate.

@samreid will look at CCK.

We looks at the API in Shape `zigZagToPoint`, the only questi

[2019-05-17 17:39] veillette commented on #153
The CT errors came from CCK were the number of zigZag were not restricted to integer values.
A patch was committed  to address the CT errors (https://github.com/phetsims/circuit-construction-kit-common/commit/c2b62768e29ab4a9e91007628dede557c8deed9c).
All the other instances of Shape.zigZagTo were already constrained to an integer value for numberZigZags.

CT is now passing.

[2019-06-04 16:21] samreid commented on #153
1.1.17 (published) looks like this:
![image](https://user-images.githubusercontent.com/679486/58896059-77940200-86b2-11e9-9005-02df0f823dba.png)

But master looks like this:
![image](https://user-images.githubusercontent.com/679486/58896081-7e227980-86b2-11e9-9f91-d7e46e6f9af8.png)

It seems there are too many zig-zags now.  I'll mark this for blocking next publication.

[2019-06-04 17:30] jonathanolson commented on #153
I can imagine having fractional numberZigZags personally (if you wanted one end to be a peak and the other a valley, for instance), but it sounds unlikely to be needed, and like we probably wouldn't need the complexity.

[2019-06-06 17:25] samreid commented on #153
I reduced the number of waves and the amplitude to more closely match master.  Reassigning to responsible dev @jbphet to review and see if it is acceptable and if there is anything else for this issue.

[2019-06-12 01:04] veillette commented on #153
Unassigning myself

[2019-06-12 17:38] jbphet commented on #153
The code looks reasonable, though I reformatted it to meet line length conventions.  There is a bit of a visual difference versus the published version, but I slightly prefer the new version.  I did, however, try to use the new `Shape.zigZagToPoint` method to exactly match the published version to avoid an unnecessary visual change the next time this is published from master, but the new method ca

[2019-06-17 16:09] samreid commented on #153
Thanks @jbphet, I removed the extraneous `@public` annotation.  Regarding the history comment: we now have (a) a git commit message indicating where this code came from and (b) a comment in the history indicating where this code came from.  At previous developer meetings we decided to add a code comment when code is moved from one repo to another, I don't know whether this decision is to keep it a

[2019-06-17 16:32] jbphet commented on #153
I just looked at the screen shots, and the difference is pretty subtle at that resolution.  I'm going to make the call and say no, it's not necessary to take the time an regenerate screenshots.  Closing.

[2019-06-17 16:32] #153 closed

[2019-07-02 21:38] ariel-phet commented on #146
This issue is stale, closing

[2019-07-02 21:38] #146 closed

[2019-07-03 16:39] emily-phet commented on #103
Assigning to @terracoda - she'll probably recall the desired behavior better than I will.

[2020-02-14 16:36] oliver-phet opened #155 "User suggestion: poor set of magnetic field lines"
![image](https://user-images.githubusercontent.com/5090275/74549393-c9ad4880-4f0c-11ea-98e0-29db2e339e0c.png)

![](https://ds055uzetaobb.cloudfront.net/image_optimizer/1aab95c7d944fadde68041d352e380c71edb312e.png)
 found here: https://brilliant.org/wiki/magnetic-field-lines/ although arguably some of the field lines are not quite uniformly spaced near the poles.

[2020-03-22 22:46] zepumph opened #156 "move a11y strings into main strings json"
From https://github.com/phetsims/chipper/issues/795

[2020-03-22 23:50] zepumph commented on #156
@jessegreenberg please spot check.

[2020-05-03 17:02] samreid opened #157 "Faraday's Law unit tests load code that references phetioEngine before it is loaded."
For https://github.com/phetsims/tasks/issues/1035, Faraday's Law unit tests load code that references phetioEngine before it is loaded.

I'll move the phetioEngine dependent code from static space into the tests.  This is a band-aid rather than a surgery.  I don't know what the long term solution will be, but maybe @zepumph can recommend something?

[2020-05-03 17:03] samreid commented on #157
Fix committed, @zepumph can you please take a look?

[2020-05-05 16:27] oliver-phet commented on #152
Another user emailed:

[2020-05-05 16:53] arouinfar commented on #152
The legacy version of [Faraday's Law](https://phet.colorado.edu/sims/faradays-law/faradays-law_en.html) does not show electrons. It looks like the user is referring to [Faraday's Electromagnetic Lab](https://phet.colorado.edu/en/simulation/faraday) which is a different sim (though related). @oliver-phet can you point the user to the Java and CheerpJ versions of Faraday's Electromagnetic Lab?

[2020-05-05 16:54] oliver-phet commented on #152
My mistake, will do!

[2020-05-07 04:41] zepumph commented on #157
Thanks!

[2020-05-07 04:41] #157 closed

[2020-05-07 04:42] zepumph commented on #157
I have done similar stuff in BASE, I feel like this is fine, as it is for tests only, and it fails loudly so you know when you are doing it wrong. I'm not too worried.

[2020-06-26 21:38] zepumph commented on #118
Faradays law is not a priority right now, this issue is very out of date. We will need to review all of FL again before publishing for PhET-iO again.

[2020-06-26 21:38] #118 closed

[2020-06-26 21:40] zepumph opened #158 "Redesign for PhET-iO"
Faradays law was worked on many years ago as the first "thoughtfully designed" PhET-iO sim that didn't have the "instrument everything" approach. We didn't quite take it to the finish line though. See #79. I think a new issue is warranted, though it may be worth looking at the end of that issue before we start this new process, for context. I also think this issue will co-opt #143, but with a more

[2020-06-26 21:42] zepumph commented on #79
This issue is largely out of date, and we will likely need to review the whole sim (even briefly) based on our newest phet-io implementation and design patterns. I'm going to close this. We can pick things up in https://github.com/phetsims/faradays-law/issues/158

[2020-06-26 21:42] #79 closed

[2020-06-26 21:43] zepumph commented on #143
Closing this, as a subset of work to be done in https://github.com/phetsims/faradays-law/issues/158

[2020-06-26 21:43] #143 closed

[2020-06-26 21:44] zepumph commented on #108
We will likely get to this next time we work on https://github.com/phetsims/faradays-law/issues/158.

[2020-06-26 21:45] zepumph commented on #108
- [ ] Overrides for `phetioReadOnly` feel very buggy to newer processes are. I would like to change the model Properties directly instead of needing to use the UI components in Studio.

[2020-06-26 21:46] zepumph commented on #115
This issue is out of date, and more thorough review will be needed before publishing FL, let's pick things up in #158.

[2020-06-26 21:46] #115 closed

[2020-06-26 22:10] zepumph opened #159 "magnet.orientationProperty should be an Enumeration"
Right now it is just strings, but this is not quite aligned with our current code standards

[2020-06-29 14:57] KatieWoe opened #160 "CT tests not done"
[code]

[2020-06-29 16:48] jbphet commented on #160
@samreid fixed this when working on https://github.com/phetsims/phet-io/issues/1678.  CT now looks clear.  Closing.

[2020-06-29 16:48] #160 closed

[2020-07-07 23:41] jbphet opened #161 "Implement sound design"
This sim has percolated to the top of the priority list in terms of having sound and other a11y features added.  This issue is being created as a place to track the steps necessary for adding the sound design.

An initial prototype of the sound design was created a while back using the sonfication wrapper approach, please see https://bayes.colorado.edu/dev/html/phet-io-wrapper-sonification/1.0.0-d

[2020-07-07 23:43] jbphet commented on #161
Below is the checklist for adding sound to a sim:

# Checklist for Adding Sound

- [ ] Create a sound design document and work with the sound designer(s) to get to the point where enough has been
worked out that it becomes desirable to start prototyping.  For an example, please see the [Molecules and Light Sound
Design](https://docs.google.com/document/d/1LJ6maD9QGvRRIaukKi_s019Gc1V2YHi4CPbPNULLiR

[2020-07-13 21:30] jbphet commented on #161
Marking for dev meeting to check in the other developers and make sure that no one has plans to publish this off of master in the near future.  This is to determine whether it is safe to enable sound in the master branch.

[2020-07-14 23:12] jbphet opened #162 "Create and integrate coil-related sounds"
This is a child issue of #161.

In the 7/14/2020 sound design meeting we decided that the next steps in the implementation of the sound design are to work on creating and integrating sounds for the magnet bumping into the coils - one sound for the upper coil and one for the lower - and a sound for switching between the single- and dual-coil configurations.  The sounds in the sonification wrapper s

[2020-07-16 09:02] arouinfar commented on #152
Two more users have recently written to phethelp about the current direction, so we may want to consider adding this representation in the nearish future. Perhaps it could be rolled in with the work currently going on in this sim?

I'll mock up the curvy arrow option soon.

[2020-07-18 20:34] samreid commented on #161
I noticed "yaddaYadda" in the commit, not sure if it is important but it will be overwritten by a `grunt update` in https://github.com/phetsims/tandem/issues/191

[2020-07-21 00:42] Ashton-Morris commented on #162
I have three variations to try. Two of them have multiples for randomization but you don't need to implement that for now. Just one will do as we feel out which direction we like.

[Sounds will live here](https://drive.google.com/drive/folders/1WHcnidTFlNuX8SmS6jtOl_8_2acf3yfR?usp=sharing)

- coil-bump-option-3-002.mp3
- coil-bump-option-3-002.wav
- coil-bump-option-3-001.mp3
- coil-bump-option-3-

[2020-07-22 18:00] jbphet commented on #161
No worries @samreid - the "yaddaYadda" thing was accidental, a result of some tests I was running, and it's fine that it has now been overwritten.

[2020-07-22 22:52] jbphet commented on #162
We reviewed the list of candidates above in the 7/22/2020 sound design meeting and decided that we'd like something similar to coil-bump-option-3 but with a little bit less of an abrupt attack.  Also, we'll need a higher one and a lower one for bumping into the smaller and larger coils, respectively.  We don't at this point think we need to have multiple variations to choose from randomly - it can

[2020-07-22 22:54] jbphet commented on #162
We also will need sounds for switching between the single- and dual-coil configurations.

[2020-07-22 23:07] jbphet opened #163 "Create and integrate light bulb (voltage) sounds"
This is a child issue of #161.

We need a sound for the amount of light produced by the lightbulb, which corresponds to the amount of current being generated by moving the magnet.  A prototype that includes a sound for this can be seen at https://bayes.colorado.edu/dev/html/phet-io-wrapper-sonification/1.0.0-dev.126/build/phet-io-wrapper-sonification/faradays-law/html/faradays-law-sonification.htm

[2020-07-23 18:39] pixelzoom commented on #161
7/23/20 dev meeting:

OK to turn on sound, no one has plans to release this sim off of master anytime soon.

[2020-07-27 14:51] Ashton-Morris commented on #162
[I have tried to lower the attack and have a low and high option now. ](https://drive.google.com/drive/folders/1WHcnidTFlNuX8SmS6jtOl_8_2acf3yfR?usp=sharing)

coil-bump-option-3-low.wav
coil-bump-option-3-high.mp3
coil-bump-option-3-high.wav
coil-bump-option-3-low.mp3

[2020-07-27 14:54] Ashton-Morris commented on #162
Also after playing with the current sonified version I realized that the previous sound has completely colorized my thinking on the sound. Currently it sounds like 1.2. 2.1. but with beeps and clicks to me.

After muting it for a long while I realized that I might be overthinking it a bit. I think we should start with regular radio button sounds first and then see if we feel anything is missing.

[2020-07-27 18:17] Ashton-Morris commented on #163
These form a chord. Perhaps we can have them individually fade in. My thoughts are "chord-g3" 1% of meter to 100%, "chord-e4" 33% of meter to 100%, and "chord-c5" 66% of meter to 100%.  That way at 100% they all form a chord but at 25% you only hear one note.

[Here are all the files.](https://drive.google.com/drive/folders/1WHcnidTFlNuX8SmS6jtOl_8_2acf3yfR?usp=sharing)

- lightbulb-sound-chord-g3

[2020-07-28 19:14] jbphet opened #164 "Incorrect documentation (and probably behavior) in MagnetRegionManager"
I came across with while working on https://github.com/phetsims/faradays-law/issues/162.  In `MagnetRegionManager.getTouchingCoil`, the documentation doesn't match what the function does, and what it does relies on the order in which restricted bounds are placed into what was a private variable, which seems fragile.  I'll mark the area in the code with a TODO.

This appears to be related to descri

[2020-07-28 21:53] jbphet commented on #164
@emily-phet says that @jessegreenberg is going to be working on description, so I'm passing this on to him.

[2020-07-28 23:59] jbphet commented on #163
I integrated the `lightbulb-sound-chord` files listed above and we reviewed it in today's sound design meeting.  It's reasonably good, but we'd like to try for something a little less 'heavy'.  Words like 'brighter', 'shimmery', and 'sparkly' were used to describe what we think we're after.  For next week, we'd like to:

- [ ] Try some alternate sounds based on the words above.  @Ashton-Morris wil

[2020-07-28 23:59] jbphet commented on #163
For reference, here is a dev version with the `lightbulb-sound-chord` sounds used for the light bulb:  https://phet-dev.colorado.edu/html/faradays-law/1.4.0-dev.57/phet/faradays-law_en_phet.html.

[2020-07-29 17:40] jbphet commented on #162
We reviewed these sounds at the 7/28/2020 sound design meeting and decided we all quite liked `coil-bump-option-3-low` and `coil-bump-option-3-high` sounds.  They have been integrated into the sim and we did the initial volume adjustment during the meeting.

@Ashton-Morris - I have renamed these sound in GitHub to `coil-bump-low` and `coil-bump-high` in case you need to keep a record of the source

[2020-07-30 17:22] Ashton-Morris commented on #163
Added some sounds to our folder. Still working on some other ideas.

- lightbulb-chord-idea-3-g5.mp3
- lightbulb-chord-idea-3-g5.wav
- lightbulb-chord-idea-3-c5.mp3
- lightbulb-chord-idea-3-c5.wav
- lightbulb-chord-idea-3-g4.mp3
- lightbulb-chord-idea-3-g4.wav
- lightbulb-chord-idea-3-c4.mp3
- lightbulb-chord-idea-3-c4.wav
- lightbulb-chord-idea-3-g3.mp3
- lightbulb-chord-idea-3-g3.wav
- lightbulb

[2020-07-31 16:43] Ashton-Morris commented on #163
Also I created a video of how it would sound with a filter on all of the tones. The first half of this video is without a filter and the second half is with a filter when the light gets brighter and dimmer.

[Video here.](https://drive.google.com/file/d/1Oyy70RZoNOQYfJJJ3pjKQfBSWrFJXyoa/view?usp=sharing)

[2020-08-03 18:46] emily-phet opened #165 "Current/light bulb, and voltage sounds"
@Ashton-Morris @jbphet

Please see the following link (to a section of the design doc) for my notes re designs for FL. The first section are my notes directly to you both re tomorrow's meeting (including some requests for ideas / sounds for @Ashton-Morris), and just below that is a summary of what I took from reviewing the demo videos and meeting notes from 2018.
https://docs.google.com/document/d

[2020-08-03 21:27] Ashton-Morris commented on #165
I have created another example video showing a few ideas. Will cross post with our similar issue.

- I have a sine that fades in a saturated sine when the voltage meter is at 75% and above.
- I have two chords that play for positive and negative that are more similar to what Mike had in his example.
- I also show two different click sounds for when the voltage meter is at max.

[Video here.](https

[2020-08-04 16:59] emily-phet commented on #165
@Ashton-Morris Thanks!

A few thoughts on variants:
- I like the "smoothness" of the sine sound, and find this a relatively pleasant sine wave sound...but the second demo option is more "pleasant". Is there any way to find a sound that feels more like something between these two demos, where  the second demo sound sounds just a lit bit more synth-y? So it's loses a small amount of that recognizabl

[2020-08-04 21:49] jbphet opened #166 "Pickup and drop sounds"
This is a child issue of #161.

In today's sound design meeting we tried out the standard pickup and drop sounds.  We decided that this sim needs something a bit more "real" sounding, since we have the realistic coil bump sounds.

We're looking for something that isn't super sophisticated, but has a little bit more of a feeling of "mass" to it.

@Ashton-Morris - please create some candidates in pa

[2020-08-04 23:04] jbphet commented on #165
This issue is a duplicate of https://github.com/phetsims/faradays-law/issues/163.  I've copied the comments above into that issue and will now close that one.

[2020-08-04 23:04] #165 closed

[2020-08-04 23:05] jbphet commented on #163
A duplicate issue was accidentally created in https://github.com/phetsims/faradays-law/issues/165.  I'm going to paste the comments from that issue below and then close it to avoid confusion.

@emily-phet said:

https://docs.google.com/document/d/1_npYspPwkY1zrEOTUF_ITzTEZ_Qlra2i__4wap7pzP0/edit#heading=h.izqpmmc70elq

@Ashton-Morris said:

@emily-phet said:

[2020-08-04 23:39] jbphet commented on #163
At today's sound design meeting we decided that the next steps are:

- [ ] @Ashton-Morris will create some sounds that we will try for the voltage that are based on the video he presented.  We need a root, major 3rd, perfect 5th, dominant 7th, major 7th, and octave, and plan to build a simple triad when the voltmeter is not showing and add in the octave or 7th based on whether the voltage is readi

[2020-08-04 23:44] jbphet opened #167 "Boundary sounds"
This is a child issue of #161.

I did a prototype demo of sound for when the magnet reaches the drag bounds at today's sound design using `generalBoundaryBoopSoundPlayer`.  The consensus was that these sounded a bit too unphysical in this particular context.  For next week we'd like to try the outer boundary sound used in gravity-force-lab.

[2020-08-05 17:47] jessegreenberg opened #168 "Review description implementation"
We are getting ready to work on this sim again for description and other a11y features. This issue is to review where the sim is currently in that process.

[2020-08-05 17:48] jessegreenberg opened #169 "Review description implementation"
We are getting ready to work on this sim again for description and other a11y features. This issue is to review where the sim is currently in that process.

[2020-08-05 19:02] jessegreenberg commented on #168
Hmm, with my temporarily slow connection github opened up two issues for this. See #169, closing.

[2020-08-05 19:02] #168 closed

[2020-08-05 19:20] jessegreenberg commented on #169
I created an a11y-view for this sim and added it to the list of sims that support description.  The sim is working really well, and the PDOM looks well formed! Things generally update to describe the state of the sim. I only notice a couple of punctuation errors. A custom behavior for the magnet

Some things that I noticed:
- I don't see description or alerts of the voltage or light bulb brightnes

[2020-08-05 20:03] jessegreenberg commented on #169
#156 is one cleanup issue to do now.

[2020-08-05 21:58] samreid commented on #167
A CT error started showing up in Faraday's Law after https://github.com/phetsims/faradays-law/commit/f16646e2c1aee3908a5d68801fce01bc793b706a

[2020-08-06 14:58] KatieWoe opened #170 "CT converting circular structure to JSON"
[code]

[2020-08-06 15:46] Ashton-Morris commented on #163
[Here are the new files](https://drive.google.com/drive/folders/1WHcnidTFlNuX8SmS6jtOl_8_2acf3yfR?usp=sharing)

- voltage-max-click.wav
- lightbulb-voltage-chord-c5.mp3
- lightbulb-voltage-chord-c5.wav
- lightbulb-voltage-chord-b4.mp3
- lightbulb-voltage-chord-b4.wav
- lightbulb-voltage-chord-a-sharp-4.mp3
- lightbulb-voltage-chord-a-sharp-4.wav
- lightbulb-voltage-chord-g4.mp3
- lightbulb-voltage

[2020-08-06 16:59] Ashton-Morris commented on #166
[Here are some metal sounds. Two pickup versions
](https://drive.google.com/drive/folders/1WHcnidTFlNuX8SmS6jtOl_8_2acf3yfR?usp=sharing)
pickup-magnet.wav
put-down-magnet.mp3
put-down-magnet.wav
pickup-magnet-just-metal.mp3
pickup-magnet-just-metal.wav
pickup-magnet.mp3

And here are some references for listening. These are previous non-tonal pickup and drop sounds that we've tried.

previous-pick

[2020-08-07 16:16] jbphet commented on #170
Fixed, closing.

[2020-08-07 16:16] #170 closed

[2020-08-10 23:15] jbphet commented on #166
The latest sounds have been integrated and I added an "Options" dialog so that we can compare them easily.  We'll review in the 8/11/2020 sound design meeting.

[2020-08-11 14:51] KatieWoe opened #171 "CT required tandems must be supplied"
[code]

[2020-08-11 19:26] jbphet commented on #171
This was due to an options dialog that I added to test out different sounds.  I've instrumented it, even though it is temporary, and the phet-io tests are passing in my local environment.  I'll keep an eye on CT and close if and when things clear up.

[2020-08-11 21:50] jbphet commented on #171
CT looks clear, closing.

[2020-08-11 21:50] #171 closed

[2020-08-11 22:13] #162 closed

[2020-08-11 22:15] jbphet commented on #167
Reviewed and approved in today's sound design meeting.  Closing.

[2020-08-11 22:15] #167 closed

[2020-08-11 22:52] jbphet commented on #166
Reviewed these sounds in the 8/11/2020 sound design meeting, here are the thoughts:

- We prefer `pickup-magnet-just-metal` over `pickup-magnet`.  Something about the latter kind of sounded like a pick axe.
- The metallic sounds are almost too real sounding, since that are very real sounds, but picking up a magnet wouldn't really sound like this.  Can these sounds be made a little more "cartoonish

[2020-08-11 23:45] jbphet commented on #163
I integrated the latest sounds, and we reviewed them in today's sound design meeting.  Next steps:

- [ ] The sounds for the voltage reaching the max and min values was a bit more squishy and bassy than we were after, and @Ashton-Morris was a bit surprised by how they sounded in context.  Something may have happened during the export process.  @Ashton-Morris will create some new ones to try for ne

[2020-08-12 16:45] jbphet commented on #163
@jessegreenberg, @terracoda, @zepumph, and @Matthew-Moore240: The sound design team would like your input on an element of the sound design for Faraday's Law.  Can you please play around with the version linked below and answer these questions:

+ Do you think that the sound used to convey the voltage is reasonably effective and pleasing?  If you think something else might work better, please desc

[2020-08-13 13:16] terracoda commented on #163
I think these sounds are really amazing!
- I think the voltage sound is pleasing, at least it is not at all annoying. I didn't have a feeling that I want to stop moving the magnet.
- The volt meter sound is subtle, but I think it is discernible and distinguishable and the positive and negative tones are also distinguishable. I think that's saying a lot from me because I often don't hear the things

[2020-08-13 13:21] terracoda commented on #163
Question 2: Is there any difference between the sound of flipping the magnet inside the small cool, and flipping the magnet inside the large coil?

There is a difference in the amount of light coming the light bulb, so I was wondering if there might be a small difference in duration or volume that I may not be hearing in these two constrasting cases?

[2020-08-13 14:53] jessegreenberg commented on #163
I like the sound quite a bit, I think it is reasonably pleasing, I found the difference in sound with voltmeter visible to be distinguishable, as well as difference between positive/negative voltage.

Unrelated to above questions, I did notice just a little bit of distortion/crackling when the voltage is large. Perhaps it is just my crummy headphones, but thought I would mention.

[2020-08-13 15:11] KatieWoe opened #172 "CT get magnet edge notification failed"
[code]

[2020-08-13 16:29] Ashton-Morris commented on #163
@jbphet I figured out the issue with the voltage max click file. I accidentally forgot to solo the track with the click on it so I exported any other sounds that were in other tracks along with the click. I have fixed it here.

[voltage-max-click-fixed.mp3](https://drive.google.com/file/d/1Rw19DpK3L7aSLB-WL7FdMGA2vK-mcghd/view?usp=sharing)

[2020-08-13 16:56] Ashton-Morris commented on #166
[I have three FM versions to test out here.](https://drive.google.com/drive/folders/1WHcnidTFlNuX8SmS6jtOl_8_2acf3yfR?usp=sharing)

- put-down-magnet-fm-v3.mp3
- put-down-magnet-fm-v3.wav
- pickup-magnet-fm-v3.mp3
- pickup-magnet-fm-v3.wav
- put-down-magnet-fm-v2.mp3
- put-down-magnet-fm-v2.wav
- pickup-magnet-fm-v2.mp3
- pickup-magnet-fm-v2.wav
- put-down-magnet-fm-v1.mp3
- put-down-magnet-fm-v1.

[2020-08-14 15:31] jbphet commented on #172
This appears to be a failure of the unit tests associated with the `MagnetRegionManager`.  I can't seem to duplicate it locally, and I don't know what it is indicating.  @jessegreenberg - `MagnetRegionManager` is part of the a11y support, and I believe you're picking up the a11y mantle for this sim.  Can you please take a look?  If nothing else, you could always just get rid of the test that's fai

[2020-08-14 21:27] jessegreenberg commented on #172
Thanks @jbphet - the assertion is

Error: Assertion failed: phetioID already registered: faradaysLaw.general.model.topCoilVisibleProperty

I think it is because tests create more than one FaradaysLawModel, perhaps without cleaning it up/disposing? Maybe we can use one model for all tests. I am able to duplicate the problem by running unit tests with `brand=phet-io` query param.

[2020-08-14 21:38] jessegreenberg commented on #172
OK, should be fixed after the above commit.

[2020-08-14 21:38] #172 closed

[2020-08-17 16:41] zepumph commented on #163
Yes I like it a lot. I get Zelda ocarina of time water temple vibes. It feels really pleasant to me. I do think that it is possible to get tired of it. After a while it felt a bit like a child breathing through a harmonica was following me around.
From a sound-only audit, I didn't like that the sound stopped so abruptly. I then began to realize that it was because it was following the model, and i